// Add custom fonts by visiting and search https://fonts.google.com
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
 
// Import utilities.
@import 'utils/typography';
@import 'utils/colors';
@import 'utils/mixins';
@import 'utils/variables';

/* Global styles */
@import 'global/window';
@import 'global/grid';
@import 'global/flex';
@import 'global/margin';
@import 'global/padding';
@import 'global/creators';

/* Styles limited to dc20rpg sheets */
.dc20rpg {
  @import 'components/globals';
  @import 'components/effects';
  @import 'components/dialogs';
  @import 'components/item-table';
  @import 'components/tooltip';

  .actor_v2 {
    display: flex;
    flex-direction: column;
    @import 'components/actor/character';
    @import 'components/actor/common';
  }

  .item_v2 {
    @import 'components/item/item';
  }
}

/* Chat log */
@import 'components/chat';
@import 'components/sidebar';