# IDE
.idea/
.vs/

# Node Modules
node_modules/
npm-debug.log

# Foundry
*.lock
jsconfig.json
foundry

# Packs
packs/**/*.log
packs/**/*.old
packs/**/*.ldb
packs/**/LOCK
packs/**/MANIFEST
packs/**/CURRENT
packs/**/LOG
packs/**/MANIFEST-*

# Scripts
release.sh
unpack.sh
pack.sh
data-update.sh
playground.mjs

# Other
notes.txt