$primary-color: var(--primary-color);
$primary-light: var(--primary-light);
$primary-dark: var(--primary-dark);
$primary-darker: var(--primary-darker);

$background-banner: var(--background-banner);
$background-color: var(--background-color);

$secondary-color: var(--secondary-color);
$secondary-dark: var(--secondary-dark);
$secondary-darker: var(--secondary-darker);
$secondary-lighter: var(--secondary-lighter);
$secondary-light-alpha: var(--secondary-light-alpha);
$menu-line: var(--menu-line);

$golden: var(--golden);
$dark-red: var(--dark-red);

$unequipped: var(--unequipped);
$equipped: var(--equipped);
$attuned: var(--attuned);
$activated-effect: var(--activated-effect);
$item-selected: var(--item-selected);

$action-point: var(--action-point);
$stamina:  var(--stamina);
$mana: var(--mana);
$health-point: var(--health-point);
$health: var(--health);

$crit: var(--crit);
$crit-background: var(--crit-background);
$fail: var(--fail);
$fail-background: var(--fail-background);