$primary-color: var(--primary-color);
$primary-light: var(--primary-light);
$primary-dark: var(--primary-dark);
$primary-darker: var(--primary-darker);

$background-banner: var(--background-banner);
$background-color: var(--background-color);

$secondary-color: var(--secondary-color);
$secondary-dark: var(--secondary-dark);
$secondary-darker: var(--secondary-darker);
$secondary-lighter: var(--secondary-lighter);
$secondary-light-alpha: var(--secondary-light-alpha);

$table-1: var(--table-1);
$table-2: var(--table-2); 

$dark-red: var(--dark-red);
$unequipped: var(--unequipped);
$equipped: var(--equipped);
$attuned: var(--attuned);
$activated-effect: var(--activated-effect);
$item-selected: var(--item-selected);

$action-point: var(--action-point);
$stamina:  var(--stamina);
$mana: var(--mana);
$health-point: var(--health-point);
$health: var(--health);
$grit: var(--grit);

$health-bar: var(--health-bar);
$temp-health-bar: var(--temp-health-bar);
$stamina-bar: var(--stamina-bar);
$mana-bar: var(--mana-bar);
$grit-bar: var(--grit-bar);

$crit: var(--crit);
$crit-background: var(--crit-background);
$fail: var(--fail);
$fail-background: var(--fail-background);

// PC Sheet colors
$pc-main:  var(--pc-main);
$pc-main-light: var(--pc-main-light);
$pc-main-lighter: var(--pc-main-lighter);
$pc-main-dark: var(--pc-main-dark);
$pc-secondary:  var(--pc-secondary);
$pc-secondary-light: var(--pc-secondary-light);
$pc-secondary-light-alpha: var(--pc-secondary-light-alpha);
$pc-secondary-dark: var(--pc-secondary-dark);
$pc-secondary-darker: var(--pc-secondary-darker);
$pc-text-color-1: var(--pc-text-color-1);
$pc-text-color-2: var(--pc-text-color-2);
$pc-background: var(--pc-background);
$pc-table-1: var(--pc-table-1);
$pc-table-2: var(--pc-table-2);
$pc-header-image-color: var(--pc-header-image-color);
$pc-sidetab-image-color: var(--pc-sidetab-image-color);
$pc-unique-item-color: var(--pc-unique-item-color);

// NPC Sheet colors
$npc-main:  var(--npc-main);
$npc-main-light: var(--npc-main-light);
$npc-main-lighter: var(--npc-main-lighter);
$npc-main-dark: var(--npc-main-dark);
$npc-secondary:  var(--npc-secondary);
$npc-secondary-light: var(--npc-secondary-light);
$npc-secondary-light-alpha: var(--npc-secondary-light-alpha);
$npc-secondary-dark: var(--npc-secondary-dark);
$npc-secondary-darker: var(--npc-secondary-darker);
$npc-text-color-1: var(--npc-text-color-1);
$npc-text-color-2: var(--npc-text-color-2);
$npc-background: var(--npc-background);
$npc-table-1: var(--npc-table-1);
$npc-table-2: var(--npc-table-2);
$npc-header-image-color: var(--npc-header-image-color);
$npc-sidetab-image-color: var(--npc-sidetab-image-color);