$silver: #c0c0c0;
$dark-border: #646464;
$dc-purple: #741a89;
$baner: #ac45d5a6;
$dark-red: #b20000;
$golden: #ecde1e;
$menu-line: #0000003b;
$dark-gray: #262626;;
$standard-gray: #9e9e9e86;
$unequipped: #c5c5c5a3;
$equipped: #88a16f;
$attuned: #c7c172;
$activated-effect: #77adad;
$menu-label: #383838;
$light-purple: #917996;
$light-prop-purple: #9f93a2;
$dark-prop-purple: #7b5e80;
$white: #dfdfdf;
$white-transparent: #dfdfdfcc;

$action-point: #610064;
$stamina:  #b86b0d;
$mana: #124b8b;
$health-point: #921a1a;
$health: #138241;
$reaction: #0e640b;

$crit: #0e8b1e;
$crit-background: #4f9f5c;
$fail: #b10000;
$fail-background: #914a4a;