$font-primary: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$font-secondary: 'Roboto', sans-serif;
$dc20-font: 'A Absolute Empire';

/* Add new Fonts */
@font-face {
  font-family: 'A Absolute Empire';
  src: url('fonts/aAbsoluteEmpire.woff') format('woff');
  /* Optionally specify font weight and style */
  font-weight: normal;
  font-style: normal;
}