$dc20-font: 'A Absolute Empire';
$font-header: 'Humaroid';
$font-default: "Signika", sans-serif;

/* Add new Fonts */
@font-face {
  font-family: 'A Absolute Empire';
  src: url('fonts/aAbsoluteEmpire.woff') format('woff');
}

@font-face {
  font-family: 'Humaroid';
  src: url('fonts/Humaroid.woff') format('woff');
}