<div class="config-row">
  <label>Action Points Cost </label>
  <input type="text" name="system.costs.resources.actionPoint" value="{{system.costs.resources.actionPoint}}" placeholder="-" data-dtype="Number">
</div>
<div class="config-row">
  <label>Stamina Cost </label>
  <input type="text" name="system.costs.resources.stamina" value="{{system.costs.resources.stamina}}" placeholder="-" data-dtype="Number">
</div>
<div class="config-row">
  <label>Mana Cost </label>
  <input type="text" name="system.costs.resources.mana" value="{{system.costs.resources.mana}}" placeholder="-" data-dtype="Number">
</div>
<div class="config-row">
  <label>Health Cost </label>
  <input type="text" name="system.costs.resources.health" value="{{system.costs.resources.health}}" placeholder="-" data-dtype="Number">
</div>