<div class="usage-cost grid grid-2col">
  <div class="cost">
    <label>Action Points Cost </label>
    <input type="text" name="system.usageCost.actionPointCost" value="{{system.usageCost.actionPointCost}}" placeholder="-" data-dtype="Number">
  </div>
  <div class="cost">
    <label>Stamina Cost </label>
    <input type="text" name="system.usageCost.staminaCost" value="{{system.usageCost.staminaCost}}" placeholder="-" data-dtype="Number">
  </div>
  <div class="cost">
    <label>Mana Cost </label>
    <input type="text" name="system.usageCost.manaCost" value="{{system.usageCost.manaCost}}" placeholder="-" data-dtype="Number">
  </div>
  <div class="cost">
    <label>Health Cost </label>
    <input type="text" name="system.usageCost.healthCost" value="{{system.usageCost.healthCost}}" placeholder="-" data-dtype="Number">
  </div>
</div>