<div class="item-spells">
  <label>Spell Properties</label>
  {{#each system.components as |component key|}}
  {{#if component.active}}
  <div class="property">
    <span>{{labelFromKey key @root.config.components}}</span>
    {{#if (arrayIncludes key arrayString="material")}}
    <span>:&nbsp{{component.description}}({{component.cost}} GP)</span>
      {{#if component.consumed}}<span>&nbsp[Consumed On Use]</span>{{/if}}
    {{/if}}
  </div>
  {{/if}}
  {{/each}}
</div>