<div class="roll-check">
  <div class="config-row">
    <label>Critical Threshold </label>
    <input type="text" name="system.crit.treshold" value="{{system.crit.treshold}}" data-dtype="Number" placeholder="-">
  </div>
  <div class="config-row">
    <label>Critical Bonus </label>
    <input type="text" name="system.crit.bonus" value="{{system.crit.bonus}}" data-dtype="Number" placeholder="-">
  </div>
  <div class="config-row">
    <label>Heavy Hit Description </label>
    <input type="text" name="system.descriptions.heavy" value="{{system.descriptions.heavy}}">
  </div>
  <div class="config-row">
    <label>Brutal Hit Description </label>
    <input type="text" name="system.descriptions.brutal" value="{{system.descriptions.brutal}}">
  </div>
</div>