<div class="grid grid-8col">
  {{!-- Left column --}}
  <div class="grid-span-3">
      {{!-- Core Skills --}}
      {{> "systems/dc20rpg/templates/actor/parts/skills-parts/actor-skills-core.hbs"}}
  </div>

  {{!-- Right column --}}
  <div class="grid-span-5">
    {{!-- Proficiences --}}
    {{> "systems/dc20rpg/templates/actor/parts/skills-parts/actor-skills-proficiencies.hbs"}}
    {{!-- Trade Skills --}}
    {{> "systems/dc20rpg/templates/actor/parts/skills-parts/actor-skills-trade.hbs"}}
    {{!-- Languages --}}
    {{> "systems/dc20rpg/templates/actor/parts/skills-parts/actor-skills-languages.hbs"}}
  </div>
</div>