<div class="tab core-tab" data-group="primary" data-tab="core">
  <div class="grid grid-8col grid-no-margin">
    {{!-- Left column --}}
    <div class="grid-span-3">
        {{PARTIAL "Skills"}}
    </div>

    {{!-- Right column --}}
    <div class="grid-span-5">
      {{PARTIAL "Vision"}}
      {{PARTIAL "Masteries"}}
      {{PARTIAL "Damage Reduction"}}
    </div>
  </div>
</div>