{{!-- Table --}}
<div class="table-name">
  {{!-- Header --}}
  <div class="items-header">
    <div class="column column-img"></div>
    <div class="column column-roll"></div>
    <div class="column column-name">Name</div>
    <div class="column column-cost">Action Points</div>
    <div class="column column-charges">Charges</div>
    <div class="column column-weight">Weight</div>
    <div class="column column-equip"></div>
    <div class="column column-config">
      <a class="item-control item-create" title="Create item" data-type="item.category"><i class="fas fa-plus"></i> Add item</a>
    </div>
  </div>
  {{!-- Row --}}
</div>








{{!-- <img src="{{actor.img}}"/> --}}