{{!-- Class and Subclass --}}
{{> "systems/dc20rpg/templates/actor/parts/items-parts/actor-items-row-class.hbs"}}

{{!-- Table for each tableName --}}
{{#each features as |tableItems key|}}
<div class="table-name {{key}}">
  {{!-- Header --}}
  <div class="item-header">
    <div class="column column-name">{{key}}</div>

    <div class="column column-cost">Usage Cost</div>
    <div class="column column-charges">Charges</div>
    <div class="column column-config">
      <a class="item-create" title="Create item" data-tab="features"><i class="fas fa-plus"></i> Add item</a>
    </div>
  </div>
  {{!-- Row --}}
  {{#each tableItems}}
  <div class="item-row {{#if system.statuses.equipped}} equipped {{/if}} {{#if system.statuses.attuned}} attuned {{/if}}">
    {{> "systems/dc20rpg/templates/actor/parts/items-parts/actor-items-row-roll.hbs"}}
    {{> "systems/dc20rpg/templates/actor/parts/items-parts/actor-items-row-usage.hbs"}}
    {{> "systems/dc20rpg/templates/actor/parts/items-parts/actor-items-row-charges.hbs"}}
    <div class="row-column row-config">
      {{> "systems/dc20rpg/templates/actor/parts/items-parts/actor-items-row-config.hbs"}}
    </div>
  </div>
  {{/each}}
</div>
{{/each}}