<div class="tab skills-tab" data-group="primary" data-tab="skills">
  <div class="grid grid-8col grid-no-margin">
    {{!-- Left column --}}
    <div class="grid-span-3">
        {{PARTIAL "Core Skills"}}
    </div>

    {{!-- Right column --}}
    <div class="grid-span-5">
      {{PARTIAL "Proficiencies"}}
      {{PARTIAL "Trade Skills"}}
      {{PARTIAL "Languages"}}
    </div>
  </div>
</div>