{{!-- Left Header --}}
<div class="left-header">
  {{> "systems/dc20rpg/templates/actor/parts/header-parts/actor-header-left.hbs"}}
</div>

{{!-- Right Header --}}
<div class="right-header grid-span-3 flex-group-top">
  {{!-- Top Row (Character info) --}}
  {{> "systems/dc20rpg/templates/actor/parts/header-parts/actor-header-character.hbs"}}

  {{!-- Middle Row (Attributes) --}}
  {{> "systems/dc20rpg/templates/actor/parts/header-parts/actor-header-attributes.hbs"}}

  {{!-- Bottom Row --}}
  <div class="bottom-row grid grid-24col">
    {{!-- Defences --}}
    {{> "systems/dc20rpg/templates/actor/parts/header-parts/actor-header-defences.hbs"}}
    {{!-- Resistances --}}
    {{> "systems/dc20rpg/templates/actor/parts/header-parts/actor-header-resistances.hbs"}}
    {{!-- Movement --}}
    {{> "systems/dc20rpg/templates/actor/parts/header-parts/actor-header-speed.hbs"}}
    {{!-- Action Points --}}
    {{> "systems/dc20rpg/templates/actor/parts/header-parts/actor-header-action-points.hbs"}}
  </div>
</div>