.small-button {
  height: 23px;
  width: 23px;
  padding: 1px;
  border-radius: 5px;
  border: 2px solid $dc-purple;
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  .fa-lg {
    margin-top: 9px;
  }
}

.small-button.active {
  background-color: gray;
  color: $white;
  border: 2px solid $white;
}