.small-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27px;
  width: 27px;
  padding: 1px;
  border-radius: 15px;
  color: $dc-purple;
  margin-top: -2px;
  border: 2px solid $dark-border;
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  .fa-lg {
    margin-top: 2px;
    font-size: 1.35em;
  }

  &.edit-mode {
    display: flex;
    width: fit-content;
    padding: 0 5px;
    border-radius: 5px;
    margin-right: 10px;

    span {
      margin-top: 4px;
      margin-left: 2px;
      font-family: $dc20-font;
      font-size: 12px;
    }
  }
}

.small-button.active {
  background-color: $dc-purple;
  color: $golden;
  border: 2px solid $golden;
}

.border-box {
  position: relative;
  padding: 5px;
  border: 2px solid $silver;
  &:before, &:after {
    content: "•";
    position: absolute;
    width: 14px;
    height: 14px;
    font-size: 14px;
    color: $silver;
    border: 2px solid $silver;
    line-height: 12px;
    text-align: center;
    z-index: 1;
  }
  &:before {
    left: 5px;
    border-radius: 0 0 10px 0;
  }
  &:after {
    right: 5px;
    top: 5px;
    border-radius: 0 0 0 10px;
  }
  .box-inner {
    position: relative;
    border: 2px solid $silver;
    padding: 15px;
    &:before, &:after {
      content: "•";
      position: absolute;
      width: 14px;
      height: 14px;
      font-size: 14px;
      color: $silver;
      border: 2px solid $silver;
      line-height: 12px;
      bottom: -2px;
      text-align: center;
    }
    &:before {
      left: -2px;
      border-radius: 0 10px 0 0;
    }
    &:after {
      right: -2px;
      border-radius: 10px 0 0 0;
    }
  }
  .box-inner.no-padding {
    padding: 0;
  }
}

.border-box.no-small-boxes {
  &:before, &:after {
    display: none;
  }
  
  .box-inner {
    &:before, &:after {
      display: none;
    }
  }
}

.letter-circle-icon {

  span, i, a {
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-weight: bold;
    font-size: 18px;
    background-color: $dc-purple;

    width: 40px;
    height: 40px;
    padding: 7px 6px 5px 6px;
    border: 3px solid $dark-border;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    font-family: $dc20-font;
  }

  &.clickable {
    a:hover {
      box-shadow: 0 0 5px 3px #fd0000bd inset;
    }
  }

  &.small {
    span, i, a {
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      font-size: 15px;
      border: 2px solid $dc-purple;
      width: 25px;
      height: 25px;
    }
  }
}