.small-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27px;
  width: 27px;
  padding: 1px;
  border-radius: 15px;
  color: $primary-color;
  margin-top: -2px;
  border: 2px solid $secondary-dark;
  background-color: $secondary-lighter;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  .fa-lg {
    margin-top: 2px;
    font-size: 1.35em;
  }

  &.edit-mode {
    display: flex;
    width: fit-content;
    padding: 0 5px;
    border-radius: 5px;
    margin-right: 10px;

    span {
      margin-top: 4px;
      margin-left: 2px;
      font-family: $dc20-font;
      font-size: 12px;
    }
  }
}

.border-box {
  position: relative;
  padding: 5px;
  border: 2px solid $secondary-color;
  &:before, &:after {
    content: "•";
    position: absolute;
    width: 14px;
    height: 14px;
    font-size: 14px;
    color: $secondary-color;
    border: 2px solid $secondary-color;
    line-height: 12px;
    text-align: center;
    z-index: 1;
  }
  &:before {
    left: 5px;
    border-radius: 0 0 10px 0;
  }
  &:after {
    right: 5px;
    top: 5px;
    border-radius: 0 0 0 10px;
  }
  .box-inner {
    position: relative;
    border: 2px solid $secondary-color;
    padding: 15px;
    &:before, &:after {
      content: "•";
      position: absolute;
      width: 14px;
      height: 14px;
      font-size: 14px;
      color: $secondary-color;
      border: 2px solid $secondary-color;
      line-height: 12px;
      bottom: -2px;
      text-align: center;
    }
    &:before {
      left: -2px;
      border-radius: 0 10px 0 0;
    }
    &:after {
      right: -2px;
      border-radius: 10px 0 0 0;
    }
  }
  .box-inner.no-padding {
    padding: 0;
  }
}

.border-box.no-small-boxes {
  &:before, &:after {
    display: none;
  }
  
  .box-inner {
    &:before, &:after {
      display: none;
    }
  }
}

.letter-circle-icon {

  span, i, a {
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-weight: bold;
    font-size: 18px;
    background-color: $primary-color;

    width: 40px;
    height: 40px;
    padding: 7px 6px 5px 6px;
    border: 3px solid $secondary-dark;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    font-family: $dc20-font;
  }

  &.clickable {
    a:hover {
      box-shadow: 0 0 5px 3px #fd0000bd inset;
    }
  }

  &.small {
    span, i, a {
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      font-size: 15px;
      border: 2px solid $primary-color;
      width: 25px;
      height: 25px;
    }
  }
}

.description-icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 1px;

  &:hover {
    .letter-circle-icon {

      i, span {
        box-shadow: 0 0 5px 3px #b1b1b1bd inset;
      }
    }
 
  }
}

.cost-printer {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */

  .cost {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px;

    &:last-child {
      margin-right: 0;
    }

    b {
      font-family: $font-header;
      text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }

    .cost-icon, .cost-img {
      margin-left: 2px;
      text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }

    .cost-img {
      border: 1px solid white;
      margin: 0;
    }

    &.ap {
      color: $action-point;
    }
    &.stamina {
      color: $stamina;
      margin-right: 5px;
    }
    &.mana {
      color: $mana;
    }
    &.health {
      color: $health;
    }
    &.grit {
      color: $grit;
    }
    &.restPoints {
      color: #00887d;
    }
  }
}