.margin-right-3 {
  margin-right: 3px !important;
}

.margin-left-3 {
  margin-left: 3px !important;
}

.margin-top-3 {
  margin-top: 3px !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.margin-left-5 {
  margin-left: 5px !important;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.margin-bottom-3 {
  margin-bottom: 3px !important;
}

.margin-top-auto {
  margin-top: auto !important;
}

.margin-5 {
  margin: 5px;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-left-10 {
  margin-left: 10px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.no-margin {
  margin: 0 !important;
}

.margin-top-1 {
  margin-top: 1px !important;
}

.margin-bottom-1 {
  margin-bottom: 1px !important;
}