#token-hud {
  
  .ap-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% + 10px);
    margin-top: calc(100% - 13px);
    position: relative;
    height: 0;

    .spend-ap, .regain-ap {
      margin: 0;
      font-size: 16px;
      width: 25px;
      height: 25px;
      min-height: 25px;
      flex: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
    }
  }

  .movement-wrapper {
    display: flex;
    align-items: center;

    .move-points-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      left: 6px;
      top: -21px;
      width: 40px;
      height: 0;
      z-index: -1;

      &.hidden {
        display: none;
      }
    }

    .move-icon {
      font-size: 14px;
      min-height: 20px !important;
      flex: 0;
      width: auto;
      border-radius: 0 0 4px 4px;
    }

    .move-points {
      font-size: 16px;
      height: 20px;
      width: auto;
      border-radius: 4px 4px 0 0;
    }
  }

  .status-wrapper {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  
  .status-stack {
    position: absolute;
    width: 0px;
    height: 0px;

    .letter-circle-icon {
      position: relative;
      width: 0px;
      height: 0px;

      span, i {
        width: 9px;
        height: 9px;          
        text-shadow: none;
        background-color: $secondary-color;
        color: $primary-color;
        border: 1px solid $primary-color;
        position: relative;
        top: -3px;
        left: 2px;
        font-size: 8px;
      }

      i {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        &::before {
          margin-left: 1px;
        }
      }

      span {
        font-weight: 100;
      }
    }
  }

  .active-auras {
    min-height: 54px;
    min-width: 100px;
    gap: 5px;
    margin: 0;
    padding: 5px;

    .aura-control {
      width: auto;
      border-radius: 3px;
      border: 2px solid $primary-dark;

      &:hover {
        box-shadow: 0 0 5px 1px $secondary-lighter;
        cursor: pointer;
      }
    }
  }
}