.window-app {
  font-family: $font-primary;
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

.dc20rpg.sheet.actor {
  min-width: 730px;
  min-height: 345px;
}

.dc20rpg.sheet.item {
  min-width: 590px;
  min-height: 145px;
}

.standard-gray-background {
  background-color: $standard-gray;
}