#tooltip, .locked-tooltip {

  .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 10px;

    h4 {
      margin-right: 10px;
      margin-bottom: 0;
    }

    .cost-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .custom-resource {
    display: flex;
    align-items: center;

    img {
      margin-left: 2px;
      min-width: 16px;
      min-height: 16px;
      width: 16px;
      height: 16px;
      border-radius: 2px;
      border: 1px solid $secondary-lighter;
    }
  }

  .ap, .sp, .mp, .hp, .grit, .rest, .reaction {
    text-shadow: -1px 0 $secondary-lighter, 0 1px $secondary-lighter, 1px 0 $secondary-lighter, 0 -1px $secondary-lighter;
  }

  .reaction {
    color: $primary-color;
  }

  .ap {
    color: $action-point;
  }

  .sp {
    color: $stamina;
  }

  .mp {
    color: $mana;
  }

  .hp {
    color: $health;
  }

  .grit {
    color: $grit;
  }

  .rest {
    color: #00887d;
  }
}

.window-app {
  font-family: $font-default;

  .description-box {
    height: 100%;
    
    .editor {
      min-height: 40px;
      width: 100%;
      margin: 3px 0;
      height: 100%;
    }
  }

  table {
    border: 1px solid $secondary-dark;
    
    th {
      background-color: $secondary-dark;
      color: $secondary-lighter;
    }

    th, td {
      padding: 3px;
      text-align: center;
      border: 1px solid $secondary-darker;
    }
  }
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

.dc20rpg.sheet.actor {
  min-width: 790px;
  min-height: $char-sheet-min-height;

  button {
    min-height: 0;
  }
}

.dc20rpg.sheet.actor.npc {
  min-width: 672px;
  min-height: $char-sheet-min-height;
}

.dc20rpg.sheet.actor.storage {
  min-width: 500px;
  min-height: $char-sheet-min-height;
}

.dc20rpg.sheet.actor.companion {
  min-width: 672px;
  min-height: $char-sheet-min-height;
}

.dc20rpg.sheet.actor {
  left: 225px;
  
  &:not(.minimized) {

    .window-header .window-title {
      margin-left: 70px;
    }
  }

  .window-content {
    padding: 0;
    margin-top: 200px;
    background-blend-mode: color-burn;
  }

  .window-header {
    z-index: 2;
    border-bottom: 1px solid $secondary-lighter;

    .header-button {
      z-index: 3;
    }
  }
}

.dc20rpg.sheet.actor.storage {
  &:not(.minimized) {

    .window-header .window-title {
      margin-left: 0px;
    }
  }

  .window-content {
    margin-top: 150px;
  }
}

.dc20rpg.sheet.item {
  min-width: 590px;
  min-height: 145px;

  .window-content {
    padding: 0;
  }
}

.dc20rpg.dialog {

  &.flex-dialog {
    height: fit-content !important;
    width: fit-content !important;
  }

  .window-content {
    padding: 0;
    min-width: 400px;
  }

  &.force-top {
    z-index: 999 !important;
  }
}

.block-color-purple_background {
  padding: 6px;
  margin: 3px 0;
  border: 2px solid #520364;
  background-color: #bba2c0;
  border-radius: 2px;
  color: black;
}

.block-color-blue_background {
  padding: 6px;
  margin: 3px 0;
  border: 2px solid #00277c;
  background-color: #a0afd1;
  border-radius: 2px;
  color: black;
}