.window-app {
  font-family: $font-primary;

  .description-box {
    height: 100%;
    
    .editor {
      min-height: 40px;
      width: 100%;
      margin: 3px 0;
      height: 100%;
    }
  }
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

.dc20rpg.sheet.actor {
  min-width: 755px;
  min-height: 345px;
}

.dc20rpg.sheet.actor {

  .window-content {
    padding: 0;
  }
  .window-header {
    z-index: 2;
  }
}


.dc20rpg.sheet.item {
  min-width: 590px;
  min-height: 145px;
}