<div class="roll-title">Targets</div>
<div class="targets-container">
  {{#each targets}}
  <div class="target">
    <img class="target-img" src="{{img}}"/>
    <div class="target-name">{{name}}</div>
    <div class="target-outcome {{#if miss}}miss{{/if}}">{{outcome}}</div>
  </div>
  {{/each}}
</div>