<div class="description-column">
  <div class="text-box description-text">
    {{#if system.statuses}}
      
      {{#if system.statuses.identified}} 
        {{editor enriched.description target="system.description" button=true editable=editable}}
      {{else}}
        <span class="unidentified"><br>UNIDENTIFIED</span>
      {{/if}}

    {{else}}
      {{editor enriched.description target="system.description" button=true editable=editable}}
    {{/if}}
  </div>
</div>