.item-sheet-body {

  .title-separator {
    border-top: 1px solid $menu-line;
    border-bottom: 1px solid $menu-line;
    padding: 5px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    height: 35px;

    label {
      font-size: 20px;
      font-weight: bold;
      color: $menu-label;
    }
  }

  .activable-box {
    padding: 2px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid $menu-line;
    border-radius: 5px;
    display: flex;
    justify-content: center; 
    align-items: center;
  }

  .activable-box.active {
    background-color: $light-purple;
    border-radius: 5px;
  }
    
  .activable-box.activable:hover {
    cursor: pointer;
    background-color: $dc-purple;
    border-radius: 5px;
  }

  .details, .scaling {

    .details-header {
      display:flex;
      align-items: center;
      justify-content: space-between;

      .identified {
        width: 24%;
      }
    }

    .sub-title {
      font-size: 15px;
      font-weight: bold;
      color: $menu-label;
      padding: 5px;
    }

    .purple-box-container {
      border-top: 1px solid $menu-line;
      padding-top: 3px;
      margin-top: 8px;
        
      .inline-property {
        width: 100%;
      }
    }
  }

  .enhancement {
    margin-top: 5px;
    border: 2px solid $dc-purple;
    border-radius: 5px;

    .enhancement-name {
      font-weight: bold;
      font-size: 18px;
      padding: 5px;
      border-bottom: 2px solid $dc-purple;
      background-color: $light-purple;
      display: flex;
      justify-content: space-between;
    }
  }

  .config-container {
    margin-bottom: 10px;
    font-size: 14px;

    .config-row {
      min-height: 32px;
      display: flex;
      align-items: center;
      padding: 3px;

      label {
        font-weight: bold;
        margin-right: 10px;
      }

      label.custom-formula {
        font-size: 12px;
        font-weight: normal;
        margin-left: 3px;
      }

      select {
        width: 50%;
        margin-left: auto;
      }

      .right-part-row {
        width: 50%;
        margin-left: auto;
        align-items: center;
        display: flex;

        span {
          font-weight: bold;
          margin: auto 5px;
          font-size: 18px;
        }

        a {
          margin-left: 3px;
        }

        .activable {
          margin-left: auto;
          margin-right: 1px;
        }
      }

      .add-formula {
        margin-left: auto;
      }

      .small-input {
        background-color: transparent;
        text-align: right;
        width: 30%;
        margin-left: auto;
      }

      .long-select {
        width: 70%;
      }
      
      input {
        background-color: transparent;
        text-align: right;
        width: 50%;
        margin-left: auto;
      }

      input.formula {
        font-size: 12px;
      }

      .adding-wrapper {
        margin-left: auto;

        a {
          margin-right: 2px;
        }
      }

      .formula {
        display: flex;
        align-items: center;
        margin-left: auto;
        width: 80%;
  
        input {
          width: 60%;
          padding-right: 10px;
          text-align: right;
          background-color: transparent;
          margin-right: 5px;
          margin-left: 5px;
        }

        input.large {
          width: 100%;
        }
  
        select {
          width: 40%;
          margin-right: 5px;
        }
      }

      .damage-formula {
        color: #790000;
      }
  
      .versatile-formula {
        color: #77008f;
        margin-left: 10px;
      }

      .each5-formula {
        color: #b37a00;
        margin-left: 10px;
      }

      .fail-formula {
        color: #790000;
        margin-left: 10px;
      }
  
      .healing-formula {
        color: #075307;
      }
  
      .other-formula {
        color: #002f64;
      }

      .formula-label {
        color: $menu-label;
        font-size: 16px;
      }

      .ap-cost {
        color: $action-point;
      }

      .stamina-cost {
        color: $stamina;
      } 
      
      .mana-cost {
        color: $mana;
      } 
      
      .health-cost {
        color: $health-point;
      }
    }   
  }

  .scaling {

    .value-container {
      border: 2px solid $dc-purple;
      border-radius: 10px;
      margin-bottom: 10px;
      
      .title {
        padding: 5px;
        border-bottom: 2px solid $dc-purple;
        border-radius: 9px 9px 0 0;
        background-color: $light-purple;

        label {
          font-size: 20px;
          font-weight: bold;
          color: white;
          -webkit-text-stroke: 0.5px black;
        }
      }

      .grid {
        gap: 0;
        padding: 0;
        margin: 0;
      }

      .scale {
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid $dc-purple;
        border-top: 1px solid $dc-purple;

        .level {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: 4px;
          padding-bottom: 4px;
          border-bottom: 1px solid $dc-purple;

          span {
            font-weight: bold;
          }
        }

        .value input {
          text-align: center;
          background-color: transparent;
          border: 0;
        }

        .level-span {
    
          span {
            font-size: 20px;
            font-weight: bold;
          }
        }
        
      }

      .scale:nth-child(11n) {
        border-right: 0;
      }

      .charges-reset {
        height: 23px;
        border: 1px solid $dc-purple;
        background-color: $white;
      }
    }
  }

  .description-tab {
    height: 100%;

    .description {
      display: grid;
      grid-template-columns: 120px auto;
      gap: 5px;
      height: 100%;
  
      .details-column {
        font-size: 12px;
        width: 120px;
        height: 100%;
        border-right: 1px solid $menu-line;
        
        .row {
          display: flex;
          align-items: center;
          text-align: right;
          margin-top: 1px;
          margin-right: 3px;

          .right-part-row {
            display: flex;
            flex: 1 1 auto;
          }
          
          span {
            margin-left: auto;
            margin-right: 3px;
          }
        }  

        label {
          font-size: 14px;
          flex: 0 0 auto;
          font-weight: bold;
        }

        select, input {
          background: transparent;
          border: 0;
        }

        select.wide, input.wide {
          width: 116px;
          border: 1px solid $menu-line;
        }
        
        .box-detail-container {

          .container-title {
            margin-top: 5px;

            label {
              font-size: 14px;
              font-weight: bold;
            }
          }
          
          .box-detail {
            font-weight: bold;
            border-radius: 5px;
            background-color: $light-purple;
            border: 1px solid $menu-line;
            text-align: center;
            margin: auto;
            margin-top: 4px;
            margin-right: 3px;
            padding: 2px;
          }
        }
      }
  
      .description-column {
        height: 100%;
        font-size: 13px;

        .text-box {

          .unidentified {
            font-size: 16px;
            font-weight: bold;
          }

          .editor {
            min-height: 40px;
            width: 100%;
            margin: 3px 0;

            .tox {
              height: 200px !important;
            
              .tox-editor-container {
                border: 2px solid $menu-line;
                border-radius: 10px;
              }
            
              .tox-edit-area {
                padding: 0 8px;
              }
            }
          }

          .section-label {
            font-size: 15px;
            font-weight: bold;
            text-decoration: underline;
          }
        }

        .description-text .editor .tox {
          height: 400px !important;
        }
        
        .extra-description {
          border-top: 1px solid $menu-line;
          margin-bottom: 4px;
          padding-top: 4px;

          label {
            font-weight: bold;
          }
        }
      }
    }
  }

  .advancements-table {

    .advancement-header {
      margin-top: 10px;
      grid-template-columns: 1fr 100px 100px 75px;
      display: grid;
      font-weight: bold;
      border: 1px solid $menu-line;
      border-radius: 5px;
      background-color: $light-purple;
    }

    .advancement-row {
      grid-template-columns: 1fr 100px 100px 75px;
      display: grid;
      margin-top: 2px;
      border: 1px solid $menu-line;
      background-color: $unequipped;
      border-radius: 5px;
    }

    .column {
      border-radius: 5px 0 0 5px;
      font-size: 13px;
      color: $dark-gray;
      border-right: 1px solid $menu-line;
      padding-top: 5px;
      padding-bottom: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 25px;
      
      img {
        width: 25px;
        height: 25px;
      }
    }

    .column:last-child {
      border: 0;
    }

    .column-name {
      padding-left: 10px;
      justify-content: left;
    }
  }
}