.item-sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: grid;
  grid-template-columns: min-content 1fr;
  justify-content: flex-start;
  margin-bottom: 3px;
  margin-right: 3px;

  .left-header {
    width: 100px;

    .item-img {
      width: 100px;
      height: 100px;
    }
  }

  .right-header {
    margin: 0 0 0 10px;

    .top-row {
      display: flex;
      height: 40px;

      .item-name {
        flex: 1;
        border: 1px solid $menu-line;
        margin: 0 5px 0 0;
        
        input {
          padding: 0px;
          font-size: 28px;
          height: 100%;
          width: 100%;
          padding-left: 3px;
          border: 0;
          background-color: transparent;
        }
      }

      .item-label {
        background-color: $standard-gray;
        border-radius: 10px;
        height: 100%;
        padding: 2px 10px;

        .item-type {
          text-align: center;
          font-size: 17px;
          font-weight: bold;
        }

        .item-subtype {
          text-align: center;
          font-size: 13px;
          font-weight: bold;
        }
      }

      .fallback {
        padding: 10px;

        .item-fallback {
          text-align: center;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }

    .bottom-row {

      .border-1 {
        border: 1px solid $menu-line;
      }

      .usage {

        .action-costs {
          border: 1px solid $menu-line;
          height: 27px;
          margin: 3px 0;
          gap: 0;
          
          .ap-cost, .stamina-cost, .mana-cost, .health-cost {
            height: 25px;
            border-right: 1px solid $menu-line;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $action-point;
  
            i {
              margin: 0 3px;
            }
          }

          .stamina-cost {
            color: $stamina;
          } 
          
          .mana-cost {
            color: $mana;
          } 
          
          .health-cost {
            color: $health-point;
            border-right: 0;
          }
        }
      }
      
      .action {

        .roll-details {
          border: 1px solid $menu-line;
          min-height: 27px;
          margin: 3px 0;
          gap: 0;
  
          .roll, .dc, .formula {
            padding: 0 5px;
            display: flex;
            align-items: center; 
            flex-wrap: wrap; 
          }

          .roll, .dc {
            border-right: 1px solid $menu-line;
          }
        }
      }

      .armor {
        margin: 3px 0;
        gap: 0;
        border: 1px solid $menu-line;
        min-height: 27px;

        .phisical-defence, .damage-reduction {
          padding: 0 5px;
          display: flex;
          align-items: center; 
          flex-wrap: wrap; 
        }

        .phisical-defence {
          border-right: 1px solid $menu-line;
        }
      }
    }
  }
}