.item-sheet-header {
  padding: 6px;
  display: flex;

  .item-img {
    min-width: 120px;
    margin-right: 5px;

    img {
      height: 120px;
      width: 120px;
      border-radius: 100%;
      border: 3px solid $primary-color;
    }
  }

  .identified-button {
    position: relative;
    height: 0;
    width: 0;

    a {
      position: absolute;
      top: 10px;
      left: 0; 
    }
  }

  .weapon-creator-wrapper, .scroll-creator-wrapper {
    position: relative;
    height: 0;
    width: 0;

    a {
      position: absolute;
      top: 10px;
      left: 104px; 
    }
  }

  .cost-wrapper {
    position: relative;
    height: 0;
    width: 0;
  }

  .item-cost {
    position: absolute;
    border-radius: 5px;
    padding: 4px;
    background-color: $secondary-color;
    border: 2px solid $primary-color;
    top: -22px;
    left: 5px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;

    .cost-icon, .cost-img {
      margin: 0 2px;
      text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }

    .cost-img {
      height: 15px;
      width: 15px;
      border: 0;
      border-radius: 7px
    }

    .ap {
      color: $action-point;
    }

    .sp {
      color: $stamina;
    }

    .mp {
      color: $mana;
    }

    .grit {
      color: $grit;
    }

    .hp {
      color: $health;
    }

    .rest {
      color: #00887d;
    }
  }

  .header-content {
    width: 100%;

    .item-details {
      font-family: $dc20-font;
      display: flex;
      height: 40px;
      width: 100%;
  
      .item-name {
        flex-grow: 1;
        padding: 14px 6px 12px 6px;
        border: 2px solid $primary-color;
        background: $secondary-color;
        color: white;
        font-weight: bold;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        font-size: 22px;
        height: 40px;
        border-radius: 10px 0 0 0;
        text-indent: 5px;
      }
  
      .item-label {
        border: 2px solid $primary-color;
        border-left: 0;
        white-space: nowrap;
        padding: 2px 10px;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        color: white;
        font-size: bold;
        background-color: $secondary-color;
  
        .item-type {
          margin-top: 3px;
          text-align: center;
          font-size: 14px;
        }
  
        .item-subtype {
          text-align: center;
          font-size: 12px;
        }
      }
    }
  
    .item-roll {
      font-family: $font-foundry;
      display: flex;
      width: 100%;

      background: $secondary-lighter;
      border-radius: 0 0 10px 0;
      border: 2px solid $primary-color;
      border-top: 0;

      font-weight: 100;
      color: black;
      font-size: 11px;
      min-height: 24px;

      .wrapper {
        display: flex;
        align-items: center;
        padding: 0px 5px;
        border-right: 2px solid $primary-color;

        &:last-child {
          border-right: 0;
        }

        em {
          font-weight: bold;
        }

        i {
          margin-right: 4px;
        }
      }
    }

    .item-properties {
      display: flex;
      flex-wrap: wrap;
      font-family: $dc20-font;
      font-size: 11px;
      margin-top: 5px;
  
      .detail {
        width: fit-content;
        margin-top: 3px;
        margin-left: 3px;
        padding: 5px 5px 3px 5px;
        border: 1px solid black;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        background-color: $primary-light;
  
        color: white;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
      }
  
      .box {
        border: 1px solid black;
        background-color: $primary-color;
      }

      .red-box {
        border: 1px solid black;
        background-color: $crit-background;
      }
  
      &.invisible {
        display: none;
      }
    }
  }
}

.sheet-tabs {
  border: 0;
  font-family: $dc20-font;
  flex: 0;
  margin: 0;

  .item {
    padding: 8px 12px 6px 12px;
    flex: 1;
    font-size: 14px;
    border-top: 2px solid $secondary-color;
    border-bottom: 2px solid $primary-color;
    background-color: $secondary-lighter;

    &.active {
      border-top: 2px solid $primary-color;
      border-right: 2px solid $primary-color;
      border-left: 2px solid $primary-color;
      border-bottom: 0;
      background-color: transparent;
      text-shadow: none;
      color: $primary-color;
      text-shadow: -1px 0 $secondary-lighter, 0 1px $secondary-lighter, 1px 0 $secondary-lighter, 0 -1px $secondary-lighter;
    }
  }
}

.roll-tabs, .advanced-tabs {
  font-family: $dc20-font;

  .item {
    padding: 6px 12px 4px 12px;
    flex: 1;
    font-size: 12px;
    border-top: 2px solid $secondary-color;
    border-bottom: 2px solid $primary-color;
    background-color: $secondary-lighter;

    &.active {
      border-top: 2px solid $primary-color;
      border-right: 2px solid $primary-color;
      border-left: 2px solid $primary-color;
      border-bottom: 0;
      background-color: transparent;
      text-shadow: none;
      color: $primary-color;
      text-shadow: -1px 0 $secondary-lighter, 0 1px $secondary-lighter, 1px 0 $secondary-lighter, 0 -1px $secondary-lighter;
    }
  }

  .item:last-child {
    &.active {
      border-right: 0;
    }
  }

  .item:first-child {
    &.active {
      border-left: 0;
    }
  }
}

.item-sheet-body {
  height: calc(100% - 168px);
  border: 2px solid $primary-color;
  border-top: 0;
  margin-bottom: 5px;

  hr {
    border-top: 1px solid $primary-dark;
    border-bottom: 1px solid $primary-dark;
    margin: 0 5px;
  }

  .content-wrapper {
    padding: 10px;
    border: 2px solid $primary-dark;
    border-top: 0;
    background-color: $secondary-color;
    box-shadow:  0 0 14px $primary-darker inset;
  }

  .edit-effect-on {
    cursor: pointer;
    height: 19px;
    width: 19px;
    border: 1px solid black;

    &:hover {
      box-shadow: 0 0 3px 2px #fd0000bd;
    }
  }

  .content {

    .sub-header {
      font-size: 16px;
      font-family: $dc20-font;
      background-color: $primary-light;
      border: 2px solid $primary-dark;
      color: $secondary-lighter;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 10px 6px 10px;
      text-shadow: -1px 0 $primary-color, 0 1px $primary-color, 1px 0 $primary-color, 0 -1px $primary-color;

      input {
        background-color: white;
      }
    }

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 27px;
      font-size: 14px;
  
      input, select, span {
        width: 50%;
        font-weight: bold;
      }

      textarea {
        border: 1px solid black;
        border-radius: 5px;
        color: black;
        background-color: $secondary-lighter;
        border-radius: 0;
        min-height: 29px;
        height: 29px;
        font-family: $font-foundry;
      }
      
      &.ignore-symetry {
        input, select, span {
          width: auto;
        }
      }

      a {
        color: black;
        margin-right: 2px;
      }
  
      select, input {
        border: 1px solid black;
        border-radius: 5px;
        color: black;
        background-color: $secondary-lighter;
        border-radius: 0;
      }

      .left-part-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
      }

      .right-part-row {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 50%;
        
        input, select {
          max-width: 50%;

          &.full-row {
            max-width: 100%;
            width: 100%;
          }
          
          .small-input {
            width: 24%;
          }
        }

        .separator {
          width: fit-content;
          margin: 0 2px;
        }
      }

      input {
        text-align: end;
      }

      a.empty {
        filter: opacity(0.5);
      }

      .enh-macro-edit.empty {
        filter: opacity(0.5);
      }
    }

    .selected-options {
      display: flex;
      align-items: center;
      justify-content: end;

      .option {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 10px;
        font-weight: bold;
        margin-left: 2px;

        padding: 3px;
        border-radius: 3px;
        color: $secondary-darker;
        border: 1px solid $secondary-darker;
        background-color: $secondary-lighter;
      }
    }

    .scaling {
      .title {
        padding: 5px;
        border-bottom: 2px solid $primary-color;
        border-radius: 9px 9px 0 0;
        background-color: $primary-light;

        label {
          font-size: 20px;
          font-weight: bold;
          color: white;
          -webkit-text-stroke: 0.5px black;
        }
      }
  
      .grid {
        gap: 0;
        padding: 0;
        margin: 0;
      }

      .scale {
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid $primary-color;
        border-top: 1px solid $primary-color;

        font-family: $dc20-font;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

        .level {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: 4px;
          padding-bottom: 4px;
          border-bottom: 1px solid $primary-color;

          span {
            margin-top: 2px;
            font-weight: bold;
          }
        }

        .value input {
          text-align: center;
          background-color: transparent;
          border: 0;
          color: $primary-color;
        }

        .level-span {
    
          span {
            margin-top: 2px;
            font-size: 14px;
            font-weight: bold;
          }
        }
        
      }

      .scale:nth-child(11n) {
        border-right: 0;
      }

      .charges-reset {
        height: 23px;
        border: 1px solid $primary-color;
        background-color: $secondary-lighter;
      }
    }

    .border-box {
      margin-top: 5px;
      border: 2px solid $primary-dark;
      border-radius: 2px;
      background-color: $secondary-color;
      padding: 0;
  
      .box-inner {
        padding: 0;
        margin: 0;
        background-color: $secondary-color;
        border: 0;
      }
  
      &:before, &:after, .box-inner:before, .box-inner:after {
        color: $primary-color;
        border: 2px solid $primary-dark;
      }
    }

    .advancements-table {
      margin-bottom: 0;
      font-family: $dc20-font;
      font-size: 12px;
    
      .advancement-header {
        padding: 5px 3px 5px 10px;
        height: 25px;
        display: grid;
        grid-template-columns: 1fr 75px 75px 75px;
        border-radius: 5px 5px 0 0;
        background: linear-gradient(to right, $table-1, $table-2);
        color: $secondary-lighter;
        margin-top: 5px;
    
        .column {
          display: flex;
          align-items: center;
          justify-content: center;
        }
    
        .name {
          overflow: hidden;
          justify-content: start;
        }
      }
    
      .advancement-row {
        height: 30px;
        display: grid;
        grid-template-columns: 1fr 75px 75px 75px;
        background-color: $secondary-color;
        border: 2px solid $secondary-dark;
        border-top: 0;

        &.additional-advancements {
          filter: opacity(0.7)
        }
    
        .column {
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;

          border-right: 1px solid $secondary-dark;

          &:last-child {
            border-right: 0;
          }
        }
    
        .name {
          overflow: hidden;
          justify-content: start;
        } 

        .config {
          font-size: 14px;
        }
      }
    }

    .damage-formula {
      color: #790000 !important;
      border-color: #790000 !important;
    }

    .versatile-formula {
      color: #77008f !important;
      border-color: #77008f !important;
    }

    .each5-formula {
      color: #796700 !important;
      border-color: #796700 !important;
    }

    .fail-formula {
      color: #160b7c !important;
      border-color: #160b7c !important;
    }

    .healing-formula {
      color: #075307 !important;
      border-color: #075307 !important;
    }

    .other-formula {
      color: #002f64 !important;
      border-color: #002f64 !important;
    }

    .ap-cost, .stamina-cost, .mana-cost, .health-cost, .grit-cost, .rest-cost {
      color: $action-point !important;

      .wrapper {
        min-width: 27px;
        min-height: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: 2px solid;
        background-color: white;
        border-color: $action-point !important;
        margin-right: 5px;

        i {
          margin-top: 2px;
        }
      }
    }

    .resource-img {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 25px;
      height: 25px;
      border: 2px solid $primary-color;
      border-radius: 5px;
      margin-right: 5px;
    }
    
    .stamina-cost {
      color: $stamina !important;
      .wrapper {
        border-color: $stamina !important;
      }
    }

    .mana-cost {
      color: $mana !important;
      .wrapper {
        border-color: $mana !important;
      }
    }

    .grit-cost {
      color: $grit !important;
      .wrapper {
        border-color: $grit !important;
      }
    }

    .rest-cost {
      color: #00887d !important;
      .wrapper {
        border-color: #00887d !important;
      }
    }

    .health-cost {
      color: $health !important;
      .wrapper {
        border-color: $health !important;
      }
    }

    .enhancement-tab {

      .enhancement {
  
        .sub-header {
          background-color: $secondary-dark;
  
          input {
            padding-top: 3px;
            padding-bottom: 1px;
            font-size: 16px;
            width: 50%;
            background-color: $secondary-lighter;
            border: 2px solid $primary-color;
          }
        }
  
        .resources, .charges {
          padding: 0 7px 10px 7px;
          border-bottom: 2px solid $primary-dark;
  
          .resource {
            display: flex;
            align-items: center;
  
            input {
              font-weight: bold;
              text-align: end;
              border-radius: 0;
              background-color: $secondary-lighter;
              border: 1px solid black;
            }
          }
        }
  
        .charges {
          padding: 0 7px 5px 7px;
  
          .row:first-child {
            border-right: 2px solid $primary-color;
          }
        }
  
        .row {
          padding: 0 7px;
  
          &:last-child {
            margin-bottom: 5px;
          }
        }
      }
    }
  }

  .activable-box {
    font-family: $dc20-font;
    padding: 3px 3px 2px 3px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    justify-content: center; 
    align-items: center;

    border: 2px solid $secondary-dark;
    background-color: $secondary-lighter;
    color: $secondary-dark;
    text-align: center;

    &.active {
      background-color: $primary-color;
      border-color: $secondary-dark;
      color: $secondary-lighter;
    }
      
    &.activable:hover {
      box-shadow: 0 0 3px 2px #fd0000bd inset;
    }
    
    &.disabled {
      filter: invert(30%);
    }

    &.disabled:hover {
      cursor: default;
      box-shadow: none;
      text-shadow: none;
    }
  }

  .description-tab {
    height: 100%;

    &.with-price {
      height: calc(100% - 40px);
    }

    .description {
      height: 100%;
    }

    .item-cost {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-top: 3px;
      padding: 3px;
      border-top: 2px solid $primary-color;
      font-weight: bold;
    }
  }
}