.edit-button {
  position: absolute;
  top: 3px;
  left: 5px;
  z-index: 3;

  border-radius: 3px;
  padding: 5px 5px 2px 5px;
  font-family: $dc20-font;

  background-color: $secondary-lighter;
  color: $secondary-darker;
  border: 1px solid $secondary-darker; 

  &.active {
    background-color: $primary-light;
    border: 1px solid $secondary-lighter; 
    color: $secondary-lighter;
  }
}

// Header
.char-sheet-header {
  padding: 10px;
  padding-top: 40px;
  background-color: $background-banner;
  background-image: url(../images/sheet/header/header_background.jpg);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  background-position-y: -185px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 10px 3px;
  position: absolute;
  top: 0px;
  height: 260px;
  z-index: 1;
  width: 100%;
  display: flex;

  .resource-column {
    min-width: 145px;
    width: 100%;

    .resource {
      height: 70px;
      display: flex;
      flex-direction: column;

      .resource-bar-wrapper {
        display: grid;
        grid-template-columns: 20px 1fr 20px;
        border: 1px solid;
        border-radius: 4px;
        background-color: $secondary-lighter;

        .button-wrapper {
          
        }

        .regain-resource, .spend-resource{
          background-color: transparent;
          width: 18px;
          height: 20px;
          border: 0;
          line-height: 0;
          padding: 0;
        }
        
        .stamina {
          color: $stamina;
        }

        .mana {
          color: $mana;
        }

        .health {
          color: $health;
        }

        .grit {
          color: $grit;
        }
      }

      .resource-bar {
        height: 20px;
        position: relative;
        border-radius: 4px;
        border: 1px solid;
  
        .resource-content {
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .resource-values {
            display: flex;
            align-items: center;
    
            .separator {
              font-weight: bold;
              text-align: center;
            }

            .bar-input {
              font-weight: bold;
              background-color: transparent;
              color: black;
              font-size: 16px;
              text-align: center;
              border: 0px;
            }
          }  
        }
  
        .health-bar, .mana-bar, .stamina-bar, .health-bar-temp {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          border-radius: 4px;
          background-color: #6fde75;
        }
  
        .mana-bar {
          background-color: #81a3e7;
        }
  
        .stamina-bar {
          background-color: #e1d676;
        }

        .health-bar-temp {
          background-color: #ccac7d;
        }
      }

      .above-bar {
        gap: 0;
        margin: 0 32px;
        border: 2px solid #686868;
        border-bottom: 0;
        border-radius: 15px 15px 0 0;

        .regain-resource, .spend-resource {
          padding-top: 2px;
          display: flex;
          justify-content: center;
        }

        .temporary-hp {

          .temporary-input {
            height: 18px;
            font-size: 14px;
            font-weight: bold;
            background: transparent;
            border: 0;
            text-align: center;
            color: black;
          }

          .temporary-input::placeholder {
            color: black;
          }
        }

        .temporary-max, .spend-resource {
          border-left: 1px solid;
        }
      }
    }
    
    .hp-background {
      background-image: url(../images/sheet/header/health.svg);
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 0px;
      background-size: 72px;
    }

    .icon-resource {
      display: flex;
      flex-direction: column;

      .points {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;

        b {
          margin: 8px 6px 0 0;
          font-size: 24px;
          font-family: $dc20-font;
          color: $secondary-lighter
        }
        
        i { 
          margin: 4px 2px 4px 2px;
          color: $secondary-lighter
        }

        .fa-2x {
          font-size: 2.4em !important;
        }
      }

      .buttons {
        border: 1px solid;
        border-radius: 4px;
        background-color: $secondary-lighter;
        
        button {
          background-color: transparent;
          font-size: 12px;
          font-weight: bold;
          border: 0;
          line-height: 18px;
        }

        .use-ap {
          border-right: 1px solid;
          border-radius: 4px 0 0 4px;
        }

        .regain-ap {
          border-right: 1px solid;
          border-radius: 0;
        }

        .regain-all-ap {
          border-radius: 0 4px 4px 0;
        }

        .use-grit {
          font-size: 11px;
          border-right: 1px solid;
          border-radius: 4px 0 0 4px;
        }

        .regain-grit {
          font-size: 11px;
          border-radius: 0 4px 4px 0;
        }
      }
      
      .max-points {
        position: absolute;
        font-size: 20px;
        font-family: $dc20-font;
        width: 28px;
        height: 28px;
        border-radius: 20px;
        left: -5px;
        border: 2px solid $secondary-dark;
        background-color: $secondary-lighter;

        input {
          text-align: center;
          background-color: transparent;
          border: 0;
          border-radius: 10px;
          color: $primary-color;
          text-shadow: -1px 0 $secondary-dark, 0 1px $secondary-dark, 1px 0 $secondary-dark, 0 -1px $secondary-dark;
        }
      }
    }
  }

  .custom-resource-wrapper {
    margin-top: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 87px;

    .custom-resource {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $secondary-lighter;
      border: 2px solid $primary-color;
      border-radius: 6px;
      flex-direction: row;
      height: 26px;

      .resource-icon {
        width: 26px;
        height: 26px;
        border-radius: 5px 0 0 5px;
        border: 0;
        border-right: 2px solid $primary-color;
      }

      .edit-resource-img {
        cursor: pointer;
      }

      .resource-charges {
        display: flex;
        justify-content: space-between;
        align-items: center;

        input {
          text-align: center;
          color: black;
          font-weight: bold;

          background-color: transparent;
          border: 0;
        }

        .input-container {
          display: flex;
          align-items: center;

          .separator {
            margin: 0 5px;
          }
        }
      }

      .resource-buttons {
        margin: 0 4px;
        margin-top: 2px;
        display: flex;
        align-items: center;
        justify-content: center;


        .remove-resource {
          margin-left: 3px;
          color: #5e0000;
        }
      }
    }
    
    .add-custom-resource, .add-legendary-resources {
      color: $secondary-lighter;
      margin-left: 4px;
    }
  }

  .resource-other-column {
    margin-left: 5px;
    min-width: 125px;
    width: 100%;

    .resource {
      display: flex;
      border-radius: 3px;
      align-items: center;

      .resource-icon {
        width: 32px;
        height: 32px;
        border: 0;
        border: 2px solid $primary-color;
        border-radius: 3px;

        &.stamina {
          background-color: $stamina;
        }

        &.mana {
          background-color: $mana;
        }

        &.grit {
          background-color: $grit;
        }
      }

      .resource-bar-wrapper {
        display: grid;
        grid-template-columns: 1fr 22px;
        border: 1px solid;
        border-radius: 4px;
        align-items: center;
        background-color: $secondary-lighter;
        border-radius: 0 6px 6px 0;
        border: 2px solid $primary-color;
        border-left: 0;
        width: 100%;
        height: 28px;

        .regain-resource, .spend-resource{
          background-color: transparent;
          width: 20px;
          height: 20px;
          border: 0;
          line-height: 0;
          padding: 0;
        }

        .stamina {
          color: $stamina;
          border-color: $stamina;
        }
    
        .mana {
          color: $mana;
          border-color: $mana;
        }

        .grit {
          color: $grit;
          border-color: $grit;
        }
      }

      .resource-bar {
        height: 24px;
        position: relative;
        border-right: 1px solid $primary-color;
  
        .resource-content {
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .resource-values {
            display: flex;
            align-items: center;
    
            .separator {
              font-weight: bold;
              text-align: center;
            }

            .bar-input {
              font-weight: bold;
              background-color: transparent;
              color: black;
              font-size: 16px;
              text-align: center;
              border: 0px;
            }
          }  
        }
  
        .health-bar, .mana-bar, .stamina-bar, .grit-bar, .health-bar-temp {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          background-color: #6fde75;
        }
  
        .mana-bar {
          background-color: #81a3e7;
        }
  
        .stamina-bar {
          background-color: #e1d676;
        }

        .grit-bar {
          background-color: #b36363;
        }

        .health-bar-temp {
          background-color: #ccac7d;
        }
      }
    }
  }

  .combat-info-column {
    width: 140px;
    margin-left: 6px;

    .big-icon {
      background-repeat: no-repeat;
      background-position: center;
      height: 45px;
      flex: 1;

      input {
        font-size: 32px;
        text-align: center;
        background-color: transparent;
        border: 0;
        height: 110%;
        color: white;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
      }

      input:disabled {
        color: $secondary-color;
      }
    }

    .defences {
      gap: 3px;
      margin: 0;

      .defence {
        margin-top: 2px;
        border: 2px solid $primary-color;
        border-radius: 10px;
        padding: 1px;
        background-color: $secondary-light-alpha;
        font-family: $dc20-font;
      }

      .dmg-treshold, .dmg-reduction {
        margin: 3px 0;
        border-top: 3px solid $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3px;
        height: 23px;

        color: $primary-color;
        font-weight: bold;
        font-size: 16px;

        input {
          text-align: center;
          font-weight: bold;
          height: 23px;
          padding: 0;
          background-color: transparent;
          border: 0;
          color: $primary-color;

          &:disabled {
            color: $primary-color;
          }
        }
      }

      .defence-icons {
        position: relative;
        left: 81%;
        top: -86px;
        height: 0;
        display: flex;
        flex-direction: column;
        
        .def-icon {
          color: $primary-color;
          border: 2px solid $primary-color;
          background-color: $secondary-lighter;
          border-radius: 15px;
          min-height: 27px;
          width: 30px;
          padding: 1px;

          &::before {
            content: '';
            position: absolute;
            height: 21px;
            width: 25px;
            mask-size: contain;
            mask-repeat: no-repeat;
            background-color: $primary-color;
            z-index: 0;
          }
        }

        .heavy::before {
          mask-image: url("../images/sheet/details/char-sheet-svg/heavy_hit.svg");
          mask-position: 1px 0px;
        }
        
        .brutal::before {
          mask-image: url("../images/sheet/details/char-sheet-svg/brutal_hit.svg");
          mask-position: 0px -1px;
          mask-size: 94%;
        }

        .damage-reduction::before {
          mask-image: url("../images/sheet/details/char-sheet-svg/damage_reduction.svg");
          mask-position: 1px 0px;
        }
      }

      .value-physical, .value-mystical {

        input {
          position: relative;
        }

        &::before {
          content: '';
          position: absolute;
          height: 50px;
          width: 60px;
          mask-size: contain;
          mask-repeat: no-repeat;
          background-color: $primary-color;
          z-index: 0;
        }
      }

      .value-physical::before {
        mask-image: url("../images/sheet/details/char-sheet-svg/physical_defence.svg");
        mask-position: 4px -1px;
      }
  
      .value-mystical::before {
        mask-image: url("../images/sheet/details/char-sheet-svg/mental_defence.svg");
        mask-position: 4px 0px;
      }
    }

    .movements {
      border: 2px solid $primary-color;
      border-radius: 10px;
      background-color: $secondary-light-alpha;
      font-family: $dc20-font;

      .ground-speed {
        display: flex;

        .speed-value, .jump-distance {
          input {
            position: relative;
          }

          &::before {
            content: '';
            position: absolute;
            height: 60px;
            width: 68px;
            mask-size: contain;
            mask-repeat: no-repeat;
            background-color: $primary-color;
            z-index: 0;
          }
        }

        .speed-value {
          border-right: 3px solid $primary-color;

          &::before {
            mask-image: url("../images/sheet/details/char-sheet-svg/speed.svg");
            mask-position: 7px -4px;
          }
        }

        .jump-distance {

          &::before {
            mask-image: url("../images/sheet/details/char-sheet-svg/jump.svg");
            mask-position: -1px -1px;
          }
        }
      }

      .speed-types {
        height: 0;
        display: flex;

        .speed {
          display: block;
          border-radius: 8px;
          border: 2px solid $primary-color;
          text-align: center;
          height: 32px;
          width: 30px;
          background-color: $secondary-lighter;

          position: relative;
          top: -5px;
          left: -10px;
          margin: 0 1px;

          &::before {
            content: '';
            position: absolute;
            height: 32px;
            width: 25px;
            mask-size: contain;
            mask-repeat: no-repeat;
            background-color: $primary-color;
            z-index: 0;
          }

          input {
            position: relative;
            background-color: transparent;
            border: 0;
            color: white;
            font-size: 16px;
            margin-top: 9px;
            width: 25px;
            height: 25px;
            text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

            &:disabled {
              color:  $secondary-color;
            }
          }
        }

        .glide {
          &::before {
            mask-image: url("../images/sheet/details/char-sheet-svg/glide.svg");
            mask-position: 0px -2px;
          }
        }

        .flying {
          &::before {
            mask-image: url("../images/sheet/details/char-sheet-svg/flying.svg");
            mask-position: 0px -3px;
          }
        }

        .swimming {
          &::before {
            mask-image: url("../images/sheet/details/char-sheet-svg/swimming.svg");
            mask-position: 0px -3px;
          }
        }

        .climbing {
          &::before {
            mask-image: url("../images/sheet/details/char-sheet-svg/climbing.svg");
            mask-position: 0px -4px;
          }
        }

        .burrow {
          &::before {
            mask-image: url("../images/sheet/details/char-sheet-svg/burrow.svg");
            mask-position: 0px -5px;
          }
        }
      }
    }
  }

  .roll-menu-column {
    margin-left: 6px;
    border: 2px solid $primary-color;
    border-radius: 5px;
    padding: 8px 10px 6px 10px;
    background-color: $secondary-light-alpha;
    font-family: $dc20-font;
    text-align: center;
    min-width: 151px;
    width: 100%;

    .roll-level {
      margin-top: 2px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .toggle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 3px;

        .toggle-actor-numeric {
          display: flex;
          align-items: center;
          justify-content: center;

          padding: 4px 4px 2px 4px;
          width: 25px;
          background-color: $primary-light;
          border: 2px solid $primary-color;
          border-radius: 5px;
          color:$secondary-lighter;
          text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        }

        span {
          margin-top: 4px;
        }
      }

      .absolute-button {
        position: absolute;
        left: 60px;
        top: 52px;
    
        .ap-for-adv {
    
          .dice {
            color: $primary-light;
            font-size: 1.7em;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: $primary-color;
          }
      
          .value {
            position: relative;
            top: -22px;
      
            display: flex;
            justify-content: center;
            align-items: center;
      
            span {
              color: $secondary-lighter;
              font-size: 14px;
              text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
            }
          }
        }
      }
    }

    .help-dices {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .value {
        position: relative;
        top: -24px;
        left: 0.5px;

        display: flex;
        justify-content: center;
        align-items: center;

        span {
          color: $secondary-lighter;
          font-size: 16px;
          text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        }
      }

      .dice {
        margin-top: 2px;
        color: $primary-light;
        font-size: 2.1em;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $primary-color;
      }

      .triangle {

        .value {
          span {
            margin-top: 2px;
          }
        }

        .dice {
          font-size: 2.4em;
        }
      }
    }

    .roll-buttons {
      margin-top: 5px;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon-wrapper {
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 0 3px;

        .icon {
          font-size: 1.5em;
          color: $primary-color;
        }
      }
    }

    .help-dice-header {
      border-top: 3px solid $primary-color;
      margin-top: 8px;
      padding-top: 8px;
    }

    .roll-buttons-header {
      border-top: 3px solid $primary-color;
      padding-top: 8px;
      margin-top: -16px;
    }
  }

  .details-column {
    width: 100%;
    margin-left: 6px;

    .check-save-column {
      border: 2px solid $primary-color;
      border-radius: 5px;
      padding: 8px 10px 6px 10px;
      background-color: $secondary-light-alpha;
      font-family: $dc20-font;
      text-align: center;

      .flat-buttons {
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          margin-left: 4px;
          margin-right: 4px;
        }
      }
  
      .value-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        font-size: 12px;
        margin-top: 3px;
        background-color: $secondary-lighter;
        border-radius: 5px;
        border: 2px solid $primary-color;
        color: $primary-color;
        width: 100%;
  
        .title {
          margin-top: 1px;
          margin-bottom: -1px;
          padding: 5px;
        }
  
        .value {
          margin-top: 1px;
          margin-bottom: -1px;
          color: $primary-color;
          font-size: 14px;
          padding: 2px 5px;
        }
  
        input {
          text-align: right;
          color: $primary-color;
          font-size: 14px;
          height: 23px;
          background-color: transparent;
          border: 0;
          font-weight: bold;
          padding-right: 5px;
          padding-top: 2px;
          width: 25px
        }
      }
  
      .check-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
  
        .roll-button {
          min-width: 65px;
          width: 100%;
          font-size: 12px;
          margin-top: 3px;
          background-color: $secondary-lighter;
          border-radius: 5px;
          padding: 5px;
          border: 2px solid $primary-color;
          color: $primary-color;
  
          display: flex;
          justify-content: center;
          align-items: center;
  
          .original {
            margin-top: 1px;
            margin-bottom: -1px;
            display: flex;
          }
  
          .hovered {
            margin-top: 1px;
            margin-bottom: -1px;
            display: none;
          }
        }
  
        .roll-button:hover {
          color: white;
          background-color: $primary-light;
          border-color: white;
  
          .original {
            display: none;
          }
  
          .hovered {
            display: flex;
          }
        }
      }
  
      .saves {
        border-top: 3px solid $primary-color;
        margin-top: 8px;
        padding-top: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .image-addon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;

    .exhaustion-toggle, .deaths-door {
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: $primary-color;;
      border-radius: 10px;
      background-color: $secondary-lighter;
      border: 2px solid $primary-color;
      width: 100%;
    }

    .deaths-door {
      padding: 3px 1px;
    }

    .exhaustion-toggle {
      padding: 8px 14px;
    }

    .treshold {
      display: flex;
      color: $primary-color;

      .skull-wrapper {
        margin-top: 1px;
        display: flex;
        min-width: 40px;

        .doomed {
          margin-top: 1px;
        }

        .doomed-value {
          display: flex;
          align-items: center;
          margin-left: 4px;
          margin-top: 2px;
          font-weight: bold;
          font-size: 16px;
          font-family: $dc20-font;
        }
      }

      .stable-wrapper {
        padding-top: 3px;
        margin-right: 3px;
        margin-left: 1px;
      }

      .treshold-value {
        padding-top: 2px;
        border-right: 2px solid $primary-color;
        border-left: 2px solid $primary-color;
        height: 20px;
        margin-left: 3px;
        margin-right: 3px;

        input {
          background-color: transparent;
          color: $primary-color;
          height: 20px;
          font-size: 16px;
          font-weight: bolder;
          text-align: center;
          font-family: $dc20-font;
        }
      }
    }

    .active {
      border: 2px solid red;
      background-color: lightcoral;

      .treshold .treshold-value {
        border-right: 2px solid red;
        border-left: 2px solid red;
      }
    }
    
    .fa-lg {
      margin: 0 2px; 
    }

    .big-skull {
      font-size: 1.5em;
    }
  }
}

// Sidebox
.char-sheet-details {
  position: absolute;
  top: 30px;
  left: 0; 
  z-index: -1;
  transition: all 0.7s ease-in-out; 

  .sidetab-content {
    position: absolute;
    top: 0;
    width: 200px;
    border-radius: 0 0 0 5px;
    box-shadow: 0 2px 10px 3px;
    border: 1px solid $primary-color;
    overflow-y: auto;
    min-height: $sidetab-min-height;

    background-color: $background-color;
    background-blend-mode: color-burn;
    background-image: url(../images/sheet/parchment.jpg);
    background-repeat: repeat;
  }

  .baner {
    padding-bottom: 10px;
    box-shadow: 0 2px 10px 3px;
    border-radius: 0 0 5px 5px;

    background-color: $background-banner;
    background-image: url(../images/sheet/details/char_banner_v1.jpg);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position-x: -50px;
    background-position-y: 150px;
    background-size: 300px;

    .over-image-wrapper {
      position: fixed;
      z-index: 2;
  
      .level-wrapper {
        position: absolute;
        font-size: 22px;
        font-family: $dc20-font;
        border-radius: 25px;
        left: 80px;
        top: -20px;
        border: 2px solid $primary-color;
        background-color: $secondary-lighter;
    
        input {
          text-align: center;
          background-color: transparent;
          border: 0;
          border-radius: 25px;
          color: $primary-color;
          text-shadow: -1px 0 $secondary-dark, 0 1px $secondary-dark, 1px 0 $secondary-dark, 0 -1px $secondary-dark;
          width: 40px;
          height: 40px;
        }
      }
  
      .cm-wrapper {
        position: absolute;
        border-radius: 25px;
        left: 120px;
        top: -17px;
        border: 2px solid $primary-darker;
        background-color: $primary-light;
    
        input {
          font-size: 16px;
          font-family: $dc20-font;
          text-align: center;
          background-color: transparent;
          border: 0;
          border-radius: 25px;
          color: $secondary-lighter;
          text-shadow: -1px 0 $secondary-dark, 0 1px $secondary-dark, 1px 0 $secondary-dark, 0 -1px $secondary-dark;
          width: 34px;
          height: 34px;
        }
      }

      .char-buttons-wrapper {
        position: absolute;
        left: -10px;
        top: -14px;
        display: flex;
        align-items: center;
        flex-direction: column;

        a {
          margin-top: 2px;
        }
      }

      .char-level-wrapper {
        position: absolute;
        left: 17px;
        top: -10px;
        display: flex;
        align-items: center;

        a {
          margin-left: 2px;
        }
      }
    }

    .char-name {
      font-family: $dc20-font;
      flex-grow: 1;
      margin: 5px 5px 0 5px;
      
      input {
        border-radius: 5px;
        color: white;
        padding: 0px;
        font-size: 16px;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        height: 100%;
        width: 100%;
        padding: 3px 3px 0 3px;
        border: 2px solid $primary-darker;
        background-color: $primary-light;
        text-indent: 5px;
      }
    }

    .border-box.edit-mode {
      border-color: $golden;

      &:before, &:after {
        color: $golden;
        border-color: $golden;
      }

      .box-inner {
        border-color: $golden;

        &:before, &:after {
          color: $golden;
          border-color: $golden;
        }
      }
    }
  
    .characer-img {
      margin-bottom: -3px;
  
      img {
        object-position: 50% 0;
        object-fit: cover;
        height: 220px;
        width: 200px;
        border: 0;
      }
  
      .image-addon {
        position: relative;
        height: 0;
  
        display: flex;
        justify-content: center;
        align-items: center;
  
        .exhaustion-toggle, .deaths-door {
          display: flex;
          align-items: center;
          color: $primary-color;
          border-radius: 10px;
          background-color: $secondary-lighter;
          border: 2px solid $primary-color;
        }

        .exhaustion-toggle {
          position: fixed;
          padding: 6px 4px;
        }
  
        .deaths-door {
          padding: 3px 1px;
        }
  
        .treshold {
          display: flex;
  
          .skull-wrapper {
            margin-top: 1px;
            display: flex;
            width: 37px;
  
            .doomed {
              margin-top: 1px;
            }
  
            .doomed-value {
              display: flex;
              align-items: center;
              margin-left: 4px;
              margin-top: 2px;
              font-weight: bold;
              font-size: 16px;
              font-family: $dc20-font;
            }
          }
  
          .stable-wrapper {
            padding-top: 3px;
            margin-right: 3px;
            margin-left: 1px;
          }
  
          .treshold-value {
            padding-top: 2px;
            border-right: 2px solid $primary-color;
            border-left: 2px solid $primary-color;
            height: 20px;
            margin-left: 3px;
            margin-right: 3px;
  
            input {
              width: 52px;
              background-color: transparent;
              color: $primary-color;
              height: 20px;
              font-size: 16px;
              font-weight: bolder;
              text-align: center;
              font-family: $dc20-font;
            }
          }
        }
  
        .active {
          border: 2px solid red;
          background-color: lightcoral;
    
          .treshold .treshold-value {
            border-right: 2px solid red;
            border-left: 2px solid red;
          }
        }
        
        .fa-lg {
          margin: 0 2px; 
        }
  
        .big-skull {
          font-size: 1.5em;
        }
      }
    }
  }

  .sidetab-button {
    color: $primary-color;
    position: relative;
    left: -25px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    top: 250px;
  }

  .unique-items {
    margin-top: 15px;
    
    .unique-item {
      margin: 5px;
      margin-top: 8px;
      padding: 3px 5px;
      border-radius: 15px;
      border: 2px solid $secondary-dark;
      background-color: $item-selected;
      display: flex;
      align-items: center;
      box-shadow: -2px 3px 5px 1px;

      .item-image {
        height: 35px;
        width: 35px;
        border: 2px solid $secondary-color;
        border-radius: 10px;
      }

      .item-name {
        font-family: $dc20-font;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        flex-grow: 1;
        margin-left: 4px;
        font-size: 14px;
        font-weight: bold;
        color: white;
      }

      .item-buttons {
        border-left: 2px solid $secondary-dark;
        padding-left: 5px;
        height: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        
        a {
          color: white;
          margin-right: 2px;
        }

        .open-compendium, .mix-ancestry {
          color: $primary-color;
          background-color: $secondary-lighter;
          border-radius: 5px;
          border: 2px solid $primary-color;
          height: 25px;
          width: 25px;
          display: flex;
          align-items: center;
          justify-content: center;

          &::before {
            margin-top: 2px;
          }
        }
      }
    }

    .empty {
      background-color: transparent;
      border: 2px $primary-color dotted;

      .item-image {
        background-color: $primary-color;
        border: 2px solid $secondary-dark;
      }

      .item-name {
        color: #c375d5;
      }
    }

    .class {
      background-image: url(../images/sheet/details/class_baner.jpg);
      background-repeat: no-repeat;
      background-blend-mode: color-burn;
      background-size: 395px;
      background-position-y: -25px;
      background-position-x: -165px;
    }

    .subclass {
      background-image: url(../images/sheet/details/subclass_baner.jpg);
      background-repeat: no-repeat;
      background-blend-mode: color-burn;
      background-size: 422px;
      background-position-y: -28px;
      background-position-x: -219px;
    }

    .ancestry {
      background-image: url(../images/sheet/details/ancestry_baner.jpg);
      background-repeat: no-repeat;
      background-blend-mode: color-burn;
      background-size: 480px;
      background-position-y: -35px;
      background-position-x: -260px;
    }

    .background {
      background-image: url(../images/sheet/details/background_baner.jpg);
      background-repeat: no-repeat;
      background-blend-mode: color-burn;
      background-size: 320px;
      background-position-y: -18px;
      background-position-x: -122px;
    }
  }

  .additional-info {
    background-color: $secondary-light-alpha;
    padding: 5px;
    border: 2px solid $secondary-darker;
    border-radius: 5px;
    margin: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .masteries {
      gap: 1px;
      margin: 0;
      
      .mastery {
        border-radius: 20px;
        width: 25px;
        height: 25px;
        background-color: $primary-color;
        border: 2px solid $secondary-dark;
        filter: invert(30%);
      }

      .mastery.active {
        filter: invert(0);
      }
    }

    .vision {

      .description {

        .description-wrapper {
          font-family: $dc20-font;
          position: absolute;
          bottom: 30px;
          z-index: 4;

          .vision-wrapper {
            
            width: 150px;
            padding: 2px;
            border-bottom: 1px solid $secondary-dark;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:last-child {
              border-bottom: 0;
            }

            span {
              margin-top: 2px;
            }
          }
        }
      }
    }
  }

  .title {
    font-family: $dc20-font;
    font-size: 12px;
    padding-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 2px;
    border-bottom: 2px solid $secondary-lighter;
    color: $secondary-lighter;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $dc20-font;
    margin: 0 5px;
    font-size: 12px;

    select, input {
      font-size: 12px;
      border: 2px solid $primary-color;
      border-radius: 5px;
      color: $primary-color;
      background-color: $secondary-lighter;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 150px;
      text-align: end;
      font-family: $dc20-font;
    }

    .half-row {
      width: 60%;
      padding-right: 5px;
    }

    .short-row {
      width: 20%;
    }

    .left-part-row {
      display: flex;
      align-items: center;
    }

    input {
      padding-top: 5px;
      padding-bottom: 3px;
    }

    select {
      padding-top: 3px;
      padding-bottom: 2px;
    }

    span {
      color: $secondary-lighter;
      margin-top: 3px;
    }

    &.small {
      border-width: 1px;
      height: 22px;
      padding: 1px 10px;
      background-color: $secondary-light-alpha;
      border-right: 1px solid $secondary-darker;
      border-left: 1px solid $secondary-darker;

      input {
        text-align: center;
        padding-top: 3px;
        font-size: 10px;
        height: 18px;
        border-width: 1px;
      }
  
      span {
        color: $primary-darker;
        margin-top: 3px;
        font-size: 10px;
      }
    }

    &.last {
      height: 26px;
      padding-bottom: 4px;
      border-radius: 0 0 3px 3px;
      border-bottom: 1px solid $secondary-darker;
    }
  }
}

.char-sheet-details.expand {
  left: -200px;
  transition: all 0.7s ease-in-out;
}

.char-sheet-details:not(.expand) {
  .sidetab-content {
    transition:opacity 1.5s cubic-bezier(0.23, 1, 0.32, 1);
    opacity:0;
  }
}

.char-sheet-navigation {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  top: 265px;
  left: calc(100% - 1px);
  z-index: -1;

  .item {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px;
    border-radius: 3px 3px 20px 3px;
    margin: 4px 0;
    height: 35px;
    width: 35px;

    border: 2px solid $secondary-dark;
    background-color: $secondary-color;
  }

  .item.active {
    text-shadow: 0 0 TRANSPARENT;

    height: 40px;
    width: 40px;
    margin-top: 0;

    border: 2px solid $primary-color;
    background-color: $secondary-lighter;
    color: $primary-color;
  }
}

.char-sheet-body {
  z-index: 0;
  padding: 10px;
  padding-top: 40px;
  border: 1px solid $primary-color;
  flex: 1;
  background-color: $background-color;

  .core-tab {

    .first-row {
      display: flex;

      .attributes-wrapper {
        @import 'shared/attributets';
      }
    }


    .skills {
      height: fit-content;
      @import 'shared/skills';
    }

    .dmg-reduction {
      height: fit-content;
      @import 'shared/dmg-reduction';
    }

    .conditions {
      height: fit-content;
      @import 'shared/conditions';
    }
  }

  .tab {
    font-family: $dc20-font;
    font-size: 12px;

    .top-menu {
      margin-bottom: 5px;
      min-height: 30px;
      height: fit-content;
      font-size: 14px;

      border: 2px solid $primary-color;
      color: white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      border-radius: 5px;
      background-color: $secondary-color;

      display: flex;
      align-items: center;
      justify-content: space-between;

      .top-menu-buttons {
        margin: 10px 5px 6px 10px;
      }

      .base-action-switch {
        position: relative;
        left: calc(100% - 30px);
        width: 30px;
        border-left: 2px solid $primary-color;
        background-color: $secondary-dark;
  
        i {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 26px;
        }
      }
    }

    .favorites, .main {
      .enh-row .action {
        width: 70px !important; 

        &:hover {
          min-width: 70px !important; 
        }

        &.expandable {
            
          &:hover {
            border-left: 1px solid $menu-line;
            margin-left: -40px;
            min-width: 110px !important; 
          }
        }
      }

      .item-row .action {
        width: 70px !important; 

        &:hover {
          min-width: 70px !important;  
        }

        &.expandable {
            
          &:hover {
            border-left: 1px solid $menu-line;
            margin-left: -40px;
            min-width: 110px !important; 
          }
        }
      }
    }

    .active-effects {

      .letter-circle-icon {
        position: relative;
        width: 0px;
        height: 0px;
        margin-left: calc(50% - 20px);
        
        a {
          background-color: $secondary-color;
          color: $primary-light;
          border-color: $secondary-dark;
        }
      }

      .grid-2col {
        gap: 27px;
        margin: 5px;
      }
    }

    .statuses {
      margin: 10px 5px 0 5px;

      .status-header {
        padding: 5px 3px 5px 10px;
        height: 25px;
        border-radius: 5px 5px 0 0;
        background: linear-gradient(to right, #5a265f, #48034e);
        color: $secondary-lighter;
        display: flex;
        align-items: center;
      }

      .status-table {
        margin: 0;
        gap: 0px;
        border: 1px solid #5a265f;

        .status-stack {

          .letter-circle-icon {
            position: relative;
            width: 0px;
            height: 0px;
            top: -20px;
            left: -15px;

            span, i {
              width: 24px;
              height: 24px;          
              text-shadow: none;
              font-size: 13px;
              font-weight: 100;
              background-color: $secondary-color;
              color: $primary-color;
              border: 1px solid $primary-color;
            }

            i {
              display: flex;
              align-items: center;
              font-weight: bold;
            }
          }
        }

        .status {
          height: 40px;
          display: flex;
          align-items: center;
          border: 1px solid #5a265f;
          padding: 3px;
          background-color: $secondary-color;

          &.active {
            background-color: $activated-effect;
          }

          .status-img {
            border-radius: 5px;
            border: 1px solid #5a265f;
            margin-right: 4px;
            background-color: black;
      
            img {
              height: 28px;
              width: 28px;
              border: 0;
            }
          }
        }
      }
    }
  }

  .journal-tab .description-box {
    font-family: $font-foundry;
    font-size: 14px;

    .editor {
      min-height: 400px;
      height: 100%;
    }
  }
}