// Header
.char-sheet-header {
  padding: 10px;
  padding-top: 40px;
  background-color: #5a007ccc;
  background-image: url(../images/sheet/header/header_background.jpg);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  background-position-y: -185px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 10px 3px;
  position: absolute;
  top: 0px;
  height: 273px;
  z-index: 1;
  width: 100%;

  .char-buttons {
    margin-bottom: 5px;
    margin-top: -2px;
    display: flex;
    align-items: center;
    justify-content: left;

    a {
      margin-left: 2px;
    }
  }

  .char-info {
    display: flex;
    height: 50px;
    border: 3px solid $white;
    border-radius: 15px;

    .char-name {
      font-family: $dc20-font;
      flex-grow: 1;
      margin-right: 5px;
      
      input {
        border-radius: 15px 0 0 15px;
        color: white;
        padding: 0px;
        font-size: 26px;
        font-weight: bold;
        text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
        height: 100%;
        width: 100%;
        padding: 3px 6px 0 6px;
        border: 0;
        background-color: transparent;
      }
    }

    .char-dragon {
      position: absolute;
      top: 16px;
      right: -33px;
      z-index: 1;

      img {
        border: 0;
        height: 125px;
        transform: rotate(5deg);
      }
    }

    .char-details-box {
      display: flex;
      align-items: center;

      height: 50px;
      margin-top: -3px;
      border-top: 3px solid $white;
      border-bottom: 3px solid $white;
      border-left: 4px solid $white;
      border-radius: 10px 0 0 10px;
      background-color: #dfdfdf8f;
      
      .char-icons {
        gap: 2px;
        margin: 0;
        position: absolute;
        top: 33px;
        right: 93px;
        z-index: 1;
       
        img {
          height: 32px;
          width: 32px;
          border-radius: 9px;
          border: 2px solid $white;
          background-color: $dc-purple;
        }
      }

      .char-level, .char-combat-mastery {
        display: flex;
        justify-content: center;
        align-items: center;
  
        height: 50px;
        width: 55px;
  
        span {
          z-index: 3;
          font-family: $dc20-font;
          font-size: 26px;
          font-weight: bold;
          color: $golden;
          text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
        }

        .floating-label {
          position: absolute;
          width: 0;
          height: 0;
          top: 110px;
          right: 173px;

          label {
            z-index: 3;
            font-family: $dc20-font;
            font-size: 16px;
            font-weight: bold;
            color: $golden;
            text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
          }
        }
      }

      .char-level {
        height: 50px;
        width: 120px;
        padding-right: 55px;
        border-left: 4px solid $white;

        .floating-label {
          right: 125px;
        }

        input {
          margin-top: -3px;
          height: max-content;
          font-family: $dc20-font;
          font-size: 26px;
          font-weight: bold;
          color: $golden;
          text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
          background-color: transparent;
          text-align: center;
          border: 0;
        }
      }
    }
  }

  .char-resources {
    gap: 6px;
    margin: 0;
    margin-top: 15px;

    .resource {
      height: 70px;
      display: flex;
      flex-direction: column;

      .resource-bar-wrapper {
        display: grid;
        grid-template-columns: 20px 1fr 20px;
        border: 1px solid;
        border-radius: 4px;
        background-color: $white;

        .regain-resource, .spend-resource{
          background-color: transparent;
          width: 18px;
          height: 20px;
          border: 0;
          line-height: 0;
          padding: 0;
        }
        
        .stamina {
          color: $stamina;
        }

        .mana {
          color: $mana;
        }

        .health {
          color: $health;
        }
      }

      .resource-bar {
        height: 20px;
        position: relative;
        border-radius: 4px;
        border: 1px solid;
  
        .resource-content {
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .resource-values {
            display: flex;
            align-items: center;
    
            .separator {
              font-weight: bold;
              text-align: center;
            }

            .bar-input {
              font-weight: bold;
              background-color: transparent;
              color: black;
              font-size: 16px;
              text-align: center;
              border: 0px;
            }
          }  
        }
  
        .health-bar, .mana-bar, .stamina-bar, .health-bar-temp {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          border-radius: 4px;
          background-color: #6fde75;
        }
  
        .mana-bar {
          background-color: #81a3e7;
        }
  
        .stamina-bar {
          background-color: #e1d676;
        }

        .health-bar-temp {
          background-color: #ccac7d;
        }
      }

      .above-bar {
        gap: 0;
        margin: 0 32px;
        border: 2px solid #686868;
        border-bottom: 0;
        border-radius: 15px 15px 0 0;

        .regain-resource, .spend-resource {
          padding-top: 2px;
          display: flex;
          justify-content: center;
        }

        .temporary-hp {

          .temporary-input {
            height: 18px;
            font-size: 14px;
            font-weight: bold;
            background: transparent;
            border: 0;
            text-align: center;
            color: black;
          }

          .temporary-input::placeholder {
            color: black;
          }
        }

        .temporary-max, .spend-resource {
          border-left: 1px solid;
        }
      }
    }
    
    .hp-background {
      background-image: url(../images/sheet/header/health.svg);
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 0px;
      background-size: 72px;
    }

    .stamina-background {
      background-image: url(../images/sheet/header/stamina.svg);
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: -7px;
      background-size: 86px;
    }

    .mana-background {
      background-image: url(../images/sheet/header/mana.svg);
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: -1px;
      background-size: 67px;
    }

    .icon-resource {
      display: flex;
      flex-direction: column;

      .points {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;

        b {
          margin: 8px 6px 0 0;
          font-size: 24px;
          font-family: $dc20-font;
          color: $white
        }
        
        i { 
          margin: 8px 2px 0 2px;
          color: $white
        }

        .fa-2x {
          font-size: 2.4em !important;
        }
      }

      .buttons {
        border: 1px solid;
        border-radius: 4px;
        background-color: $white;
        
        button {
          background-color: transparent;
          font-size: 12px;
          font-weight: bold;
          border: 0;
          line-height: 18px;
        }

        .use-ap {
          border-right: 1px solid;
          border-radius: 4px 0 0 4px;
        }

        .regain-ap {
          border-radius: 0 4px 4px 0;
        }

        .use-grit {
          font-size: 11px;
          border-right: 1px solid;
          border-radius: 4px 0 0 4px;
        }

        .regain-grit {
          font-size: 11px;
          border-radius: 0 4px 4px 0;
        }
      }
      
      .max-points {
        position: absolute;
        font-size: 20px;
        font-family: $dc20-font;
        width: 28px;
        height: 28px;
        border-radius: 10px;
        left: -10px;
        border: 2px solid $dark-border;
        background-color: $white;

        input {
          text-align: center;
          background-color: transparent;
          border: 0;
          border-radius: 10px;
          color: $dc-purple;
          text-shadow: -1px 0 $dark-border, 0 1px $dark-border, 1px 0 $dark-border, 0 -1px $dark-border;
        }
      }
    }

  }

  .char-custom-resources {
    grid-gap: 6px;
    align-items: center;
    overflow-y: auto;
    height: 36px;
    
    &.half {
      width: 50%;
    }

    .resource {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      border: 1px solid black;
      border-radius: 6px;
      flex-direction: row;
      height: 32px;

      .resource-icon {
        width: 32px;
        height: 32px;
        border-radius: 5px 0 0 5px;
      }

      .resource-charges {
        display: flex;
        justify-content: space-between;
        align-items: center;

        input {
          text-align: center;
          color: black;
          font-weight: bold;

          background-color: transparent;
          border: 0;
        }

        .input-container {
          display: flex;
          align-items: center;

          .separator {
            margin: 0 5px;
          }
        }
      }

      .resource-buttons {
        margin: -2px 4px;

        .remove-resource {
          color: #5e0000;
        }
      }
    }
    
    .add-custom-resource {
      color: $white;
      margin-left: 4px;
    }
  }
  
  .char-attributes {
    position: absolute;
    top: 210px;
    right: 15px;
    height: 0;
    width: 45%;

    &.max-prime {
      right: 35px;
    }

    .points-left {
      position: relative;
      top: 40px;
      left: -42px;
      height: 0;
      width: 0;

      span {
        background-color: $white;
        border-color: $dark-red;
        color: $dark-red;
      }

      &.save-masteries {
        top: 40px;
        left: -84px;
      }
    }

    .attributes {
      margin: 0;
      font-family: $dc20-font;
      gap: 8px;

      .attribute {
        border: 2px solid black;
        background-color: $silver;
        color: $light-purple;
        border-radius: 5px 5px 0 0;

        &.prime-attribute {
          border-color: white;
          color: white;

          .atr-name {
            background-color: $dc-purple;
            border-bottom: 2px solid white;
          }

          .value {
            input:disabled {
              color: white;
            }
          }
        }

        .atr-name {
          border-bottom: 2px solid black;
          padding: 4px 2px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

          label {
            font-size: 14px;
            font-weight: bold;
          }
        }

        .buttons {
          position: relative;
          top: 11px;
          height: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;

          a {
            background-color: $white;
            color: $dc-purple;
            border-color: $dark-border;
            width: 20px;
            height: 20px;
          }

          .add-attribute-point {
            position: relative;
            right: -5px;
          }

          .subtract-attribute-point {
            position: relative;
            left: -5px
          }
        }
        
        .value {
          font-size: 20px;
          font-weight: bold;
          
          input {
            background: transparent;
            border: 0;
            text-align: center;
            color: $light-purple;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            height: 25px;
            margin-bottom: 5px;
            width: 100%;

            &:disabled {
              color: $light-purple;
            }
          }
        }

        .roll-buttons {
          display: flex;
          justify-content: center;
          align-items: center;

          .check {
            border-radius: 0 15px 0 0;
          }

          .save {
            border-radius: 15px 0 0 0;
          }

          .roll-button {
            font-size: 12px;
            color: $dc-purple;
            padding: 5px;
            padding-top: 10px;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 20px;
            
            .original {
              font-size: 10px;
              margin-top: 1px;
              margin-bottom: -1px;
              display: flex;
            }

            .hovered {
              margin-top: 1px;
              margin-bottom: -1px;
              display: none;
            }
          }

          .roll-button:hover {
            color: white;
            background-color: $light-purple;
            border-color: white;

            .original {
              display: none;
            }

            .hovered {
              display: flex;
            }
          }

          .save-mastery-container {
            color: $dc-purple;
            position: relative;
            top: -15px;
            left: -7px;
            height: 0;
            width: 0;
          }
        }
      }
    }
  }

  .prime {
    position: absolute;
    top: 220px;
    right: -33px;
    width: 60px;
    height: 60px;
    border: 2px solid white;
    background-color: $silver;
    color: white;
    border-radius: 5px 5px 5px 5px;
    font-family: $dc20-font;

    .atr-name {
      border-bottom: 2px solid white;
      padding: 4px 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      background-color: $dc-purple;

      label {
        font-size: 14px;
        font-weight: bold;
      }
    }

    .value {
      font-size: 20px;
      font-weight: bold;
      
      input {
        background: transparent;
        border: 0;
        text-align: center;
        color: $light-purple;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        height: 25px;
        margin-bottom: 5px;
        width: 100%;

        &:disabled {
          color: white;
        }
      }
    }
  }
}

.npc-header {
  height: 248px;
      
  .char-attributes {
    top: 185px;
  }
}

// Sidebox
.char-sheet-details {
  position: absolute;
  top: 30px;
  left: 0; 
  z-index: -1;
  transition: all 0.7s ease-in-out; 

  .sidetab-content {
    position: absolute;
    top: 0;
    width: 200px;
    border-radius: 0 0 0 5px;
    box-shadow: 0 2px 10px 3px;
    border: 1px solid $dc-purple;
    overflow-y: auto;
    min-height: $sidetab-min-height;

    background-image: url(../images/sheet/parchment.jpg);
    background-repeat: repeat;
  }

  .baner {
    padding-bottom: 10px;
    box-shadow: 0 2px 10px 3px;
    border-radius: 0 0 5px 5px;

    background-color: #6c0097b0;
    background-image: url(../images/sheet/details/char_banner_v1.jpg);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position-x: -50px;
    background-position-y: 150px;
    background-size: 300px;

    .border-box.edit-mode {
      border-color: $golden;

      &:before, &:after {
        color: $golden;
        border-color: $golden;
      }

      .box-inner {
        border-color: $golden;

        &:before, &:after {
          color: $golden;
          border-color: $golden;
        }
      }
    }
  
    .characer-img {
      margin-bottom: -3px;
  
      img {
        object-position: 50% 0;
        object-fit: cover;
        height: 220px;
        width: 200px;
        border: 0;
      }
  
      .image-addon {
        position: relative;
        height: 0;
  
        display: flex;
        justify-content: center;
        align-items: center;
  
        .exhaustion-toggle, .deaths-door {
          display: flex;
          align-items: center;
          color: $dc-purple;
          border-radius: 10px;
          background-color: $white;
          border: 2px solid $dc-purple;
        }

        .exhaustion-toggle {
          position: fixed;
          padding: 6px 4px;
        }
  
        .deaths-door {
          padding: 3px 1px;
        }
  
        .treshold {
          display: flex;
  
          .skull-wrapper {
            margin-top: 1px;
            display: flex;
            width: 37px;
  
            .doomed {
              margin-top: 1px;
            }
  
            .doomed-value {
              display: flex;
              align-items: center;
              margin-left: 4px;
              margin-top: 2px;
              font-weight: bold;
              font-size: 16px;
              font-family: $dc20-font;
            }
          }
  
          .stable-wrapper {
            padding-top: 3px;
            margin-right: 3px;
            margin-left: 1px;
          }
  
          .treshold-value {
            padding-top: 2px;
            border-right: 2px solid $dc-purple;
            border-left: 2px solid $dc-purple;
            height: 20px;
            margin-left: 3px;
            margin-right: 3px;
  
            input {
              width: 52px;
              background-color: transparent;
              color: $dc-purple;
              height: 20px;
              font-size: 16px;
              font-weight: bolder;
              text-align: center;
              font-family: $dc20-font;
            }
          }
        }
  
        .active {
          border: 2px solid red;
          background-color: lightcoral;
    
          .treshold .treshold-value {
            border-right: 2px solid red;
            border-left: 2px solid red;
          }
        }
        
        .fa-lg {
          margin: 0 2px; 
        }
  
        .big-skull {
          font-size: 1.5em;
        }
      }
    }
  
    .character-details {
  
      .big-icon {
        background-repeat: no-repeat;
        background-position: center;
        height: 55px;
        flex: 1;
  
        input {
          font-size: 40px;
          text-align: center;
          background-color: transparent;
          border: 0;
          width: 105%;
          height: 110%;
          color: white;
          text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        }
  
        input:disabled {
          color: $silver;
        }
      }
  
      .defences {
        gap: 3px;
        margin: 0;
  
        .defence {
          margin-top: 2px;
          border: 3px solid $dark-border;
          border-radius: 10px;
          padding: 1px;
          background-color: $white-transparent;
          font-family: $dc20-font;
        }
  
        .dmg-treshold, .dmg-reduction {
          margin: 3px 0;
          border-top: 3px solid $dark-border;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: 3px;
          height: 23px;
  
          color: $dc-purple;
          font-weight: bold;
          font-size: 16px;

          input {
            text-align: center;
            font-weight: bold;
            height: 23px;
            padding: 0;
            background-color: transparent;
            border: 0;
            color: $dc-purple;

            &:disabled {
              color: $dc-purple;
            }
          }
        }
  
        .defence-icons {
          position: relative;
          left: 81%;
          top: -86px;
          height: 0;
          display: flex;
          flex-direction: column;
          
          .def-icon {
            color: $dc-purple;
            border: 2px solid $dark-border;
            background-color: $white;
            border-radius: 15px;
            height: 27px;
            width: 30px;
            padding: 1px;
          }
        }
  
        .value-physical {
          background-image: url("../images/sheet/details/physical_defence.svg");
          background-size: contain;
        }
    
        .value-mystical {
          background-image: url("../images/sheet/details/mental_defence.svg");
          background-size: contain;
        }
      }
  
      .movements {
        margin-top: 6px;
        margin-bottom: 18px;
        border: 3px solid $dark-border;
        border-radius: 10px;
        background-color: $white-transparent;
        font-family: $dc20-font;
  
        .ground-speed {
          display: flex;
  
          .speed-value {
            background-image: url("../images/sheet/details/speed.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position-x: 10px;
            border-right: 3px solid $dark-border;
          }
  
          .jump-distance {
            background-image: url("../images/sheet/details/jump.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position-x: 4px;
          }
        }
  
        .speed-types {
          height: 0;
          display: flex;
  
          .speed {
            display: block;
            border-radius: 25px;
            border: 2px solid $dark-border;
            text-align: center;
            height: 30px;
            width: 30px;
            background-color: $white;
            background-position-x: center;
            background-size: contain;
            background-repeat: no-repeat;
  
            position: relative;
            top: -10px;
            left: -10px;
            margin: 0 1px;
  
            input {
              background-color: transparent;
              border: 0;
              color: white;
              font-weight: bold;
              font-size: 16px;
              width: 25px;
              height: 30px;
              text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

              &:disabled {
                color:  $silver;
              }
            }
          }
  
          .glide {
            background-image: url("../images/sheet/details/glide.svg");
          }
  
          .flying {
            background-image: url("../images/sheet/details/flying.svg");
          }
  
          .swimming {
            background-image: url("../images/sheet/details/swimming.svg");
          }
  
          .climbing {
            background-image: url("../images/sheet/details/climbing.svg");
          }
  
          .burrow {
            background-image: url("../images/sheet/details/burrow.svg");
          }
        }
      }
    }
  }

  .sidetab-button {
    color: $dc-purple;
    position: relative;
    left: -25px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    top: 250px;
  }

  .unique-items {
    margin-top: 8px;
    
    .unique-item {
      margin: 5px;
      margin-top: 8px;
      padding: 3px 5px;
      border-radius: 15px;
      border: 3px solid $dark-border;
      background-color: $baner;
      display: flex;
      align-items: center;
      box-shadow: -2px 3px 5px 1px;

      .item-image {
        height: 35px;
        width: 35px;
        border: 2px solid $silver;
        border-radius: 10px;
      }

      .item-name {
        font-family: $dc20-font;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        flex-grow: 1;
        margin-left: 4px;
        font-size: 14px;
        font-weight: bold;
        color: white;
      }

      .item-buttons {
        border-left: 2px solid $dark-border;
        padding-left: 5px;
        height: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        
        a {
          color: white;
          margin-right: 2px;
        }

        .open-compendium {
          color: $dc-purple;
          background-color: $white;
          border-radius: 5px;
          border: 2px solid $dc-purple;
          height: 25px;
          width: 25px;
          display: flex;
          align-items: center;
          justify-content: center;

          &::before {
            margin-top: 2px;
          }
        }
      }
    }

    .empty {
      background-color: transparent;
      border: 3px $dc-purple dotted;

      .item-image {
        background-color: $dc-purple;
        border: 2px solid $dark-border;
      }

      .item-name {
        color: #c375d5;
      }
    }

    .class {
      background-image: url(../images/sheet/details/class_baner.jpg);
      background-repeat: no-repeat;
      background-blend-mode: color-burn;
      background-size: 395px;
      background-position-y: -25px;
      background-position-x: -165px;
    }

    .subclass {
      background-image: url(../images/sheet/details/subclass_baner.jpg);
      background-repeat: no-repeat;
      background-blend-mode: color-burn;
      background-size: 422px;
      background-position-y: -28px;
      background-position-x: -219px;
    }

    .ancestry {
      background-image: url(../images/sheet/details/ancestry_baner.jpg);
      background-repeat: no-repeat;
      background-blend-mode: color-burn;
      background-size: 480px;
      background-position-y: -35px;
      background-position-x: -260px;
    }

    .background {
      background-image: url(../images/sheet/details/background_baner.jpg);
      background-repeat: no-repeat;
      background-blend-mode: color-burn;
      background-size: 320px;
      background-position-y: -18px;
      background-position-x: -122px;
    }
  }

  .additional-info {
    margin: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .masteries {
      gap: 1px;
      margin: 0;
      
      .mastery {
        border-radius: 20px;
        width: 25px;
        height: 25px;
        background-color: $dc-purple;
        border: 2px solid $dark-border;
        filter: invert(30%);
      }

      .mastery.active {
        filter: invert(0);
      }
    }

    .vision {

      .description {

        .description-wrapper {
          font-family: $dc20-font;
          position: absolute;
          bottom: 30px;
          z-index: 4;

          .vision-wrapper {
            
            width: 150px;
            padding: 2px;
            border-bottom: 1px solid $dark-border;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:last-child {
              border-bottom: 0;
            }

            span {
              margin-top: 2px;
            }
          }
        }
      }
    }
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $dc20-font;
    margin: 0 5px;

    select, input {
      border: 2px solid $dc-purple;
      border-radius: 5px;
      color: $dc-purple;
      background-color: $white;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 150px;
      text-align: end;
    }

    span {
      margin-top: 2px;
    }
  }
}

.char-sheet-details.expand {
  left: -200px;
  transition: all 0.7s ease-in-out;
}

.char-sheet-details:not(.expand) {
  .sidetab-content {
    transition:opacity 1.5s cubic-bezier(0.23, 1, 0.32, 1);
    opacity:0;
  }
}

// Navigation buttons
.char-sheet-navigation {
  z-index: 2;
  display: flex;
  position: absolute;
  top: 254px;
  left: 10px;

  .item {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px;
    border-radius: 25px;
    margin: 0 4px;
    height: 35px;
    width: 35px;

    border: 3px solid $dark-border;
    background-color: $silver;
  }

  .item.active {
    text-shadow: 0 0 TRANSPARENT;

    margin-top: -3px;
    height: 40px;
    width: 40px;

    border: 3px solid $dc-purple;
    background-color: $white;
    color: $dc-purple;
  }
}

.npc-navigation {
  top: 229px;
}

.char-sheet-body {
  z-index: 0;
  padding: 10px;
  padding-top: 60px;
  border: 1px solid $dc-purple;
  flex: 1;

  .core-tab {

    .first-row {
      display: flex;
    }

    .roll-menu-box {
      width: 55%;
      @import 'shared/roll-menu';
    }

    .check-save-box {
      width: calc(45% - 6px);
      margin-left: 6px;

      .check-save {
        margin-top: 2px;
        border-radius: 5px;
        padding-bottom: 12px;

        .value-box {
          display: flex;
          justify-content: space-between;
          align-items: center;

          font-size: 12px;
          margin-top: 3px;
          background-color: $white;
          border-radius: 5px;
          border: 2px solid $dark-border;
          color: $dark-border;

          .title {
            margin-top: 1px;
            margin-bottom: -1px;
            padding: 5px;
          }

          .value {
            margin-top: 1px;
            margin-bottom: -1px;
            color: $dc-purple;
            font-size: 14px;
            padding: 2px 5px;
          }

          input {
            text-align: right;
            color: $dc-purple;
            color: $dc-purple;
            font-size: 14px;
            height: 23px;
            background-color: transparent;
            border: 0;
            font-weight: bold;
            padding-right: 5px;
            padding-top: 2px;
          }
        }
      
        .check-column {
          width: calc(50% - 3px);;

          .check-buttons {

            .roll-button {
              font-size: 12px;
              margin-top: 3px;
              background-color: $white;
              border-radius: 5px;
              padding: 5px;
              border: 2px solid $dark-border;
              color: $dark-border;

              display: flex;
              justify-content: center;
              align-items: center;

              .original {
                margin-top: 1px;
                margin-bottom: -1px;
                display: flex;
              }

              .hovered {
                margin-top: 1px;
                margin-bottom: -1px;
                display: none;
              }
            }

            .roll-button:hover {
              color: white;
              background-color: $light-purple;
              border-color: white;

              .original {
                display: none;
              }

              .hovered {
                display: flex;
              }
            }
          }
        }

        .save-column {
          margin-left: 6px;
          width: calc(50% - 3px);;
        }
      }
    }

    .skills {
      height: fit-content;
      @import 'shared/skills';
    }

    .dmg-reduction {
      height: fit-content;
      @import 'shared/dmg-reduction';
    }

    .conditions {
      height: fit-content;

      .condition-sub-header {
        background-color: #917996;
      }

      .condition-row {
        font-size: 12px;
        height: 27px;
        display: grid;
        grid-template-columns: 1fr 30px 30px;
        justify-content: center;
        align-items: center;
        padding: 0;

        .column {
          justify-content: center;
          display: flex;
          border-right: 1px solid $dc-purple;

          &:last-child {
            border-right: 0;
          }
        }

        .name {
          justify-content: start;
        }

        input {
          text-align: center;
          background-color: transparent;
          color: black;
          border: 0;
          border-radius: 0;
          height: 26px;

          &:disabled {
            color: black;
          }
        }
      }

      .custom-condition-row {
        font-size: 12px;
        padding: 2px 5px;
        
        .custom {
          padding-top: 5px;

          span {
            padding-left: 3px;
          }

          textarea {
            min-height: 29px;
            height: 29px;
            font-family: $font-foundry;
            border: 0;
            background-color: transparent;
          }
        }
      }
    }

    .base-action-switch {
      position: absolute;
      right: -30px;
      height: 30px;
      width: 30px;
      border-radius: 5px 10px 10px 5px;
      border: 2px solid $dc-purple;
      background-color: $white;

      i {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 26px;
      }
    }
  }

  .tab {
    font-family: $dc20-font;
    font-size: 12px;

    .top-menu {
      padding: 5px;
      margin-bottom: 5px;
      min-height: 30px;
      height: fit-content;
      font-size: 14px;

      border: 2px solid $dc-purple;
      color: white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      border-radius: 5px;
      background-color: $silver;

      display: flex;
      align-items: center;
      justify-content: space-between;

      .currencies {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;

        .currency {
          margin-left: 3px;
          border: 2px solid black;
          border-radius: 5px;

          input {
            font-size: 12px;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            height: 20px;
            width: 45px;
            padding: 3px 3px;
            background-color: transparent;
            border-radius: 5px;
            border: 0;
            color: white;
            text-align: center;
          }

          &.cp {
            border-color: #be7a14;
            background-color: #be7a1480;
          }

          &.sp {
            border-color: #797979;
            background-color: #79797980;
          }

          &.gp {
            border-color: #bdac11;
            background-color: #bdac1180;
          }

          &.pp {
            border-color: #5e9287;
            background-color: #5e928780;
          }
        }
      }
    }

    .favorites, .main {
      .enh-row .action {
        width: 70px !important; 

        &:hover {
          min-width: 70px !important; 
        }
      }

      .item-row .action {
        width: 70px !important; 

        &:hover {
          min-width: 110px !important; 
        }
      }
    }

    .active-effects {

      .letter-circle-icon {
        position: relative;
        width: 0px;
        height: 0px;
        margin-left: calc(50% - 20px);
        
        a {
          background-color: $silver;
          color: $light-purple;
          border-color: $dark-border;
        }
      }

      .grid-2col {
        gap: 27px;
        margin: 5px;
      }
    }

    .statuses {
      margin: 10px 5px 0 5px;

      .status-header {
        padding: 5px 3px 5px 10px;
        height: 25px;
        border-radius: 5px 5px 0 0;
        background: linear-gradient(to right, #5a265f, #48034e);
        color: $white;
        display: flex;
        align-items: center;
      }

      .status-table {
        margin: 0;
        gap: 0px;
        border: 1px solid #5a265f;

        .status {
          height: 40px;
          display: flex;
          align-items: center;
          border: 1px solid #5a265f;
          padding: 3px;
          background-color: $silver;

          &.active {
            background-color: $activated-effect;
          }

          .status-img {
            border-radius: 5px;
            border: 1px solid #5a265f;
            margin-right: 4px;
            background-color: black;
      
            img {
              height: 28px;
              width: 28px;
              border: 0;
            }
          }
        }
      }
    }
  }

  .journal-tab .description-box .editor {
    min-height: 400px;
    height: 100%;
  }
}

.npc-body {
  padding-top: 35px;
}