.table-header {
	padding: 3px 3px 2px 3px;
	display: flex;
	align-items: center;
	border-top: 2px solid $dc-purple;
	border-bottom: 2px solid $dc-purple;
	background-color: $dark-border;

	font-size: 14px;
	font-family: $dc20-font;
	color: white;
	font-weight: bold;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

	.title {
		margin-left: 10px;
		margin-right: auto;
	}

	.menu {
		display: flex;
		align-items: center;
		position: relative;
		top: -2px;
		right: -2px;

		.buttons {
			display: flex;
			justify-content: end;
			align-items: center;

			.letter-circle-icon {

				a {
					text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
					background-color: $white;
					color:  $light-purple;
					width: 27px;
				}
			}
		}
	}

	&:first-child {
		border-top: 0;
	}
}

.table-row {
	&:nth-child(2n) {
		background-color: $white;
	}

	&:last-child {
		border-bottom: 0;
	}

	font-family: $dc20-font;
	font-size: 14px;
	padding: 2px;
	display: flex;
	align-items: center;
	border-bottom: 2px solid $dc-purple;

	.column {
		
	}
}

.content-box {
	display: flex;
	border: 3px solid $dc-purple;
	background-color: $light-purple;
	border-radius: 5px;

	.box-inner {
		background-color: $silver;
		border: 3px solid $dc-purple;
		width: 100%;

		&:before {
			left: -3px;
			bottom: -3px;
		}
		&:after {
			right: -3px;
			bottom: -3px;
		}
	}

	&:before, &:after, .box-inner:before, .box-inner:after {
		color: $dc-purple;
		border: 3px solid $dc-purple;
		width: 16px;
		height: 16px;
		line-height: 16px;
	}

	.box-header {
		padding-top: 3px;
		font-size: 16px;
		font-family: $dc20-font;
		color: white;
		font-weight: bold;
		text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.box-content {
		display: flex;
		justify-content: space-between;
		padding: 5px 20px 20px 20px;

		font-weight: bold;
		font-size: 14px;
		font-family: $dc20-font;

		.sub-header {
			color: $dc-purple;
			justify-content: center;
			display: flex;
		}
	}
}

.tooltip-container {
	position: fixed;
	min-height: 200px;
	max-height: 500px;
	width: 300px;
	z-index: 100;

	border-radius: 5px;
	border: 3px solid $dc-purple;
	padding: 5px;
	background-image: url(../images/sheet/parchment.jpg);
  box-shadow: 0 2px -10px 3px;

	transition: opacity 0.5s ease-in-out;
	opacity: 0;
	visibility: hidden;
	overflow-y: scroll;

	.tooltip-info {
		font-size: 10px;
		border-bottom: 2px solid $dc-purple;
		padding-bottom: 5px;
	}

	.tooltip-header {
		display: flex;
		align-items: center;
		height: 45px;
		border-bottom: 2px solid $dc-purple;
		padding-top: 15px;
		padding-bottom: 15px;

		img {
			height: 40px;
			width: 40px;
			border: 2px solid $dc-purple;
			border-radius: 5px;
			margin-right: 5px;
		}

		span {
			font-family: $dc20-font;
			font-size: 20px;
		}

		&.invisible {
			display: none;
		}
	}

	.tooltip-details {
		display: flex;
		flex-wrap: wrap;
		font-family: $dc20-font;
		font-size: 11px;
		border-bottom: 2px solid $dc-purple;
		padding-bottom: 5px;

		.detail {
			width: fit-content;
			margin-top: 3px;
			margin-left: 3px;
			padding: 4px 4px 2px 4px;
			border: 1px solid black;
			border-radius: 5px;
			display: flex;
			justify-content: center;
			background-color: $light-purple;

			color: white;
			text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
		}

		.box {
			border: 1px solid black;
			background-color: $dc-purple;
		}

		&.invisible {
			display: none;
		}
	}
	
	.tooltip-description {
		font-size: 14px;

		&.invisible {
			display: none;
		}
	}
}