.table-header {
	padding: 3px 3px 2px 3px;
	display: flex;
	align-items: center;
	border-bottom: 2px solid $dc-purple;
	background-color: $dark-border;

	font-size: 14px;
	font-family: $dc20-font;
	color: white;
	font-weight: bold;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

	.title {
		margin-left: 10px;
		margin-right: auto;
	}

	.menu {
		display: flex;
		align-items: center;
		position: relative;
		top: -2px;
		right: -2px;

		.buttons {
			display: flex;
			justify-content: end;
			align-items: center;

			.letter-circle-icon {

				a {
					text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
					background-color: $white;
					color:  $light-purple;
					width: 27px;
				}
			}
		}
	}
}

.table-row {
	&:nth-child(2n) {
		background-color: $white;
	}

	&:last-child {
		border-bottom: 0;
	}

	font-family: $dc20-font;
	font-size: 14px;
	padding: 2px;
	display: flex;
	align-items: center;
	border-bottom: 2px solid $dc-purple;

	.column {
		
	}
}

.content-box {
	display: flex;
	border: 3px solid $dc-purple;
	background-color: $light-purple;
	border-radius: 5px;

	.box-inner {
		background-color: $silver;
		border: 3px solid $dc-purple;
		width: 100%;

		&:before {
			left: -3px;
			bottom: -3px;
		}
		&:after {
			right: -3px;
			bottom: -3px;
		}
	}

	&:before, &:after, .box-inner:before, .box-inner:after {
		color: $dc-purple;
		border: 3px solid $dc-purple;
		width: 16px;
		height: 16px;
		line-height: 16px;
	}

	.box-header {
		padding-top: 3px;
		font-size: 16px;
		font-family: $dc20-font;
		color: white;
		font-weight: bold;
		text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.box-content {
		display: flex;
		justify-content: space-between;
		padding: 5px 20px 20px 20px;

		font-weight: bold;
		font-size: 14px;
		font-family: $dc20-font;

		.sub-header {
			color: $dc-purple;
			justify-content: center;
			display: flex;
		}
	}
}