.pc-sidetab {
  .sidetab-button {
    color: $pc-main !important;
  }

  .unique-item:not(.empty) { 
    background-color: $pc-unique-item-color !important;
  }

  .unique-item.empty {
    .item-name {
      color: $pc-secondary-light !important;
    }
  }

  .small-button {
    color: $pc-main-light !important;
  }

  .over-image-wrapper {

    .level-wrapper {
      border: 2px solid $pc-main-dark !important;
      background-color: $pc-secondary-light;
  
      input {
        color: $pc-main !important;
        text-shadow: -1px 0 $pc-secondary-dark, 0 1px $pc-secondary-dark, 1px 0 $pc-secondary-dark, 0 -1px $pc-secondary-dark;
      }
    }

    .cm-wrapper {
      border: 2px solid $pc-main-dark !important;
      background-color: $pc-main-light !important;
  
      input {
        color: $pc-secondary-light;
        text-shadow: -1px 0 $pc-secondary-dark, 0 1px $pc-secondary-dark, 1px 0 $pc-secondary-dark, 0 -1px $pc-secondary-dark;
      }
    }
  }

  .sidetab-content {
    border-color: $pc-main !important;
    background-color: $pc-background;

    .row {
      i {
        color: $pc-secondary-light;
      }

      select, input {
        border-color: $pc-main-dark;
        color: $pc-main;
        background-color: $pc-secondary-light;
      }

      &.small span {
        color: $pc-main-dark !important;
      }
    }

    .baner {
      background-color: $pc-sidetab-image-color !important;

      .border-box {
        border-color: $pc-main-dark;
        background-color: $pc-main-light;
    
        .box-inner {
          border-color: $pc-main-dark;
        }

        &:before, &:after, .box-inner:before, .box-inner:after {
          color: $pc-main-dark;
          border-color: $pc-main-dark;
        }
      }

      .char-name input {
        border: 2px solid $pc-main-dark !important;
        background-color: $pc-main-light !important;
      }

      .masteries {
        gap: 3px;
        margin: 0;
        background-color: $pc-secondary-light-alpha;
        padding: 3px 10px;
        margin: 0 5px;
        border-radius: 0 0 3px 3px;
        border: 1px solid $pc-secondary-darker;
        border-top: 0;
        
        .mastery {
          border-radius: 5px;
          width: 40px;
          height: 25px;
          background-color: $primary-color;
          border: 2px solid $pc-secondary-dark;
          filter: invert(30%);
        }
    
        .mastery.active {
          filter: invert(0);
        }
      }
    }
  }
}

.pc-header {
  background-color: $pc-header-image-color;

  .custom-resource-wrapper {
    height: 87px !important;
    margin-top: 10px;

    .custom-resource {
      border: 2px solid $pc-main !important;

      .resource-icon {
        border-right: 2px solid $pc-main !important;
      }
    }
    
    .add-custom-resource, .add-legendary-resources {
      color: $pc-secondary-light;
      margin-left: 4px;
    }
  }

  .combat-info-column {
    width: 140px;
    margin-left: 6px;

    .defences {

      .defence {
        border-color: $pc-main !important;
      }

      .dmg-treshold, .dmg-reduction {
        border-color: $pc-main !important;
        color: $pc-main !important;

        input {
          color: $pc-main !important;
        }
      }

      .defence-icons {
        .def-icon {
          border-color: $pc-main !important;

          &::before {
            background-color: $pc-main !important;
          }
        }
      }

      .value-physical, .value-mystical {

        input {
          position: relative;
        }

        &::before {
          background-color: $pc-main !important;
        }
      }
    }

    .movements {
      border-color: $pc-main !important;

      .ground-speed {

        .speed-value, .jump-distance {
          &::before {
            background-color: $pc-main !important;
          }
        }

        .speed-value {
          border-color: $pc-main !important;
        }
      }

      .speed-types {
        height: 0;

        .speed {
          border-color: $pc-main !important;

          &::before {
            background-color: $pc-main !important;
          }
        }
      }
    }
  }

  .roll-menu-column {
    border-color: $pc-main !important;

    .roll-level {

      .toggle {

        .toggle-actor-numeric {
          background-color: $pc-main-light !important;
          border: 2px solid $pc-main !important;
          text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        }
      }
    }

    .help-dices {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .dice {
        color: $pc-main-light !important;
        -webkit-text-stroke-color: $pc-main !important;
      }
    }

    .roll-buttons {
      .icon-wrapper {
        .icon {
          color: $pc-main !important;

          &.init-toggle {
            color: $dark-red !important;
          }
        }
      }
    }

    .help-dice-header {
      border-color: $pc-main !important;
    }

    .roll-buttons-header {
      border-color: $pc-main !important;
    }
  }

  .details-column {
    .check-save-column {
      border-color: $pc-main !important;
  
      .value-box {
        border-color: $pc-main !important;
        color: $pc-main !important;
  
        .value {
          color: $pc-main !important;
        }
  
        input {
          color: $pc-main !important;
        }
      }
  
      .saves {
        border-color: $pc-main !important;
      }
    }

    .image-addon {
      .exhaustion-toggle, .deaths-door {
        color: $pc-main !important;
        border-color: $pc-main !important;
      }
    }
  }

  .check-buttons {

    .roll-button {
      border: 2px solid $pc-main !important;
      color: $pc-main !important;
    }

    .roll-button:hover {
      background-color: $pc-main-lighter !important; 
      color: $pc-secondary-light !important;
    }
  }

  .attributes-column {
    border-color: $pc-main;

    .attributes-wrapper {
  
      &.max-prime {
        right: 35px;
      }

      .value input {
        color: $pc-main-lighter !important;
      }
      
      .attribute {
        color: $pc-main-lighter !important;
        border-color: $pc-main !important;

        .atr-name {
          border-color: $pc-main !important;

          label {
            color: $pc-main !important;
          }
        }
      }

      .prime-attribute {
        border-color: $pc-secondary-darker !important;
        color: white !important;

        .atr-name {
          background-color: $pc-main !important;
          border-color: $pc-secondary-darker !important;

          label {
            color: white !important;
          }
        }

        .value input {
          color: white !important;
        }
      }
      
      .buttons a {
        color: $pc-main !important;
      }

      .roll-button {
        color: $pc-main !important;

        &:hover {
          background-color: $pc-main-lighter !important;
          color: $pc-secondary-light !important;
        }
      }

      .save-mastery-container {
        color: $pc-main !important;
      }

      .prime {
        position: absolute;
        top: 220px;
        right: -33px;
        width: 60px;
        height: 60px;
        border: 2px solid white;
        background-color: $pc-secondary;
        color: white;
        border-radius: 5px 5px 5px 5px;
        font-family: $dc20-font;
    
        .atr-name {
          border-bottom: 2px solid white;
          padding: 4px 2px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
          background-color: $primary-color;
    
          label {
            font-size: 14px;
            font-weight: bold;
          }
        }
    
        .value {
          font-size: 20px;
          font-weight: bold;
          
          input {
            background: transparent;
            border: 0;
            text-align: center;
            color: $primary-light;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            height: 25px;
            margin-bottom: 5px;
            width: 100%;
    
            &:disabled {
              color: white;
            }
          }
        }
      }
    }
  }

  .exhaustion-toggle, .deaths-door {
    color: $pc-main !important;
    border-color: $pc-main !important;
  }

  .exhaustion-toggle {
    padding: 6px 8px 4px 8px !important;
  }
}

.pc-navigation .item.active {
  border-color: $pc-main;
  color: $pc-main !important;
}

.pc-body {
  border-color: $pc-main !important;
  background-color: $pc-background;

  .tab {
    .letter-circle-icon a {
      color: $pc-main-lighter !important;
    }

    .top-menu {
      border: 2px solid $pc-main !important;

      .base-action-switch {
        border-left: 2px solid $pc-main !important;
      }

      .filter {
        border-color: $pc-main !important;

        i {
          color: $pc-main-lighter !important;
        }
      }

      .currencies {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
  
        .currency {
          margin-left: 3px;
          border: 2px solid black;
          border-radius: 5px;
  
          input {
            font-size: 12px;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            height: 16px;
            width: 45px;
            padding: 4px 3px 1px 3px;
            background-color: transparent;
            border-radius: 5px;
            border: 0;
            color: white;
            text-align: center;
          }
  
          &.cp {
            border-color: #be7a14;
            background-color: #be7a1480;
          }
  
          &.sp {
            border-color: #797979;
            background-color: #79797980;
          }
  
          &.gp {
            border-color: #bdac11;
            background-color: #bdac1180;
          }
  
          &.pp {
            border-color: #5e9287;
            background-color: #5e928780;
          }
        }
      }
    }

    .status-header, .effects-header, .item-header {
      background: linear-gradient(to right, $pc-table-1, $pc-table-2) !important;
    }

    .expandable-row {

      .enh-number a {
        border-color: $pc-main !important;
        color: $pc-main !important;
      }

      .roll-item i {
        color: $pc-main !important;
      }

      .roll-menu {

        .roll-level {

          .roll-item, .roll-level-check {
            background-color: $pc-main !important;
          }

          .value-in-box {

            .fa-solid {
              color: $pc-main-light !important;
              -webkit-text-stroke-color: $pc-main !important;
            }

            .value::after {
              background-color: $pc-main-light !important;
              border-color: $pc-main !important;
            }
          }
        }

        .help-dices {

          .fa-solid {
            color: $pc-main-light !important;
            -webkit-text-stroke-color: $pc-main !important;
          }
        }

        .roll-options {
          i {
            color: $pc-main !important;
          }
        }
      }
    }
  }

  .core-tab {
    
    .first-row {
      display: flex;

      .attributes-wrapper {
        width: 44%;
    
        &.max-prime {
          right: 35px;
        }

        @import 'shared/attributets';

        .value input {
          color: $pc-main-lighter !important;
        }
        
        .attribute {
          color: $pc-main-lighter !important;
        }

        .prime-attribute {
          border-color: black;
          color: white !important;

          .atr-name {
            background-color: $pc-main !important;
            border-color: black !important;
          }

          .value input {
            color: white !important;
          }
        }
        
        .buttons a {
          color: $pc-main !important;
        }

        .roll-button {
          color: $pc-main !important;

          &:hover {
            background-color: $pc-main-lighter !important;
            color: $pc-secondary-light !important;
          }
        }

        .save-mastery-container {
          color: $pc-main !important;
        }

        .prime {
          position: absolute;
          top: 220px;
          right: -33px;
          width: 60px;
          height: 60px;
          border: 2px solid white;
          background-color: $pc-secondary;
          color: white;
          border-radius: 5px 5px 5px 5px;
          font-family: $dc20-font;
      
          .atr-name {
            border-bottom: 2px solid white;
            padding: 4px 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            background-color: $primary-color;
      
            label {
              font-size: 14px;
              font-weight: bold;
            }
          }
      
          .value {
            font-size: 20px;
            font-weight: bold;
            
            input {
              background: transparent;
              border: 0;
              text-align: center;
              color: $primary-light;
              text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
              height: 25px;
              margin-bottom: 5px;
              width: 100%;
      
              &:disabled {
                color: white;
              }
            }
          }
        }
      }

      .oneliner {
        width: calc(50% - 8px);
        margin: 5px 4px;
        @import 'shared/oneliners';
        color: $pc-text-color-2 !important;
    
        img {
          border-color: $primary-color;
        }
        
        .oneliner-content {
          gap: 3px;
          margin: 0;
        }
      }
    
      .oneliner-header {
        color: $pc-text-color-2 !important;
        font-family: $dc20-font;
        border-color: $primary-color;
        display: flex;
        justify-content: space-between;
        padding-right: 10px;
      }
    }

    .second-row {
      display: flex;

      .details {
        width: 35%;
      }
  
      .table-wrapper {
        margin-left: 5px;
        width: calc(65% - 5px);
      }

      .table-header, .table-row, .column  {
        border-color: $pc-secondary-darker !important;
      }

      .content-box {
        border-color: $pc-main;
        background-color: $pc-main-light;
  
        .box-inner {
          border-color: $pc-main;
        }
      }

      .skills {
        .skill-mastery-toggle, .language-mastery-toggle {
          border-color: $pc-main !important;
          background-color: $pc-main-light !important;
          color: $pc-text-color-1 !important;
        }
  
        .modifier input {
          color: $pc-main !important;
        }
      }

      .conditions, .dmg-reduction {
        .condition-sub-header, .dmg-reduction-sub-header {
          background-color: $pc-main-lighter !important;
        }
  
        img {
          border-color: $pc-main !important;
        }
      }
    }

    .oneliner-wrapper {
      width: 30%;
      margin-right: 5px;
    }

    .table-wrapper {
      width: calc(70% - 5px);
    }

    .oneliner {
      margin: 5px 3px;
      @import 'shared/oneliners';
      color: $pc-text-color-2 !important;

      img {
        border-color: $pc-main !important;
      }
    }

    .oneliner-header {
      color: $pc-text-color-2 !important;
      border-color: $pc-main !important;
    }
  }

  .effects-tab {
    .status-table {
      border-color: $pc-main !important;

      .status {
        border-color: $pc-main !important;
      }
    }
  }
}