<div class="chat-roll-card" style="display: block;">
  <header>
    <img class="chat-img" src="{{image}}"/>
    <div class="chat-title show-hide-description">
      <a>{{label}}</a>
    </div>
  </header>
  <div class="sublabel"><label>({{sublabel}})</label></div>
  <div class="chat-description hidden">
    {{{description}}}
  </div>
</div>
