<div class="chat_v2">
  {{!-- Informations --}}
  <div class="info-section">
    <div class="header {{#ifCond description '||' details}}desc-expand-row{{/ifCond}}">
      <div class="name-wrapper">
        <img src="{{image}}"/>
        <div class="name">{{rollTitle}}</div>
      </div>
    </div>
    {{#ifCond description '||' details}}
    <div class="expandable-row">
      <div class="description">
        {{{description}}}
      </div>
      {{#if details}}
      <div class="details">
        {{{details}}}
      </div>
      {{/if}}
    </div>
    {{/ifCond}}
  </div>
  
<div class="fotter" style="margin-bottom:10px;"></div>