<div class="chat-roll-card" style="display: block;">
  <header>
    <img class="chat-img" src="{{image}}"/>
    <div class="chat-title show-hide-description">
      <a>{{label}}</a>
    </div>
  </header>
  <div class="chat-description hidden">
    {{{description}}}
  </div>
  {{#if (arrayIncludes system.actionType arrayString="dynamic attack healing save other")}}
  <div class="chat-roll-wrapper">
    {{> "systems/dc20rpg/templates/chat/parts/dice-roll.hbs"}}
  </div>
  {{/if}}
  {{#if (arrayIncludes system.actionType arrayString="dynamic save")}}
  <div class="chat-save-wrapper">
    {{> "systems/dc20rpg/templates/chat/parts/roll-button.hbs"}}
  </div>
  {{/if}}
  {{#if (arrayIncludes system.actionType arrayString="ability contest")}}
  <div class="ability-check-wrapper">
    {{> "systems/dc20rpg/templates/chat/parts/dice-roll.hbs"}}
  </div>
  {{/if}}
  {{#if (arrayIncludes system.actionType arrayString="ability contest")}}
  <div class="contest-wrapper">
    {{> "systems/dc20rpg/templates/chat/parts/roll-button.hbs"}}
  </div>
  {{/if}}
</div>