<header>
  <img class="chat-img" src="{{image}}"/>
  <div class="chat-title">
    <a>{{label}}</a>
  </div>
</header>
{{#if showDescription}} 
<div class="chat-description">
  {{description}}
</div>
{{/if}}
<div>{{log this}}</div>