<form id="compendium-browser-standalone" class="dialog-v2">
  <div class="title margin-top-5">
    <span>{{localize "dc20rpg.dialog.compendiumBrowser.title"}}</span>
  </div>
  {{PARTIAL "Compendium Browser"}}
</form>