<form id="confirmation-popup" class="dialog-content dialog-v2">
  <div class="border-box">
    <div class="box-inner">
      {{!-- Question --}}
      <div class="subtitle-row">
        <span>{{question}}</span>
      </div>

      <div class="buttons">
        <div class="border-box margin-top-5 margin-right-3 close-button">
          <div class="box-inner no-padding button-wrapper">
            <button class="close yes">{{localize "dc20rpg.dialog.popup.yes"}}</button>
          </div>
        </div>
        <div class="border-box margin-top-5 margin-left-3 close-button">
          <div class="box-inner no-padding button-wrapper">
            <button class="close no">{{localize "dc20rpg.dialog.popup.no"}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>