<form id="configure-dialog" class="dialog-content">
  <div>
    <div class="select-row">
      <span>Max Charges Formula</span>
      <input class="formula" type="text" value="{{maxFormula}}"/>
    </div>
    <button class="save">Update</button>
  </div>
</form>