<form id="create-item-dialog" class="dialog-content">
  <div>
    <div class="select-row">
      <span>Select Item Type</span>
      <select class="selectable">
        {{selectOptions this}}
      </select>
    </div>
    <button class="create-item">Create Item</button>
  </div>
</form>