<form id="create-item-dialog" class="dialog-v2">
  <div class="border-box">
    <div class="box-inner">
      <div class="row large">
        <span>{{localize "dc20rpg.dialog.create.itemType"}}</span>
        <select class="selectable">
          {{selectOptions this}}
        </select>
      </div>
      <div class="border-box margin-top-5 close-button"> 
        <div class="box-inner no-padding button-wrapper">
          <button class="close create-item">{{localize "dc20rpg.dialog.create.item"}}</button>
        </div>
      </div>
    </div>
  </div>
</form>