<form id="create-item-dialog" class="dialog-v2">
  <div class="header">
    <span>{{localize "dc20rpg.dialog.create.itemType"}}</span>
  </div>

  <select class="labelless-row selectable item-type margin-top-5">
    {{selectOptions this}}
  </select>
  <button class="close create-item button margin-top-5" data-selector="item-type">{{localize "dc20rpg.dialog.create.item"}}</button>
</form>