<form id="editor-dialog" class="dialog-v2" autocomplete="off">
  <section class="editor-dialog-body">
    <div class="description-box" style="height:400px;width:500px">
      {{editor description target="text" button=false editable=true engine="prosemirror"}}
    </div>
  </section>
</form>