<form id="info-display-dialog" class="dialog-v2" autocomplete="off">
  <div class="border-box">
    <div class="box-inner">
      <div class="content-box">
        <div class="header"> 
          <label>{{header}}</label>
        </div>
        
        {{#each info}}
        <div class="information">
          {{this}}
        </div>
        {{/each}}
      </div>

      <div class="border-box margin-top-5 close-button">
        <div class="box-inner no-padding button-wrapper">
          <button class="close">{{localize "dc20rpg.dialog.display.close"}}</button>
        </div>
      </div>
    </div>
  </div>
</form>