<form id="variable-attribute" class="dialog-content">
  <div>
    <div class="select-row">
      <span>Select Attribute</span>
      <select class="selectable">
        {{selectOptions this}}
      </select>
    </div>
    <button class="rollable">ROLL</button>
  </div>
</form>