<form id="variable-attribute" class="dialog-v2">
  <div class="header">
    <span>{{localize "dc20rpg.dialog.variable.selectAttribute"}}</span>
  </div>

  <select class="selectable labelless-row attribute-selector margin-top-5">
    {{selectOptions this}}
  </select>
  <button class="button close rollable margin-top-5" data-selector="attribute-selector">{{localize "dc20rpg.dialog.variable.roll"}}</button>
</form>