<form id="configure-dialog" class="dialog-content">
  <div>
    <div class="select-row">
      <span>Max Charges Formula</span>
      <input class="formula input" type="text" value="{{maxFormula}}" data-path="system.resources.custom.{{resourceKey}}.maxFormula"/>
    </div>
    <div class="select-row">
      <span>Reset on</span>
      <select class="selectable" data-path="system.resources.custom.{{resourceKey}}.reset">
        {{selectOptions resetTypes selected=reset blank=""}}
      </select>
    </div>
    <button class="save">Update</button>
  </div>
</form>