<form id="configure-dialog" class="dialog-content">
  <div>
    <div class="select-row">
      <span>Jump Attribute</span>
      <select class="selectable" data-path="system.jump.attribute">
        {{selectOptions jumpAttributes selected=selectedAttribute}}
      </select>
    </div>
    <button class="save">Update</button>
  </div>
</form>