<div class="description">
  <div class="details-column">
    <div class="item-details">
      {{#if (arrayIncludes item.type arrayString="spell")}}
      {{> "systems/dc20rpg/templates/item/parts/body-parts/item-description-spell.hbs"}}
      {{/if}}
      {{#if (arrayIncludes item.type arrayString="weapon equipment consumable tool loot")}}
      {{> "systems/dc20rpg/templates/item/parts/body-parts/item-description-item.hbs"}}
      {{/if}}
      <div class="margin-top-5">
        <label>Source</label>
        <input class="wide-input" type="text" name="system.source" value="{{system.source}}" placeholder="-">
      </div>   
      <div class="margin-top-5">
        <label>Table Name</label>
        <input class="wide-input" type="text" name="system.tableName" value="{{system.tableName}}" placeholder="-">
      </div> 
    </div>
    {{#if system.properties}}
    {{> "systems/dc20rpg/templates/item/parts/body-parts/item-description-properties.hbs"}}
    {{/if}}
  </div>
  {{> "systems/dc20rpg/templates/item/parts/body-parts/item-description-text.hbs"}}
</div>