{{!-- Usage --}}
<div class="usage">
  <div class="title-separator">
    <label>Usage</label>
  </div>
  {{!-- Usage Cost --}}
  {{> "systems/dc20rpg/templates/item/parts/body-parts/item-usage.hbs"}}
  {{!-- Action Type --}}
  <div class="title-separator">
    <label>Roll Details</label>
  </div>
  <div class="config-row">
    <label>Action Type </label>
    <select name="system.actionType">
      {{selectOptions @root.config.actionTypes selected=system.actionType blank=""}}
    </select>
  </div>
  {{!-- Roll Formula --}}
  {{#if (arrayIncludes system.actionType arrayString="dynamic attack healing other")}}
    {{> "systems/dc20rpg/templates/item/parts/body-parts/item-action-core-roll.hbs"}}
  {{/if}}
  {{!-- Target/Duration --}}
  {{#if (arrayIncludes system.actionType arrayString="dynamic attack healing other save")}}
    {{> "systems/dc20rpg/templates/item/parts/body-parts/item-action-target.hbs"}}
  {{/if}}
</div>

{{!-- Action --}}
<div class="action">
  <div class="title-separator">
    <label>Action </label>
  </div>
  {{!-- Hit --}}
  {{#if (arrayIncludes system.actionType arrayString="dynamic attack healing")}}
    {{> "systems/dc20rpg/templates/item/parts/body-parts/item-action-hit.hbs"}}
  {{/if}}
  {{!-- Check --}}
  {{#if (arrayIncludes system.actionType arrayString="skill contest")}}
    {{> "systems/dc20rpg/templates/item/parts/body-parts/item-action-skill.hbs"}}
  {{/if}}
  {{!-- Save --}}
  {{#if (arrayIncludes system.actionType arrayString="dynamic save")}}
    {{> "systems/dc20rpg/templates/item/parts/body-parts/item-action-save.hbs"}}
  {{/if}}
  {{!-- Formulas --}}
  {{#if (arrayIncludes system.actionType arrayString="dynamic attack healing save other")}}
    {{> "systems/dc20rpg/templates/item/parts/body-parts/item-action-formulas.hbs"}}
  {{/if}} 
</div>