<div class="tab usage-tab" data-group="primary" data-tab="usage">
  <div class="usage config-container">
    <div class="title-separator">
      <label>Usage Costs</label>
    </div>
    {{PARTIAL "Core Resources"}}
    {{PARTIAL "Charges"}}
    {{PARTIAL "Other Item Usage"}}
  </div>
</div>