.chat-message .message-content .chat-roll-card {

  header {
    display: grid;
    grid-template-columns: 50px 1fr;

    .chat-img {
      height: 50px;
      width: 50px;
    }

    .chat-title {
      font-size: 28px;
      border-bottom: 3px solid #8f4343;
      justify-content: baseline;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-left: 5px;
    }
  }

  .chat-description {
    border-bottom: 1px solid $menu-line;
  }

  .chat-roll-wrapper {
    margin-top: 5px;

    .roll-title {
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      margin-top: 10px;
    }
  }
}