.item-form {
  font-family: $font-primary;
}

.sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;

  .left-header {
    min-width: 150px;
    max-width: 150px;

    .profile-img {
      flex: 0 0 150px;
      height: 150px;
      width: 150px;
      border: 2px solid $dc-purple;
      border-radius: 25px;
      margin-right: 10px;
      margin-bottom: 3px;
    }

    .resources {

      .resource {
        margin-bottom: 6px;

        .resource-bar {
          width: 150px;
          height: 20px;
          background-color: transparent;
          border-radius: 4px;
          border: 1px solid;
          overflow: hidden;
          position: relative;
    
          .resource-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
  
            .resource-values {
              display: flex;
              justify-content: space-between;
              align-items: center;
      
              span, .bar-input {
                font-weight: bold;
              }
  
              .bar-input {
                background-color: #00000000;
                flex-grow: 3;
                font-size: 16px;
                text-align: center;
                border: 0px;
              }
            }  
          }
    
          .health-bar {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: #6fde75;
            transition: width 0.3s ease-in-out;
          }
    
          .mana-bar {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: #81a3e7;
            transition: width 0.3s ease-in-out;
          }
    
          .stamina-bar {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: #e1d676;
            transition: width 0.3s ease-in-out;
          }
        }

        .temporary {
          gap: 0;
          margin: 0 6px;
          border: 1px solid;
          border-top: 0;
          border-radius: 0 0 10px 10px;

          .temporary-hp, .temporary-max {

            input {
              height: 20px;
              font-size: 14px;
              font-weight: bold;
              background: transparent;
              border: 0;
            }
          }

          .temporary-max {
            border-left: 1px solid;
          }
        }
      }   
    }  
  }

  .right-header {
    margin: 0 0 0 10px;
    min-width: 548px;

    .character-info {
      display: flex;

      .character-name {
        flex-grow: 1;
        border: 1px solid $menu-line;
        margin: 0 5px 0 0;
        height: 40px;

        input {
          padding: 0px;
          font-size: 28px;
          height: 100%;
          width: 100%;
          padding-left: 3px;
          border: 0;
          background-color: transparent;
        }
      }

      .character-details-box {
        display: flex;
        background-color: $standard-gray;
        border-radius: 10px 10px 0 10px;
        text-align: center;
        align-items: center;
        height: 40px;
        max-height: 40px;
        padding: 5px;
        font-size: 12px;

        .character-box-item {
          flex-grow: 1;
          min-width: 100px;
          height: 20px;
          border-right: 1px solid $menu-line;
          padding-right: 8px;
          padding-left: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .character-box-level {
          padding-right: 8px;
          padding-left: 8px;
          justify-content: center;
          align-items: center;
        }
      }

      .character-details {
        flex-grow: 1;
        gap: 0px;
        margin: 2px 0 3px 0;

        .ancestry,
        .background {
          border: 1px solid $menu-line;

          input {
            padding: 0 5px;
            font-size: 14px;
            border: 0;
            background-color: transparent;
          }
        }

        .size {
          border: 1px solid $menu-line;

          select {
            font-size: 14px;
            width: 100%;
            border: 0;
            background-color: transparent;
          }
        }
        
      }
      
      .combat-mastery::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: 0.5px;
        background-color: $menu-line;
      }

      .combat-mastery {
        position: relative;
        margin: 0 0 0 8px;
        background-color: #9e9e9e86;
        border-radius: 0 0 10px 10px;
        text-align: center;
        height: 32px;
        min-width: 130px;
        max-height: 32px;
        display: flex;
        align-items: center;
        padding: 0 5px;

        label {
          padding-right: 4px;
          padding-left: 4px;
          font-size: 12px;
        }

        span {
          padding-right: 4px;
          padding-left: 4px;
          font-size: 14px;
        }
      }
    }

    .attributes {
      gap: 3px;
      margin: 0 0 3px 0;

      .attribute-box {
        border: 1px solid $menu-line;
        padding: 5px 5px 0 5px;

        button {
          margin-top: 2px;
          line-height: 24px;
          border-radius: 20px;
          background-color: $light-purple;
          border: 0;
        }
      }

      .prime-attribute {
        border: 2px solid $dc-purple;
        padding: 5px;
        background-image: url("../images/sheet/prime.svg");
        background-repeat: no-repeat;
        background-size: 35px auto;
        background-position: bottom left;
      }
    }

    .bottom-row {
      margin: 0;
      gap: 4px;

      label {
        border-bottom: 1px solid $menu-line;
        font-weight: bold;
      }

      .resistances,
      .actions {
        border: 1px solid $menu-line;
        display: flex;
        flex-direction: column;
        text-align: center;

        .grid {
          gap: 0;
          margin: 0;
        }
      }

      .actions { 

        .action-points {
          display: flex;
          justify-content: center;
          margin: auto 0;
          
          .ap {
            margin: 0 3px;
          }
        }

        .action-buttons {
          border-top: 1px solid $menu-line;

          button {
            background-color: transparent;
            font-size: 12px;
            font-weight: bold;
            border: 0;
            line-height: 18px;
          }
        }
      }

      .resistances {

        .resistance {

          .acid, .cold, .fire, .force, .lightning, 
          .unholy, .poison, .psychic, .holy, 
          .thunder, .piercing, .slashing, .bludgeoning {
            background-repeat: no-repeat;
            background-position: center;
            background-size: 30px;
            height: 23px;

            input {
              font-size: 14px;
              font-weight: bold;
              text-align: center;
              background-color: transparent;
              border: 0;
              width: 100%;
              height: 100%;
              padding: 0px;
              box-sizing: border-box;
            }
          }
          .acid {
            background-image: url("../images/sheet/resistances/drop.svg");
          }
          .cold {
            background-image: url("../images/sheet/resistances/ice.svg");
          }
          .fire {
            background-image: url("../images/sheet/resistances/fire.svg");
          }
          .force {
            background-image: url("../images/sheet/resistances/.svg");
          }
          .lightning {
            background-image: url("../images/sheet/resistances/.svg");
          }
          .unholy {
            background-image: url("../images/sheet/resistances/pentagram.svg");
          }
          .poison {
            background-image: url("../images/sheet/resistances/vial.svg");
          }
          .psychic {
            background-image: url("../images/sheet/resistances/.svg");
          }
          .holy {
            background-image: url("../images/sheet/resistances/cross.svg");
          }
          .thunder {
            background-image: url("../images/sheet/resistances/.svg");
          }
          .piercing {
            background-image: url("../images/sheet/resistances/.svg");
          }
          .slashing {
            background-image: url("../images/sheet/resistances/.svg");
          }
          .bludgeoning {
            background-image: url("../images/sheet/resistances/.svg");
          }
        }
      }

      .movment, .defence {
        border: 1px solid $menu-line;
        display: flex;
        flex-direction: column;
        text-align: center;

        .speed, .phisical, .mental {
          background-repeat: no-repeat;
          background-size: 100px;
          background-position: center;
          position: relative;
          flex: 1;
          border-bottom: 1px solid $menu-line;

          input {
            font-size: 40px;
            text-align: center;
            background-color: transparent;
            border: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 5px;
            box-sizing: border-box;
          }
        }

        .speed {
          background-image: url("../images/sheet/movement.svg");
        }

        .phisical {
          background-image: url("../images/sheet/shield.svg");
          background-size: 60px;
        }

        .mental {
          background-image: url("../images/sheet/head.svg");
          background-size: 55px;
        }

        .additional-speed, .hits {
          min-height: 20px;
          gap: 0;
          margin: 0;

          .flying, .burrow, .swimming, .climbing, .heavy, .brutal {
            background-image: url("../images/sheet/wing.svg");
            background-repeat: no-repeat;
            background-size: 20px;
            background-position: center;

            input {
              font-size: 12px;
              text-align: center;
              background-color: transparent;
              border: 0;
              width: 100%;
              height: 100%;
              padding: 0px;
              box-sizing: border-box;
            }

            span {
              font-size: 12px;
            }
          }

          .config {
            margin-top: 1px;
          }

          .burrow {
            background-image: url("../images/sheet/showel.svg");
          }

          .swimming {
            background-image: url("../images/sheet/water.svg");
          }

          .climbing {
            background-image: url("../images/sheet/mountain.svg");
          }  
          
          .heavy {
            background-image: url("../images/sheet/sword_swing.svg");
          }

          .brutal {
            background-image: url("../images/sheet/axe_swing.svg");
          }
        }
      }
    }
  }
}

.sheet-tabs {
  flex: 0;
}

.sheet-body {

  .skills-tab {

    .content-border {
      font-size: 14px;
      border: 1px solid $dc-purple;
      border-radius: 10px;
      height: auto;
      margin-bottom: 10px;

      .header {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        padding-top: 3px;
        padding-bottom: 3px;
        border-bottom: solid 1px $dc-purple;
        background-color: $light-purple;

        border-radius: 10px 10px 0 0;
        display: flex;
        flex-direction: column;
        position: relative;

        .header-title {
          color: $dark-gray;
          margin-bottom: auto;
        }

        .header-icons {
          position: absolute;
          top: 3px;
          right: 7px;
        }
      }

      .header-knowledge {
        border-radius: 0;
      }

      .grid {
        gap: 0;
        margin: 0;
      }

      .row {
        border-bottom: solid 1px $dc-purple;
        padding: 3px 5px;
        display: flex;
        align-items: center;

        .skill-mastery-toggle {
          width: 20px;
        }

        .attribute {
          font-weight: bold;
        }

        .variable-roll {
          padding: 0 7px;
        }
      }

      .row:nth-child(even) {
        background-color: $standard-gray;
      }

      .knowledge-row:last-child {
        border-bottom: 0;
        border-radius:  0 0 10px 10px;
      }

      .grid-row {
        font-size: 12px;
        border-right: 1px solid $dc-purple;
        padding: 5px;
        display: flex;
        flex-direction: column;

        .top-row {
          flex: 1;
        }

        .bottom-row {
          flex: 0;
          max-height: 100%;
        }

        .trade-mastery-toggle {
          padding-top: 4px;
        }
      }

      .grid-row:nth-child(4n) {
        border-right: 0;
      }

      .active-row {
        background-color: $light-prop-purple !important;
      }

      .active-row:nth-child(even) {
        background-color: $dark-prop-purple !important;
      }

      .activable-proficiency {
        font-weight: bold;
        font-size: 14px;
        padding: 5px;
        cursor: pointer;

        label {
          cursor: pointer;
        }
      }
      
      .footer {
        padding-bottom: 5px;
      }
    }
  }

  .item-tab {

    .table-name {
      margin-bottom: 10px;

      .item-header {
        font-weight: bold;
        border: 1px solid $menu-line;
        border-radius: 5px;
        background-color: $light-purple;
        display: grid;
        grid-template-columns: 25px 1fr 150px 70px 100px;

        .column {
          color: $dark-gray;
          border-right: 1px solid $menu-line;
          padding-top: 5px;
          padding-bottom: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
  
        .column:last-child {
          border: 0;
        }
  
        .column-name {
          padding-left: 5px;
          justify-content: left;
        }

        .reordering-buttons {
          flex-direction: column;
          align-items: center;
          padding: 0;

          a {
            margin-top: -1px;
            margin-bottom: -1px;
            max-height: 14px;
          }
        }
      }
  
      .inventory-header {
        grid-template-columns: 25px 1fr 150px 50px 50px 50px 100px;
      }

      .class-header {
        grid-template-columns: 1fr 150px 100px;
      }

      .item-row {
        font-size: 14px;
        display: grid;
        grid-template-columns: 1fr 150px 70px 100px;
        margin-top: 2px;
        border: 1px solid $menu-line;
        background-color: $unequipped;
        border-radius: 5px;
  
        .row-column {
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          border-right: 1px solid $menu-line;
  
          .item-img {
            display: flex;

            img {
              height: 25px;
              width: 25px;
              margin-right: 3px;
              border-radius: 5px 0 0 5px;
            }
          }

          .item-name {
            width: 100%;
            margin-left: 4px;
          }
        }

        .row-column:last-child {
          border-right: 0;
        }
  
        .row-details {
          justify-content: left;
        }

        .row-usage {

          .cost {
            margin-right: 2px;
            margin-left: 2px;

            .cost-icon {
              margin-right: 2px;
            }
          }

          .ap {
            color: $action-point;
          }

          .sp {
            color: $stamina;
          }

          .mp {
            color: $mana;
          }

          .hp {
            color: $health-point;
          }
        }

        .row-quantity {
          text-align: center;

          input {
            background-color: transparent;
            border: 0;
          }
        }

        .row-charges {

          .current-charges {
            background-color: transparent;
            border: 0;
            width: 45%;
            text-align: right;
          }

          .separator {
            width: 10%;
            margin-right: 2px;
          }

          .max-charges {
            width: 45%;
          }
        }

        .row-config {

          .equipment {
            border-right: 1px solid $menu-line;
          }

          .config, .equipment {
            display: flex;
            justify-content: center;
            width: 50px;

            a {
              margin-right: 2px;
              margin-left: 2px;
            }
          }
        }
      }

      .roll-menu {
        cursor: pointer;
      }

      .inventory-row {
        grid-template-columns: 1fr 150px 50px 50px 50px 100px;
      }

      .class-row {
        grid-template-columns: 1fr 150px 100px;
      }

      .equipped {
        background-color: $equipped;
      }

      .attuned {
        background-color: $attuned;
      }

      .row-roll-menu {
        font-weight: bold;
        font-size: 14px;
        padding: 4px;
        background-color: $unequipped;
        border: 1px solid $menu-line;
        border-top: 0;
        border-radius: 0 0 5px 5px;
        margin-left: 5px;
        margin-bottom: 5px;
        width: 350px;
        display: flex;
        align-items: right;

        .toogle {
          margin-left: 5px;
          padding-left: 5px;
          border-left: 1px solid $menu-line;

          input {
            font-size: 13px;
            margin-left: 2px;
            width: 25px;
            max-height: 17px;
          }
        }

        .item-roll-buttons {
          margin-right: auto;
        }
      }
    }
  }
}