.chat-message .message-content .chat-roll-card {

  header {
    display: grid;
    grid-template-columns: 50px 1fr;

    .chat-img {
      height: 50px;
      width: 50px;
    }

    .chat-title {
      font-size: 28px;
      border-bottom: 3px solid #8f4343;
      justify-content: baseline;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-left: 5px;
    }
  }

  .chat-description {
    border-bottom: 1px solid $menu-line;
  }

  .wrapper {
    margin-top: 5px;

    .roll-title {
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      margin-top: 10px;
    }

    .core-roll {
      border-radius: 10px;
      border: 2px solid $menu-line;
      padding: 0 5px 10px 5px;
      margin-bottom: 3px;
    }

    hr {
      border: none;
      border-top: 2px solid $menu-line;
      margin: 10px 0;
    }

    .winner {
      border: 2px solid $dc-purple;
    }
  }

  .specific-description {
    margin-top: 5px;
    display: flex;
  }

  .roll-button-wrapper {
    display: flex;
    margin-top: 3px;

    button {
      padding: 5px 0;
      border: 2px solid $menu-line;
      border-radius: 10px;
    }
  }

  .crit {
    background-color: #79c288;
    border: 2px solid #005511;
  }

  .fail {
    background-color: #b46f6f;
    border: 2px solid #700000;
  }
}