.chat-message .message-content .chat_v2 {
  display: block;

  .info-section {

    .header {
      display: flex;
      align-items: center;
      border: 1px solid $dark-border;
      background-color: $white;
      padding: 5px 5px;

      img {
        height: 40px;
        width: 40px;
        border: 2px solid $dc-purple;
        border-radius: 100%;
        margin-right: 5px;
        object-position: 50% 0;
        object-fit: cover;
      }

      .name {
        font-family: $dc20-font;
      }

      &.expand-row:hover {
        cursor: pointer;
      }
    }

    .expandable-row {
      border: 1px solid $dark-border;
      border-top: 0;
      background-color: $white;
      padding: 5px 5px;

      transform: scaleY(0);    
      transform-origin: top;
      transition: all 0.25s ease;
      opacity: 0;
      margin-bottom: -10px;

      .description {
        height: 0;
      }

      &.expand {
        transform: scaleY(1);
        transition: transform 0.25s ease;
        opacity: 1;
        margin-bottom: 8px;

        .description {
          height: max-content;
        }
      }
    }
  }

  .roll-box {
    font-family: $dc20-font;
    background-color: $white;
    border: 1px solid $dark-border;
    padding: 5px;
    margin-bottom: 4px;
    
    &.check {
      font-weight: bold;
      background-color: #799fc2;
      border: 1px solid #002255;
      text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;
    }

    .title {
      font-size: 12px;
      margin: 2px 0;
      display: flex;
      justify-content: center;
    }

    .dice-roll {

      .dice-result {
        cursor: pointer;

        .dice-formula {
          border-top: 0;
          font-family: $font-foundry;
          border-radius: 0;
          margin-bottom: 0  ;
        }

        .dice-tooltip {
          
          .dice .part-header {
            text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;
            display: flex;
            align-items: center;

            .part-formula {
              min-width: fit-content;
            }
          }
        }

        .dice-total {
          padding-top: 2px;
          border-radius: 0;
          color: black;

          &.fail {
            border: 2px solid $fail;
            background-color: $fail-background;
            text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;
          }

          &.success, &.crit {
            border: 2px solid $crit;
            background-color: $crit-background;
            text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;
          }
        }
      }
    }
  }

  .applier {

    .token-selection {
      display: flex;
      align-items: center;

      .selection {
        cursor: pointer;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px 6px 5px 6px;
        height: 30px;

        font-family: $dc20-font;
        border: 1px solid $dark-border;
        background-color: $silver;
        text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;

        &.active {
          background-color: $white;
          border-bottom: 0;
          text-shadow: -1px 0 $dc-purple, 0 1px $dc-purple, 1px 0 $dc-purple, 0 -1px $dc-purple;
          color: white;
        }

        &.disabled {
          cursor: default;
          filter: invert(30%);
        }

        .run-check-for-selected {
          position: relative;
          width: 0;
          height: 0;

          &:not(:hover) {
            text-shadow: none;
          }

          i {
            position: absolute;
            top: -13px;
            right: -28px;
            font-weight: bold;

            display: flex;
            align-items: center;
            justify-content: center;

            background-color: $silver;
            border: 1px solid $dark-border;
            border-radius: 100%;
            width: 23px;
            height: 23px;
            color: black;
            background-color: $white;
            box-shadow:  0 0 6px $dc-purple inset;
          }
        }
      }
    }

    .token-container {
      border: 1px solid $dark-border;
      border-top: 0;
      background-color: $white;
      padding: 5px;
      
      .target {
        margin-top: 5px;
        margin-bottom: 2px;
        border-bottom: 1px solid $dark-border;

        &:last-child {
          border-bottom: 0;
        }
        
        .outcome {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-family: $dc20-font;
          font-size: 12px;

          .name-wrapper {
            display: flex;
            align-items: center;

            .name {
              margin-top: 2px;
            }

            img {
              height: 30px;
              width: 30px;
              border: 1px solid $dc-purple;
              border-radius: 5px;
              margin-right: 5px;
              object-position: 50% 0;
              object-fit: cover;
            }
          }
        }

        .button-section {
          font-family: $dc20-font;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 5px;
      
          .roll-button {
            text-align: center;
            font-size: 11px;

            font-family: $dc20-font;
            color: $dc-purple;
            font-weight: bold;
            background-color: $silver;
            border: 1px solid $dark-border;
            border-radius: 5px;
            
            box-shadow:  0 0 10px $white inset;
            width: 100%;
            padding: 6px 5px 4px 5px;

            &.disabled {
              cursor: default;

              &:hover {
                text-shadow: none;
              }
            }
          }
        }

        .label {
          margin-left: 3px;
          font-family: $dc20-font;
          font-size: 10px;
          border-radius: 5px;
          padding: 6px 5px 4px 5px;
          color: $white;
          border: 1px solid #25dd00;
          background-color: $crit-background;
          text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
          text-align: center;

          &.miss {
            color: $white;
            border-color: #d40000;
            background-color: $fail-background;
          }
        }

        .row-wrapper {
          margin-top: 5px;
          border-top: 1px solid $dark-border;

          .row {
            margin-top: 2px;
            margin-bottom: 2px;
            display: flex;
            align-items: center;
  
            .damage, .healing {
              display: flex;
              align-items: center;
              flex: 1;
  
              .value {
                font-size: 13px;
                font-weight: bold;
                font-family: $dc20-font;
                padding: 6px 7px 4px 7px;
                border: 1px solid $dark-border;
                margin: 3px;
                flex: 1;
                background-color: $silver;
                box-shadow:  0 0 10px $fail-background inset;
                text-align: center;
                border-radius: 5px;
              }

              .button-container {
                display: flex;
                align-items: center;

                a:hover {
                  box-shadow:  0 0 7px $silver inset;
                }

                .small-button-wrapper {
                  display: flex;
                  flex-direction: column;
                  margin-right: 3px;

                  .modify-roll {
                    text-align: center;
                    font-family: $dc20-font;
                    font-size: 14px;
                    background-color: $fail-background;
                    color: $white;
                    border: 1px solid $dark-border;
                    height: 14px;
                    width: 20px;
                    border-radius: 5px;
                  }
                }
                
                .apply-damage, .apply-healing {
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  background-color: $dc-purple;
                  color: $white;
                  border: 2px solid $dark-border;
                  text-shadow: -2px 0 $dark-border, 0 2px $dark-border, 2px 0 $dark-border, 0 -2px $dark-border;

                  height: 28px;
                  width: 28px;
                  border-radius: 5px;
                }
              }
            }

            .healing {
              .value {
                box-shadow:  0 0 10px $crit-background inset;
              }

              .modify-roll {
                background-color: $crit-background !important;
              }
            }
          }
        }
      }
    }

    .effect-applier {
      margin-top: 4px;
      border: 1px solid $dark-border;
      background-color: $white;
      padding: 5px;

      .effect {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .name-wrapper {
          display: flex;
          align-items: center;
  
          .name {
            font-family: $dc20-font;
            margin-top: 2px;
          }
  
          img {
            height: 40px;
            width: 40px;
            border: 2px solid $dc-purple;
            border-radius: 100%;
            margin-right: 5px;
            object-position: 50% 0;
            object-fit: cover;
          }
        }

        .apply-effect {
          height: 32px;
          width: 32px;
          border: 1px solid $dark-border;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow:  0 0 6px $dc-purple inset;
        }
      }
    }
  }
}