.dialog-content {
  height: fit-content;
  padding: 5px;

  .big-input {
    font-size: 50px;
    text-align: center;
    margin-bottom: 5px;

    input {
      height: 55px;
    }
  }

  .select-row {
    display: grid;
    grid-template-columns: 150px 1fr;
    margin-bottom: 5px;

    span {
      margin: auto 0;
      font-weight: bold;
    }

    select {
      width: 100%;
    }
  }

  .inner-section {
    border: 1px solid $menu-line;
    padding: 5px 0 5px 0;
  }

  .title-row {
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    font-size: 20px;

    label {
      text-align: center;
      font-size: bold;
    }

    .title-wrapper {
      display: flex;
      align-items: center;

      img {
        border: 0;
        margin-right: 6px;
        height: 30px;
        width: 30px;
      }
    }
  }

  .subtitle-row {
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 16px;
    border: 1px solid $menu-line;

    label {
      text-align: center;
      font-size: bold;
    }
  }

  .input-row {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .inline-button {
    width: 40%;
  }

  button {
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    border-radius: 10px;
    margin: 3px;
    width: 99%;
  }

  .button-container {
    display: flex;

    .half-button {
      flex: 1;
      margin: 0 5px;
    }
  }

  .tabs {
    border-top: 1px solid $menu-line;
    border-bottom: 1px solid $menu-line;
    
    .item {
      padding: 10px 5px;
    }
  }

  .action {
    border: 2px solid $dc-purple;
    border-radius: 10px;
    margin-bottom: 7px;

    .action-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2px 5px;
      background-color: $light-purple;
      border-radius: 8px 8px 0 0;
      border-bottom: 2px solid $dc-purple;

      label {
        font-size: 24px;
        font-weight: bold;
      }

      .button-wrapper {
        display: flex;
        justify-content: right;
        align-items: center;

        .roll-action {
          font-size: 13px;
          background-color: $white;
          border: 2px solid $dc-purple;
          white-space: nowrap;
        }
      }
    }

    .action-description {
      padding: 6px 10px;
    }
  }

  .items-table {

    .description {
      margin: 0 5px;
      padding: 3px;
      border: 1px solid $dc-purple;
      background-color: $white;
      border-radius: 0 0 5px 5px;
    }

    .activable {
      cursor: pointer;
    }

    .item-header {
      grid-template-columns: 1fr 80px;
      display: grid;
      font-weight: bold;
      border: 1px solid $menu-line;
      border-radius: 5px;
      background-color: $light-purple;    

      .column-name {
        padding-left: 10px;
      }
    }

    .multiple-choice {
      grid-template-columns: 1fr 80px 80px 80px 80px !important;
    }

    .item-row {
      grid-template-columns: 1fr 80px;
      display: grid;
      margin-top: 2px;
      border: 1px solid $menu-line;
      background-color: $unequipped;
      border-radius: 5px;
    }

    .column {
      border-radius: 5px 0 0 5px;
      font-size: 13px;
      color: $dark-gray;
      border-right: 1px solid $menu-line;
      padding-top: 5px;
      padding-bottom: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 25px;
      
      img {
        width: 25px;
        height: 25px;
      }
    }

    .column:last-child {
      border: 0;
    }

    .column-name {
      justify-content: left;
    }

    .column-input {

      input {
        background-color: transparent;
        border: 0;
        text-align: center;
      }
    }
  }

  .config-row {
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
    height: 26px;

    .label {
      font-weight: bold;
    }

    .right-part-row {
      display: flex;
      align-items: center;

      input {
        text-align: end;
      }

      a {
        margin-right: 3px;
      }
    }
  }
}


.dialog-v2 {
  font-size: 12px;
  font-family: $dc20-font;
  padding: 0px;

  .border-box {
    border-color: $dc-purple;

    .box-inner {
      border-color: $dc-purple;
    }

    &:before, &:after, .box-inner:before, .box-inner:after {
      color: $dc-purple;
      border-color: $dc-purple;
    }
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.large {
      font-size: 16px;
    }

    input, select, span {
      width: 50%;
    }

    &.ignore-symetry {
      input, select, span {
        width: auto;
      }
    }

    select, input {
      border: 2px solid $dc-purple;
      border-radius: 5px;
      color: $dc-purple;
      background-color: $white;
    }

    span {
      margin-top: 2px;
    }
  }

  .formula {
    font-weight: bold;
    font-family: $font-primary;
    font-size: 12px;
  }

  .button-wrapper {
    display: flex;
    align-items: center;

    button {
      height: 36px;
      font-size: 14px;
      font-weight: bold;
      background-color: transparent;
      border-radius: 10px;
      border: 2px solid $dc-purple;
      font-family: $dc20-font;
      
      background-color: $white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      color: $silver;

      &.half {
        width: 50%;
      }
    }

    &.box-inner button {
      border: 0;
      margin: 0;
      width: 100%;
    }
  }

  .close-button {
    background-color: $silver;
    border-radius: 5px;

    .close {
      text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
      color: $dc-purple;
      font-family: $dc20-font;
      border: 0;
      border-radius: 0;
    }
  }

  .content-wrapper {

    .header {
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 5px 5px 0 0;
      padding: 10px 5px 5px 5px;
      text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
      color: $dc-purple;
      border: 2px solid $dc-purple;
      border-bottom: 0;
      background-color: $silver;
    }

    .content {
      padding: 5px;
      border-radius: 0 0 5px 5px;
      text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;
      color: black;
      border: 2px solid $dc-purple;
      background-color: $silver;

      .select-row {
        margin: 0;
        width: 25px;
        text-align: center;
      }

      input {
        border: 2px solid $dc-purple;
        border-radius: 5px;
        color: $dc-purple;
        background-color: $white;
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .flat-value {
        text-align: center;
      }

      .short {
        width: 50px;
        margin: 0;
        height: 24px;
      }

      .input-select {
        display: flex;
        align-items: center;

        select {
          margin: 0;
          height: 24px;
        }
      }
    }
  }

  .activable-box {
    font-family: $dc20-font;
    padding: 6px 6px 4px 6px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    justify-content: center; 
    align-items: center;

    border: 2px solid $dark-border;
    background-color: $white;
    color: $dark-border;

    &.active {
      background-color: $dc-purple;
      border-color: $dark-border;
      color: $white;
    }
      
    &.activable:hover {
      box-shadow: 0 0 3px 2px #fd0000bd inset;
    }
  }
}

#rest-dialog {

  .separated-values {
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 36px;
    font-weight: bold;
    text-shadow: -2px 0 $dc-purple, 0 2px $dc-purple, 2px 0 $dc-purple, 0 -2px $dc-purple;
    color: $white;
    
    .value {
      flex: 1; 
      text-align: center; 
      white-space: nowrap; 
    }
    
    .separator {
      margin: 0 5px;
    }
  }

  .exhaustion-wrapper {
    margin: 0 5px;

    span {
      font-size: 14px;
      margin-top: 5px;
      margin-left: 3px;
    }

    .exhaustion-label {
      display: flex;
      align-items: center;
    }
  }

  .activity-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .activity-switch {
      cursor: pointer;
      display: flex;
      align-items: center;
  
      .activity {
        justify-content: center;
        display: flex;
        width: 45px;
        padding: 4px;
        margin: 2px;
        border: 1px solid $white;
        border-radius: 5px;
        background-color: $standard-gray;
  
        &.selected {
          background-color: $white;
          border: 2px solid $dc-purple;
          color: $silver;
          text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }
      }
    }

    span {
      font-size: 14px;
    }
  }
}

#advancement-dialog {
  width: 650px;

  .border-box {
    height: 100%; 

    .box-inner {
      height: 100%; 

      .wrapper {
        height: 100%; 
        display: flex;
        flex-direction: column;

        .content {
          flex: 1; 
          overflow-y: auto;
        }
        
        .footer {
          margin-top: auto;
        }
      }
    }
  }

  .item-list {
    .item-header, .item-row {
      grid-template-columns: 1fr 50px;

      .column {
        a, i {
          font-size: 1.33em;
        }
      }
    }

    &.actor-select {
      
      .item-header, .item-row {
        grid-template-columns: 1fr 50px 50px !important;
      }
    }

    &.multiple-choice {

      &.actor-select {

        .item-header, .item-row {
          grid-template-columns: 1fr 50px 50px 50px !important;
        }
      }

      .item-header, .item-row {
        grid-template-columns: 1fr 50px 50px 50px 50px;
      }
    }
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 5px;
  }

  .sub-title {
    background-color: #b3b2b2;
    border: 2px solid $dc-purple;
    border-radius: 5px;
    font-size: 14px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .scaling-value-row {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #b3b2b2;
    border: 2px solid $dc-purple;
    
    label {
      margin-left: 4px;
      font-size: 18px;
      font-weight: bold;
    }

    .progress {
      display: flex;
      align-items: center;
      justify-content: end;

      .fa-circle-right {
        margin-top: 2px;
        color: $dc-purple;
      }
      
      span {
        min-width: 33px;
        font-weight: bold;
        font-size: 16px;
        padding: 3px 5px;
        margin: 0 5px;
        border-radius: 20px;
        border: 2px solid $dc-purple;
        color: $dc-purple;
        background-color: $white;
        text-align: center;
      }
    }
  }

  .talent-mastery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;

    span {
      font-size: 16px;
    }
  }
}

#character-configuration {
  width: 500px;

  .wrapper {

    .header {
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 5px 5px 0 0;
      padding: 10px 5px 5px 5px;
      text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
      color: $dc-purple;
      border: 2px solid $dc-purple;
      border-bottom: 0;
      background-color: $silver;
    }

    .content {
      padding: 5px;
      border-radius: 0 0 5px 5px;
      text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;
      color: black;
      border: 2px solid $dc-purple;
      background-color: $silver;

      .flat-value {
        text-align: center;
      }

      .short {
        width: 50px;
        margin: 0;
        height: 24px;
      }

      .input-select {
        display: flex;
        align-items: center;

        select {
          margin: 0;
          height: 24px;
        }
      }
    }
  }

  .defences {
    gap: 5px;
    margin: 0;
  }
}