.dialog-v2 {
  font-size: 16px;
  font-family: $font-default;
  padding: 10px;

  .border-box {
    border-color: $primary-color;

    .box-inner {
      border-color: $primary-color;
    }

    &:before, &:after, .box-inner:before, .box-inner:after {
      color: $primary-color;
      border-color: $primary-color;
    }
  }

  // Rows
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    input, select, span, textarea {
      width: 50%;
    }

    input {
      padding: 4px;
    }

    &.ignore-symetry {
      input, select, span {
        width: auto;
      }
    }

    select, input, textarea {
      border: 2px solid $primary-darker;
      border-radius: 3px;
      color: black;
      background-color: $secondary-lighter;

      &:disabled {
        filter: contrast(0.8);
      }
    }

    span {
      font-weight: bold;
    }
  }

  .labelless-row {
    font-size: 14px;
    width: 100%;
    height: auto;

    padding: 5px;
    border: 2px solid $primary-darker;
    border-radius: 3px;
    
    font-weight: bold;
    color: black;
    background-color: $secondary-lighter;
  }

  // Title/Headers
  .header {
    font-size: 18px;
    font-weight: bold;
    padding: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-bottom: 2px solid $primary-color;
    margin-bottom: 5px;
  }

  .box-header {
    font-size: 16px;
    padding: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    border: 2px solid $primary-darker;
    background-color: $secondary-color;
    border-radius: 3px;
  }

  .formula {
    font-weight: bold;
    font-size: 12px;
  }

  // Button
  .button {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    border-radius: 3px;
    border: 2px solid $primary-darker;
    margin: 0;

    text-shadow: -1px 0 $secondary-lighter, 0 1px $secondary-lighter, 1px 0 $secondary-lighter, 0 -1px $secondary-lighter;
    color: $primary-darker;
    font-weight: bold;
    background-color: $secondary-color;
  }

  .button:disabled {
    filter: contrast(0.5);
    cursor: default;
  }

  .button-wrapper {
    display: flex;
    align-items: center;

    .button {
      margin: 0 1px;
    }
  }

  .content-wrapper {
    border: 2px solid $primary-darker;
    background-color: $secondary-color;
    border-radius: 3px;

    .header {
      font-size: 16px;
      font-weight: bold;
      padding: 8px;
      border-color: $primary-darker;
    }

    .content {
      padding: 5px;

      .button {
        text-shadow: 0;
        color: $primary-dark;
        background-color: $secondary-lighter;
      }

      .short {
        width: 50px;
        margin: 0;
        height: 27px;
      }

      .labelless-row {
        font-size: 12px;
        font-weight: normal;
      }

      .input-select {
        display: flex;
        align-items: center;
      }
    }
  }

  .activable-box {
    font-family: $dc20-font;
    padding: 6px 6px 4px 6px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;

    border: 2px solid $secondary-dark;
    background-color: $secondary-lighter;
    color: $secondary-dark;

    &.active {
      background-color: $primary-color;
      border-color: $secondary-dark;
      color: $secondary-lighter;
    }
      
    &.activable:hover {
      box-shadow: 0 0 3px 2px #fd0000bd inset;
    }
  }

  .open-compendium, .mix-ancestry, .open-item-creator {
    position: absolute;
    right: 30px;
    color: $primary-color;
    background-color: $secondary-lighter;
    border-radius: 5px;
    border: 2px solid $primary-color;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: none;

    &::before {
      margin-top: 2px;
    }

    &:hover {
      box-shadow: 0 0 10px 3px $primary-light inset;
    }
  }
}

#rest-dialog {

  .spend-rest-points {

    span {
      font-size: 20px;
      justify-content: center;
    }
  }

  .save-dc {
    font-family: $font-header;
    font-size: 24px;
  }
}

#advancement-dialog {
  background-color: #37373791;
  padding: 0;

  header {
    font-family: $font-header;
    font-size: 32px;
    font-weight: bolder;
    text-shadow: -1px 0 $secondary-color, 0 1px $secondary-color, 1px 0 $secondary-color, 0 -1px $secondary-color;
    padding: 10px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    color: $primary-dark;
    border-bottom: 3px solid $primary-dark;
    border-radius: 0 0 50px 50px;
    background-color: $secondary-lighter;
    margin-bottom: 5px;
  }

  .wrapper {
    height: calc(100% - 127px);
    padding: 10px;
    display: grid;
    grid-template-columns: 5fr 9fr 4fr;
    gap: 10px;
    margin-top: 0;
    padding-top: 3px;
    
    &.has-tips {
      grid-template-columns: 5fr 50px 9fr 4fr;
    }

    .left-column {
      margin-top: 55px;
      overflow-y: hidden;

      .actor-img {
        object-position: 50% 0;
        object-fit: cover;
        height: 400px;
        width: 100%;
        border: 2px solid $primary-dark;
        border-radius: 3px;
      }
    }

    .tip-wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 50px;
      margin-top: 90px;

      .tip {
        margin-top: 10px;
        border-radius: 3px;
        border: 2px solid $primary-darker;
        height: 45px;
        width: 45px;

        &:hover {
          cursor: pointer;
          box-shadow: 0 0 8px 5px $secondary-lighter;
        }
      }
    }

    .header {
      color: $secondary-lighter;
      text-shadow: -1px 0 $secondary-darker, 0 1px $secondary-darker, 1px 0 $secondary-darker, 0 -1px $secondary-darker;
    }

    .absolute-wrapper {
      position: absolute;
      width: calc(100% - 20px);

      .advancement-progress {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        align-items: center;

        .progress {
          font-family: $font-header;
          font-size: 18px;

          height: 50px;
          width: 100%;

          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid $secondary-darker;
          background-color: $secondary-lighter;
          border-right: 0;

          img {
            width: 40px;
            height: 40px;
            min-width: 40px;
            min-height: 40px;
            border: 2px solid $secondary-darker;
            border-radius: 5px;
            margin-right: 6px;
          }
        }

        .progress:last-child {
          border-right: 2px solid $secondary-darker;
        }

        .progress.foldProgress {

          &:not(.active) {
            width: 50px;
            flex: none;

            label {
              visibility: hidden;
              width: 0;
            }

            img {
              margin-right: 0;
            }
          }
        }

        .progress.active {
          background-color: $primary-dark;
          color: $secondary-lighter;

          img {
            border-color: $secondary-lighter;
          }
        }
      }
    }

    .middle-column {
      overflow-y: auto;
      overflow-x: hidden;
      margin-top: 55px;

      .path-selector-wrapper {
    
        .picker {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          height: 120px;
          width: 100%;
    
          .path-selector {
            width: 100%;
    
            img {
              height: 120px;
              width: 100%;
              border: 2px solid $primary-color;
              object-fit: cover;
        
              &.spellcaster {
                object-position: 0 7%;
                border-radius: 0 3px 3px 0;
                border-left: 1px solid $primary-color;
              }
        
              &.martial {
                object-position: 0 0;
                border-radius: 3px 0 0 3px;
                border-right: 1px solid $primary-color;
              }
        
              &.disabled {
                filter: grayscale(1);
              }
            }
          }
        }    
      }

      .item-list {
        margin-bottom: 0;
        color: black;

        .item-header, .item-row {
          grid-template-columns: 1fr 50px;
        }

        .item-row {
          border-color: $secondary-darker;
        }

        .open-item-suggestions {
          display: flex;
          align-items: center;
          background-color: $primary-light;
          color: $secondary-lighter;

          &:hover {
            box-shadow: 0 0 10px 3px $primary-dark inset;
          }
          

          img {
            min-width: 36px;
            height: 36px;
            border: 0;
            border-radius: 0;
            margin-right: 5px;
          }
        }

        .item-header, .item-row {
          grid-template-columns: 1fr !important;

          .item-delete {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            background-color: #960303;
            color: #e2e2e2;
            width: 30px;
            height: 100%;
            border-left: 2px solid $secondary-darker;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

            &:hover {
              cursor: pointer;
              box-shadow: 0 0 5px 3px $primary-light inset;
            }
          }

          .fa-lg {
            font-size: 20px !important;
          }
        }

        &.multiple-choice {
          .item-header, .item-row {
            grid-template-columns: 1fr 50px 50px !important;
          }
        }
      }

      .points-spender-wrapper {

        .spender-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
    
          .skill-point-converter {
            min-width: 33px;
            font-weight: bold;
            font-size: 14px;
            padding: 3px 5px;
            margin: 0 2px;
            border-radius: 3px;
            border: 2px solid $secondary-darker;
            color: $secondary-lighter;
            background-color: $primary-dark;
            text-align: center;
            height: 27px;
            align-items: center;
            justify-content: center;
            display: flex;
          }
        }

        .table {
          gap: 5px;
          margin: 0;
  
          .skill-mastery {
            border: 2px solid $primary-darker;
            background-color: $secondary-color;
            color: $primary-dark;
            border-radius: 3px;
            padding: 5px;
  
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            span {
              font-family: $font-header;
              font-size: 16px;
              color: $secondary-lighter;
              text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            }

            .label {
              margin-bottom: 5px;
              font-size: 20px;
              color: $primary-dark;
              font-weight: bold;
              text-shadow: none;
            }
  
            &.maximum {
              filter: contrast(0.6);
            }
          }
        }
  
        .spender-box-wrapper {
          gap: 5px;
          font-family: $font-header;
    
          .spender {
            border: 2px solid $secondary-darker;
            background-color: $secondary-color;
            color: $primary-dark;
            border-radius: 3px;
    
            .spender-name {
              border-bottom: 2px solid $secondary-darker;
              padding: 4px 2px;
              display: flex;
              align-items: center;
              justify-content: center;

              label {
                font-size: 20px;
              }
            }
    
            .value {
              font-size: 26px;
              font-weight: bold;
              
              input {
                padding: 5px 0;
                background: transparent;
                border: 0;
                text-align: center;
                color: $secondary-lighter;
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                height: 32px;
                margin-bottom: 5px;
                width: 100%;
    
                &:disabled {
                  color: $secondary-lighter;
                }
              }
            }

            .small-value {
              font-size: 22px;
            }

            .expertise-toggle, .mastery-toggle {
              font-family: $dc20-font;

              &.expert {
                background-color: $primary-dark !important;
                color: $secondary-lighter !important;
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
              }
            }

            .expertise-toggle {
              width: 30% !important;
            }
    
            .buttons {
              display: flex;
              align-items: center;
              justify-content: space-around;
              font-size: 20px;

              .left-button, .right-button, .full-button {
                height: 30px;
                color: $primary-dark;
                border-top: 2px solid $primary-darker;
                background-color: $secondary-color;
                border-radius: 3px 3px 0 0;
                padding: 3px;
                width: 100%;
                text-shadow: none;

                justify-content: center;
                align-items: center;
                display: flex;

                &:hover {
                  box-shadow: 0 0 8px 3px $secondary-dark inset;
                }
              }
              
              .left-button {
                border-right: 1px solid $primary-darker;
              }

              .right-button {
                border-left: 1px solid $primary-darker;
              }
            }

            &.maximum {
              filter: contrast(0.6);
            }
          }
        }
      }
    }

    .right-column {
      margin-top: 55px;
      padding: 5px; 
      border: 2px solid $secondary-darker;
      box-shadow: 0 0 40px 15px $secondary-lighter inset;
      border-radius: 3px;
      overflow-y: auto;

      .add-edit-item:hover {
        cursor: pointer;
        box-shadow: 0 0 15px $primary-dark inset;
      }

      .requirement-missing {
        filter: opacity(0.6);
      }

      .header {
        margin-bottom: 0;
        border-color: $secondary-dark;
      }

      .button-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;

        a {
          width: 100%;
          padding: 12px 3px;
          margin: 0 2px;
          border: 1px solid $secondary-dark;
          border-top: 0;
          border-radius: 0 0 3px 3px;
  
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $secondary-darker;
          text-shadow: none;
          cursor: pointer;
          background-color: $secondary-color;

          &:hover {
            box-shadow: 0 0 10px 3px $primary-dark inset;
          }

          &.selected {
            background-color: $primary-color;
            color: $secondary-lighter;

            &:hover {
              box-shadow: 0 0 10px 3px $secondary-lighter inset;
            }
          }
        }
      }

      .filter-wrapper {
        border-bottom: 2px solid $secondary-dark;
        padding: 10px 5px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .header {
          margin-bottom: 5px;
          border: 0;
          padding: 0;
          font-size: 16px;
        }

        select, input {
          width: 100%;
          background-color: $secondary-lighter;
          height: 27px;
        }

        a {
          color: $secondary-lighter;
          text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }

        .multiclass-tooltip {
          position: relative;
          top: 10px;
          right: 40%;
        }
      }
    }

    .scaling-value-row {
      display:flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      margin-top: 5px;
      padding: 5px;
      border-radius: 2px;
      background-color: $secondary-color;
      border: 2px solid $primary-dark;
      color: $primary-dark;
      
      &.red-box {
        .progress {
          span {
            color: $dark-red;
            border-color: $dark-red;
          }
        }
      }

      label {
        margin-left: 4px;
        font-size: 18px;
      }
  
      .progress {
        display: flex;
        align-items: center;
        justify-content: end;
        
        span {
          min-width: 33px;
          font-weight: bold;
          font-size: 14px;
          padding: 3px 5px;
          margin: 0 5px;
          border-radius: 3px;
          border: 2px solid $primary-dark;
          color: $primary-dark;
          background-color: $secondary-lighter;
          text-align: center;
        }
      }
    }
  }

  .applying-advancement-overlay {
    position: absolute;
    width: 100%;
    height: calc(100% - 30px);
    background-color: #886fb89c;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    
    span {
      font-size: 24px;
      text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
  }

  .footer {
    button {
      background-color: $secondary-lighter;
    }

    &.half-button {
      display: flex;
      justify-content: space-between;
      padding: 10px;

      .button {
        width: calc(50% - 2px);
      }
    }
  }
}

#advancement-config {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .repeat-at-wrapper {
      border: 1px solid $primary-dark;
      background-color: $secondary-color;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 0;

      .rep-box {
        border: 1px solid $primary-dark;

        span {
          font-weight: bold;
        }

        .repeat-at {
          border-radius: 0;
          border: 0;
          border-top: 1px solid $primary-dark;
          background-color: $secondary-lighter;
        }
      }
    }

    .item-list {
      .item-header, .item-row {
        grid-template-columns: 1fr 50px !important;
      }
  
      &.multiple-choice {
        .item-header, .item-row {
          grid-template-columns: 1fr 50px 50px 50px 50px !important;
        }
      }
    }

    .macro-edit.empty {
      filter: opacity(0.5);
    }
  }
}

#character-configuration {

  .wrapper {

    .header {
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 5px 5px 0 0;
      padding: 10px 5px 5px 5px;
      text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
      color: $primary-color;
      border: 2px solid $primary-color;
      border-bottom: 0;
      background-color: $secondary-color;
    }

    .content {
      padding: 5px;
      border-radius: 0 0 5px 5px;
      text-shadow: -1px 0 $secondary-lighter, 0 1px $secondary-lighter, 1px 0 $secondary-lighter, 0 -1px $secondary-lighter;
      color: black;
      border: 2px solid $primary-color;
      background-color: $secondary-color;

      .flat-value {
        text-align: center;
      }

      .short {
        width: 50px;
        margin: 0;
        height: 24px;
      }

      .input-select {
        display: flex;
        align-items: center;

        select {
          margin: 0;
          height: 24px;
        }
      }
    }
  }

  .defences {
    gap: 5px;
    margin: 0;
  }
}

#editor-dialog {
  font-family: $font-default;
  font-size: 14px;
}

#roll-prompt {
  width: 500px;
  padding: 15px 7px 5px 7px;
  font-family: $dc20-font;
  font-size: 12px;

  .sub-title {
    border-radius: 3px;
    border-color: $primary-darker;
  }

  .roll-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .held-action {
      width: 10%;
      height: 34px;
      margin-left: 3px;
    }
  }

  .roll-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    margin-top: 5px;
    background-color: $secondary-color;
    border-radius: 3px;
    border: 2px solid $primary-darker;
    padding: 10px 5px;

    .sub-header {
      display: flex;
      align-items: center;
      font-size: 14px;
      margin-bottom: 5px;
    }

    .last-roll-level-check {
      color: $primary-dark;
      margin-left: -20px;
      margin-top: -10px;
      position: absolute;
      font-size: 1.65em !important;
    }

    .roll-level {

      .toggle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 3px;
  
        .toggle-numeric {
          display: flex;
          align-items: center;
          justify-content: center;
  
          padding: 4px 4px 2px 4px;
          width: 25px;
          background-color: $primary-light;
          border: 2px solid $primary-color;
          border-radius: 5px;
          color:$secondary-lighter;
          text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        }
  
        span {
          margin-top: 4px;
        }
      }

      .absolute-button, .absolute-button-sheet {
        position: absolute;
        left: 145px;
        margin-top: -3px;
    
        .ap-for-adv, .ap-for-adv-disabled, .grit-for-adv {
    
          .dice {
            color: $primary-light;
            font-size: 1.9em;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: $primary-color;
          }
      
          .value {
            position: relative;
            top: -16px;
      
            display: flex;
            justify-content: center;
            align-items: center;
      
            span {
              color: $secondary-lighter;
              font-size: 12px;
              text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
            }
          }
        }
        
        .grit-for-adv {
          position: absolute;
          top: -20px;
        }
      }

      .absolute-button-sheet {
        left: 160px;
        margin-top: -10px;
      }
    }

    .help {
      margin-top: 8px;
      margin-bottom: -8px;
    }
  
    .help-dices {
      display: flex;
  
      .value {
        position: relative;
        top: -23px;
  
        display: flex;
        justify-content: center;
        align-items: center;
  
        span {
          color: $secondary-lighter;
          font-size: 16px;
          text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        }
      }
  
      .dice {
        color: $primary-light;
        font-size: 2.5em;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $primary-color;
      }
  
      .triangle {
        margin-top: 15px;
        margin-left: -3px;
  
        .value {
          top: -24px;
        }
  
        .dice {
          font-size: 3em;
        }
      }
  
      .square {
        margin-left: -2px;
      }
  
      .diamond {
        margin-top: 20px;
      }
    }
  
    .mid-column {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  
      .item-roll-options {
        margin-top: 15px;
        display: flex;
        align-items: center;
  
        i {
          color: $primary-color;

          &.fail {
            color: $fail;
          }
          &.crit {
            color: $crit;
          }
        }
      }

      .not-used {    
        color: #ff2e2e;

        box-shadow: 0 0 0 0 #da0101;
        transform: scale(1);
        animation: pulse 1.5s infinite;
      }

      @keyframes pulse {
        0% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 #da0101bd;
        }
    
        70% {
            transform: scale(1);
            box-shadow: 0 0 0 15px #da010100;
        }
    
        100% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 #da010100;
        }
      }
    }
  }

  .item-name {
    display: flex;
    align-items: center;

    background-color: $secondary-lighter;
    border-radius: 3px;
    box-shadow:  0 0 7px $primary-darker inset;
    border: 2px solid $primary-darker;

    .name-wrapper {
      display: flex;
      align-items: center;
      width: calc(100% - 5px);
      margin-right: 5px;

      img {
        object-position: 50% 0;
        object-fit: cover;
        height: 40px;
        width: 40px;
        border-radius: 3px 0 0 0;
        border: 0;
        border-right: 1px solid $primary-darker;
      }
  
      span {
        margin-top: 3px;
        font-size: 22px;
        margin-left: 7px;
      }
    }

    .action-outcome {
      display: flex;
      align-items: center;
      justify-content: end;
      margin-right: 5px;

      .description-icon {

        .letter-circle-icon {
    
          i, span {
            font-size: 16px;
            height: 30px;
            width: 30px;
          }
        }
      }
    }
  }

  .row {
    padding: 5px 0 5px 5px;
    font-family: $font-header;
    font-size: 18px;

    span {
      font-weight: normal;
    }
  }

  .item-multi-faceted {
    color: $primary-darker;
    padding: 6px;
    border-radius: 3px;
    
    border: 2px solid $primary-darker;
    background-color: $secondary-lighter;
  }

  .item-selector {
    font-family: $font-header;
    font-size: 16px;
    padding: 7px;
    border: 2px solid $primary-darker;
    background-color: $secondary-color;
    border-radius: 3px;
    gap: 5px;

    .item {
      border: 2px solid $secondary-darker;
      background-color: $secondary-lighter;
      display: flex;
      align-items: center;
      height: 35px;

      img {
        margin-right: 5px;
        width: 31px;
        height: 31px;
        border: 0;
        border-right: 2px solid $secondary-darker;
      }
      
      &:hover {
        box-shadow:  0 0 10px $primary-light inset;
        cursor: pointer;
      }

      &.active {
        color: $secondary-lighter;
        background-color: $primary-dark;
      }
    }
  }

  .measurement-templates {
    font-family: $font-default;
    display: flex;
    flex-direction: column;

    padding: 10px 7px 7px 7px;
    border: 2px solid $primary-darker;
    border-top: 0;
    background-color: $secondary-color;
    border-radius: 0 0 3px 3px;

    .template {
      display: flex;
      align-items: center;
      justify-content: center;

      .template-button, .template-side-button {
        text-align: center;
        font-size: 15px;
        margin-top: 3px;
  
        color: $primary-dark;
        font-weight: bold;
        background-color: $secondary-lighter;
        border: 1px solid $secondary-darker;
        border-radius: 5px;
        
        box-shadow:  0 0 10px $secondary-dark inset;
        padding: 4px;
        width: 100%;
  
        &.disabled {
          cursor: default;
          filter: saturate(0.5);
  
          &:hover {
            text-shadow: none;
          }
        }
  
        &.selected {
          color: $secondary-lighter;
          background-color: $primary-light;
        }
      }

      .template-side-button {
        width: 25px;
      }
    }
  }

  .description-icon {

    .letter-circle-icon {

      i, span {
        font-size: 12px;
        height: 23px;
        width: 23px;
        border: 2px solid $secondary-darker;
      }
    }

    .fa-droplet {
      background-color: $health-point;
    }

    .fa-gear {
      background-color: $mana;
    }

    .fa-heart {
      background-color: $health;
    }
  }

  .expected-cost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;

    padding: 10px 7px 7px 7px;
    border: 2px solid $primary-darker;
    border-top: 0;
    background-color: $secondary-color;
    border-radius: 0 0 3px 3px;

    .cost-label {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      width: fit-content;
      margin-right: 5px;
    }

    .cost-printer {

      .cost-icon {
        font-size: 16px;
      }

      .cost-img {
        height: 18px;
        width: 18px;
        border-radius: 7px
      }

      b {
        font-size: 16px;
      }

      .symbol {
        font-size: 24px;
        margin-left: -4px;
        margin-top: -7px;
      }
    }
  }

  .enhancements {
    margin-top: 5px;
    background-color: $secondary-color;
    border: 2px solid $primary-dark;
    border-bottom: 0;
    padding: 5px;
    border-radius: 3px 3px 0 0;
    overflow-y: auto;
    max-height: 250px;

    .enh-row {
      height: 30px;
      background-color: $secondary-lighter;
      grid-template-columns: 1fr 100px 100px 30px;
      display: grid;
      border: 2px solid $secondary-darker;
      border-top: 1px solid $secondary-darker;
      border-bottom: 1px solid $secondary-darker;

      &:first-child {
        border-radius: 3px 3px 0 0;
        border-top: 2px solid $secondary-darker;
      }

      &:last-child {
        border-radius: 0 0 3px 3px;
        border-bottom: 2px solid $secondary-darker;

        .description {
          position: relative;
          bottom: 40px;

          .description-wrapper {
            border-radius: 5px 5px 5px 0;
          }
        }
      }

      &:nth-child(n+8) {
        .description {
          position: relative;
          bottom: 40px;

          .description-wrapper {
            border-radius: 5px 5px 5px 0;
          }
        }
      }

      .name {
        display: flex;
        align-items: center;

        img {
          border-radius: 0;
          width: 27px;
          height: 27px;
          border: 0;
          border-right: 1px solid $secondary-darker;
        }
      }
  
      .usage {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 28px;
        border-right: 1px solid $secondary-darker;
        border-left: 1px solid $secondary-darker;

        &.costs {
          border-left: 0;
        }

        .cost-printer {

          .cost-icon {
            font-size: 13px;
          }

          .cost-img {
            height: 15px;
            width: 15px;
            border-radius: 7px
          }

          b {
            font-size: 13px;
          }

          .symbol {
            font-size: 17px;
            margin-left: -3px;
            margin-top: -5px;
          }
        }
      }
  
      .enh-number {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2px;
        font-size: 16px;
        font-weight: bold;
        padding-right: 2px;
  
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 24px;
          width: 24px;
          color: $primary-color;
  
          span {
            margin-top: 2px;
            margin-left: 2px;
          }
        }
      }
    }
  }
}

#dmg-calculator, #initiative-slot-selector {

  .selectable {
    width: auto;
    font-weight: 100;
    font-size: 14px;
  }

  .long-select {
    color: var(--input-text-color);
    border: 2px solid $primary-darker;
    background-color: $secondary-lighter;
    border-radius: 2px;
    font-size: 16px;
    width: 100%;
    font-weight: bold;
    padding: 5px;
    margin: 5px 0;
    height: auto;
  }

  .box-content {
    margin: 5px 0;
    background-color: $secondary-color;
    border: 2px solid $primary-darker;
    border-radius: 2px;

    .actor {
      padding: 5px 8px;

      font-family: $font-default;
      font-size: 14px;
      font-weight: bold;

      display: flex;
      justify-content: space-between;
      align-items: center;

      border-top: 2px solid $primary-darker;

      .wrapper {
        display: flex;
        justify-content: start;
        align-items: center;

        img {
          height: 30px;
          width: 30px;
          object-position: 50% 0;
          object-fit: cover;
          border: 2px solid $primary-darker;
        }

        input {
          background-color: transparent;
          font-family: $font-header;
          font-size: 20px;
          font-weight: bold;
          color: $primary-dark;
          margin: 0 5px 0 5px;
          text-indent: 5px;
        }
      }

      &:first-child {
        border-top: 0;
      }
    }
  }
}

#color-settings {
  font-family: $font-default;
  font-size: 16px;
  min-width: 450px;
  max-height: 600px;
  overflow-y: scroll;

  .content {
    padding: 10px;

    nav {
      padding: 10px;
      margin: 5px 0;
      border: 1px solid $secondary-darker;
    }

    .live-refresh {
      border: 1px solid $secondary-darker;
      background-color: transparent;
      color: $secondary-darker;
      height: 20px;
      width: 20px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;

      &.refresh-on {
        background-color: $primary-light;
        color: $secondary-lighter;
        border-color: $primary-color;
      }
    }
  } 

  .row {

    .right-part-row {
      display: flex;
      align-items: center;
    }

    select, input {
      min-height: 25px;
      color: var(--input-text-color);
      border: 1px solid var(--input-border-color);
      background-color: var(--input-background-color);
      border-radius: 2px;
    }

    span {
      font-weight: bold;

      &.big {
        font-size: 20px;
      }
    }
  }

  button {
    margin: 0 5px;
    width: -webkit-fill-available;
  }
}

#skill-config {
  max-height: 750px;
  
  .remove-skill {
    flex: 0;
  }
}

#character-creation-wizard {
  background-color: #37373791;
  padding: 0;

  .create-actor-overlay {
    position: absolute;
    width: 100%;
    height: calc(100% - 30px);
    background-color: #886fb89c;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    
    span {
      font-size: 24px;
      text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
  }

  header {
    font-family: $font-header;
    font-size: 32px;
    font-weight: bolder;
    text-shadow: -1px 0 $secondary-color, 0 1px $secondary-color, 1px 0 $secondary-color, 0 -1px $secondary-color;
    padding: 10px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    color: $primary-dark;
    border-bottom: 3px solid $primary-dark;
    border-radius: 0 0 50px 50px;
    background-color: $secondary-lighter;
    margin-bottom: 5px;
  }

  .wrapper {
    height: calc(100% - 127px);
    padding: 10px;
    display: grid;
    grid-template-columns: 5fr 9fr 4fr;
    gap: 10px;
    margin-top: 0;

    .left-column {
      overflow-y: hidden;
      margin-top: 55px;

      .input-text {
        height: auto;
        padding: 5px;
        background-color: $secondary-lighter;
        border: 2px solid $primary-dark;
        border-radius: 3px;
      }

      .actor-img {
        object-position: 50% 0;
        object-fit: cover;
        height: 55%;
        width: 100%;
        border: 2px solid $primary-dark;
        border-radius: 3px;
        cursor: pointer;
      }
    }

    .header {
      font-size: 24px;
      color: $secondary-lighter;
      text-shadow: -1px 0 $secondary-darker, 0 1px $secondary-darker, 1px 0 $secondary-darker, 0 -1px $secondary-darker;
    }

    .absolute-wrapper {
      position: absolute;
      width: calc(100% - 20px);

      .creation-progress {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        align-items: center;

        .progress {
          font-family: $font-header;
          font-size: 18px;

          height: 50px;
          width: 100%;

          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid $secondary-darker;
          background-color: $secondary-lighter;
          border-right: 0;

          img {
            width: 40px;
            height: 40px;
            min-width: 40px;
            min-height: 40px;
            border: 2px solid $secondary-darker;
            border-radius: 5px;
            margin-right: 6px;
            background-color: $secondary-dark;
          }
        }

        .progress:last-child {
          border-right: 2px solid $secondary-darker;
        }

        .progress.active {
          background-color: $primary-dark;
          color: $secondary-lighter;

          img {
            border-color: $secondary-lighter;
          }
        }
      }
    }

    .sub-header {
      font-size: 16px;
      background-color: $secondary-lighter;
      padding: 5px;
      border-radius: 3px;
      box-shadow: 0 0 10px 3px $secondary-color inset;
      font-weight: bold;
      text-align: center;
    }

    .middle-column {
      overflow-y: auto;
      overflow-x: hidden;
      margin-top: 55px;

      .unique-item-picker-wrapper {
        display: flex;
        height: calc(100% - 89px);
    
        .item-selector {
          width: 220px;
          overflow-y: auto;
          padding: 10px 5px 5px 5px;
          background-color: $secondary-color;
          border: 2px solid $secondary-darker;
          border-radius: 3px 0 0 3px;

          .item-row {
            cursor: pointer;
            height: 43px;
            border: 2px solid $secondary-darker;
            background-color: $secondary-dark;
            border-radius: 3px;
            display: flex;
            align-items: center;
            width: 100%;
            box-shadow:  0 0 6px $primary-light inset;
            color: $secondary-lighter;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            margin-bottom: 2px;
    
            &:hover {
              background-color: $primary-light;
              box-shadow:  0 0 6px $primary-color inset;
            }
    
            &.selected {
              background-color: $primary-darker;
              color: $secondary-lighter;
              text-shadow: -1px 0 $secondary-darker, 0 1px $secondary-darker, 1px 0 $secondary-darker, 0 -1px $secondary-darker;
            }
    
            img {
              min-width: 40px;
              height: 40px;
              border-right: 2px solid $secondary-darker;
              margin-right: 8px;
            }
    
            .item-name {
              font-family: $font-header;
              font-size: 18px;
              overflow: hidden;
            }
          }

          .ancestry-mix {
            background-color: $crit-background;
            box-shadow:  0 0 6px $crit inset;
          }
        }
    
        .item-description {
          width: calc(100% - 220px);
          background-color: $secondary-color;
          border: 2px solid $secondary-darker;
          border-left: 0;
          border-radius: 0 3px 3px 0;
    
          .item-row {
            height: 60px;
            border-bottom: 2px solid $secondary-darker;
            background-color: $secondary-lighter;
            border-radius: 3px 3px 0 0;
            margin-bottom: 5px;
            display: flex;
            align-items: center;
            width: 100%;
            box-shadow:  0 0 6px $primary-color inset;
    
            img {
              width: 60px;
              height: 60px;
              border-right: 2px solid $primary-color;
              margin-right: 10px;
            }
    
            .item-name {
              font-family: $font-header;
              font-size: 35px;
              overflow: hidden;
            }
          }
    
          .description {
            padding: 5px 10px;
            font-family: $font-default;
            overflow-y: auto;
            font-size: 14px;
            height: calc(100% - 65px);
          }
        }
      }

      .attr-wrapper {
        gap: 5px;
        font-family: $font-header;
  
        .attr {
          border: 2px solid $secondary-darker;
          background-color: $secondary-color;
          color: $primary-dark;
          border-radius: 3px;
  
          .atr-name {
            border-bottom: 2px solid $secondary-darker;
            padding: 4px 2px;
            display: flex;
            align-items: center;
            justify-content: center;

            label {
              font-size: 20px;
            }
          }
  
          .value {
            font-size: 26px;
            font-weight: bold;
            
            input {
              padding: 5px 0;
              background: transparent;
              border: 0;
              text-align: center;
              color: $secondary-lighter;
              text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
              height: 32px;
              margin-bottom: 5px;
              width: 100%;
  
              &:disabled {
                color: $secondary-lighter;
              }
            }
          }
  
          .buttons {
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-size: 20px;
  
            a {
              color: $primary-color;
            }
          }

          &.maximum {
            filter: contrast(0.6);
          }
        }
      }
    }

    .selected-item {
      width: 100%;
      margin-top: 5px;
      border-radius: 2px;
      background-color: $secondary-color;
      border: 2px solid $primary-dark;
      color: $secondary-darker;
      display: flex;
      align-items: center;

      .item-img {
        height: 40px;
        width: 40px;
        border-right: 2px solid $primary-dark;
        border-radius: 0;
      }

      .item-name {
        padding: 5px;
        font-family: $font-header;
        font-size: 20px;
      }
    }

    .scaling-value-row {
      display:flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      margin-top: 5px;
      padding: 5px;
      border-radius: 2px;
      background-color: $secondary-color;
      border: 2px solid $primary-dark;
      color: $primary-dark;
      
      &.red-box {
        .progress {
          span {
            color: $dark-red;
            border-color: $dark-red;
          }
        }
      }

      label {
        margin-left: 4px;
        font-size: 18px;
      }
  
      .progress {
        display: flex;
        align-items: center;
        justify-content: end;
        
        span {
          min-width: 33px;
          font-weight: bold;
          font-size: 14px;
          padding: 3px 5px;
          margin: 0 5px;
          border-radius: 3px;
          border: 2px solid $primary-dark;
          color: $primary-dark;
          background-color: $secondary-lighter;
          text-align: center;
        }

        .spender-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
    
          .manual-switch {
            min-width: 33px;
            font-weight: bold;
            font-size: 14px;
            padding: 3px 5px;
            margin: 0 5px;
            border-radius: 3px;
            border: 2px solid $secondary-darker;
            color: $secondary-lighter;
            background-color: $primary-dark;
            text-align: center;
            height: 27px;
            align-items: center;
            justify-content: center;
            display: flex;
          }
        }
      }
    }
  }

  .half-button {
    display: flex;
    justify-content: space-between;

    .next-button {
      width: 49%;
    }
  }

  .footer {
    padding: 10px;

    .next-button {
      background-color: $secondary-color;
      border-radius: 0;

      button {
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        color: $primary-color;
        font-family: $dc20-font;
        border: 0;
        border-radius: 0;

        &:disabled {
          filter: grayscale(1);
          cursor: default;
        }
      }
    }
  }

  .equipment-wrapper {
    height: calc(100% - 64px);
    background-color: $secondary-color;
    border: 2px solid $secondary-darker;
    border-radius: 3px;
    overflow-y: auto;
    
    .open-compendium, .open-item-creator {
      height: 30px;
      width: 55px;
    }

    .item-row {
      height: 45px;
      border: 2px solid $secondary-darker;
      background-color: $secondary-dark;
      border-radius: 3px;
      margin: 8px;
      display: flex;
      align-items: center;
      box-shadow:  0 0 6px $primary-light inset;
      color: $secondary-lighter;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

      img {
        min-width: 45px;
        height: 45px;
        border-right: 2px solid $secondary-darker;
        margin-right: 8px;
        background-color: $primary-darker;
      }

      .item-name {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        margin-right: 8px;
        font-family: $font-header;
        font-size: 20px;
        overflow: hidden;

        .item-controls {
          display: flex;
          align-items: center;
          justify-content: end;

          .open-compendium, .open-item-creator {
            position: relative;
            right: 0;
          }

          input {
            color: $secondary-lighter;
            text-align: center;
            width: 45px;
            font-size: 18px;
            margin-right: 10px;
            border-radius: 0;
            border: 1px solid $primary-darker;
          }

          .remove-item {
            color: $dark-red;
            font-size: 16px;
            margin-right: 7px;
          }
        }
      }
    }
  }
}

#mix-ancestry-dialog {

  .title {
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $dc20-font;
  }

  .open-compendium {
    right: 15px;
  }

  .table-wrapper {
    height: 100px;
    background-color: $secondary-color;
    border: 2px solid $secondary-darker;
    border-radius: 3px;
    padding: 3px;

    .item-row {
      height: 40px;
      border: 2px solid $secondary-darker;
      background-color: $secondary-lighter;
      border-radius: 3px;
      margin: 3px;
      display: flex;
      align-items: center;
      box-shadow:  0 0 6px $primary-color inset;

      img {
        min-width: 36px;
        height: 36px;
        border: 2px solid $primary-color;
        margin-right: 5px;
      }

      .item-name {
        font-family: $dc20-font;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-right: 8px;
        margin-top: 4px;
        font-size: 14px;
        overflow: hidden;
      }
    }
  }
}

#compendium-browser {
  background-color: #37373791;
  padding: 0;

  .collecting-data-overlay {
    position: absolute;
    width: 100%;
    height: calc(100% - 30px);
    background-color: #886fb89c;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    
    span {
      font-size: 24px;
      text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
  }

  .title {
    font-size: 32px;
    margin: 10px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-header;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }

  .row {
    height: 26px;
  }

  .item-picker-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    height: calc(100% - 50px);
    padding: 10px;

    .list-column {
      overflow-y: auto;

      .item-header, .item-row {
        grid-template-columns: 4fr 1fr 50px;
      }

      .item-row {
        border-color: $secondary-darker;

        &:hover {
          cursor: pointer;
          box-shadow: 0 0 15px $primary-dark inset;
        }

        .column {
          border: 0;

          .fa-lg {
            font-size: 20px;
          }
        }

        .source {
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;
          font-weight: bold;
        }
      }
    }

    .filter-column {
      overflow-y: auto;
      padding: 5px;

      border: 2px solid $primary-darker;
      background-color: $secondary-color;
      border-radius: 3px;
      overflow-x: hidden;

      .filter-row {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        padding: 8px;
        box-shadow: 0 0 7px 4px $secondary-dark inset;
        border-radius: 3px;
        
        label {
          margin-bottom: 3px;
          font-weight: bold;
          text-align: center;
        }

        select, input {
          border: 1px solid $secondary-darker;
          background-color: $secondary-lighter;
        }

        .multi-select-wrapper {
          display: flex;
          flex-direction: column;
          font-size: 12px;
          padding: 0 5px;

          .multi-select {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2px;

            span {
              font-weight: bold;
            }
          }
        }

        .over-under-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
      }

      #tooltip-container {
        margin-top: -8px;
        margin-left: -8px;
      }
    }
  }
}

#initiative-slot-selector {
  .selectable {
    width: 50px;
    background-color: $secondary-lighter;
    border-color: $secondary-darker;
    color: $secondary-darker;
    font-weight: bold;
  }

  .sub-header {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 5px;
    justify-content: center;
    padding: 3px;
  }

  .long-select {
    width: 100%;
  }
}


.dialog-v13 {

  &.theme-dark {
    --border-color: var(--color-light-4);
    --text-color: var(--color-light-3);
    --text-color-2: var(--color-light-6);
    --backround-color: var(--color-cool-4);
    --header-color: var(--color-warm-1);

    --activable-off: var(--color-light-2);
    --activable-on: var(--color-light-5);
  }

  &.theme-light {
    --border-color: var(--color-dark-1);
    --text-color: var(--color-dark-1);
    --text-color-2: var(--color-dark-4);
    --backround-color: rgba(0, 0, 0, 0.1);
    --header-color: var(--color-warm-2);

    --activable-off: var(--secondary-lighter);
    --activable-on: var(--primary-dark);
  }

  .form-group {

    &.symetry {
      label {
        flex: 2;
      }
    }

    &.vertical {
      label {
        display: flex;
        justify-content: center;
        flex: auto;
      }

      .form-fields {
        flex: auto;
      }
    }

    span {
      justify-content: end;
      display: flex;
    }
  }

  .multi-select-wrapper {
    display: flex;
    flex-direction: column;
  }

  .message {
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
  }

  .activable-box {
    font-family: $font-header;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;

    border: 2px solid var(--activable-on);
    background-color: var(--activable-off);
    color: var(--activable-on);

    &:hover {
      box-shadow: 0 0 4px 2px var(--color-warm-2) inset;
      text-shadow: none;
    }

    &.active {
      background-color: var(--activable-on);
      border-color: var(--activable-off);
      color: var(--activable-off);

      &:hover {
        box-shadow: 0 0 4px 2px var(--color-warm-2) inset;
      }
    }

    &.disable {
      filter: brightness(0.7);

      &:hover {
        box-shadow: none;
        cursor: default;
      }
    }
  }

  .box-content {
    margin: 5px 0;
    background-color: var(--backround-color);
    border: 2px solid var(--border-color);
    border-radius: 5px;
    padding: 0;
    color: var(--text-color);

    .actor {
      padding: 10px 12px;
      font-family: $font-default;
      font-size: 14px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      border-top: 2px solid var(--border-color);

      .wrapper {
        display: flex;
        justify-content: start;
        align-items: center;

        img {
          height: 30px;
          width: 30px;
          object-position: 50% 0;
          object-fit: cover;
          border: 1px solid var(--border-color);
          border-radius: 5px;
        }

        input {
          color: var(--text-color);
          border: 0;
          background-color: transparent;
          font-family: $font-header;
          font-size: 20px;
          margin: 0 5px 0 5px;
          text-indent: 5px;
        }
      }

      &:first-child {
        border-top: 0;
      }

      .buttons {
        display: flex;
        align-items: center;
        justify-content: end;
      }
    }
  }

  button {
    display: flex;
    align-items: center;
  }
}

#transfer {

  &.theme-dark {
    --border-color: var(--color-light-4);
    --text-color: var(--color-light-3);
    --text-color-2: var(--color-light-2);
    --backround-color: var(--color-cool-4);
    --header-color: var(--color-warm-1);
  }

  &.theme-light {
    --border-color: var(--color-dark-1);
    --text-color: var(--color-dark-1);
    --backround-color: rgba(0, 0, 0, 0.1);
    --header-color: var(--color-warm-2);
  }

  .transfer-wrapper {
    display: flex;
    align-items: center;
    min-height: 66px;
    color: var(--text-color);

    .separator {
      margin: 0 6px;
    }

    .trader {
      border-radius: 3px;
      border: 1px solid var(--border-color);
      flex: 1;
      background-color: var(--backround-color);

      display: flex;
      flex-direction: column;

      .char-info {
        height: 35px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--border-color);
        color: var(--header-color);
        font-size: 18px;
        
        img {
          border-radius: 3px 0 0 0;
          border: 0;
          border-right: 1px solid var(--border-color);
          margin-right: 6px;
          height: 34px;
          width: 34px;
        }
      }

      .items {
        min-height: 150px;
        flex: 1;

        .item {
          border-bottom: 1px solid var(--border-color);
          display: flex;
          align-items: center;

          img {
            width: 29px;
            height: 29px;
            border: 0;
            border-right: 1px solid var(--border-color);
            margin-right: 6px;
          }

          input {
            background-color: transparent;
            border: 0;
            border-right: 1px solid var(--border-color);
            width: 100%;
            height: 29px;

            &:disabled {
              color: var(--text-color);
            }
          }

          a {
            padding-left: 6px;
            padding-right: 6px;
          }
        }
      }

      .currencies {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
        height: 20px;

        .currency {
          margin-left: 3px;
          border: 1px solid black;
          border-radius: 3px;
          font-family: $font-default;

          input {
            font-size: 12px;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            height: 16px;
            width: 45px;
            padding: 4px 3px 1px 3px;
            background-color: transparent;
            border-radius: 5px;
            border: 0;
            color: white;
            text-align: center;
          }

          &.cp {
            background-color: #be7a14a9;
          }

          &.sp {
            background-color: #797979a9;
          }

          &.gp {
            background-color: #bdac11a9;
          }

          &.pp {
            background-color: #5e9287a9;
          }
        }
      } 
    }
  }
}

#item-creator {

  .item-display {
    display: flex;
    align-items: center;

    img {
      border: 1px solid var(--border-color);
      margin-right: 8px;
      height: 30px;
      width: 30px;
    }
  }

  .property-points {
    font-family: $font-header;
    font-size: 20px;
    padding: 5px;
    border-radius: 3px;
    background-color: var(--activable-on);
    color: var(--activable-off);
    border: 2px solid var(--activable-off);

    box-shadow: 0 0 6px 2px var(--color-off) inset;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#condition-manager {

  .condition-fieldset {
    max-height: 320px;
    overflow-y: auto;
  }

  .conditions-wrapper {

    .condition {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      border-radius: 3px;
      border: 1px solid var(--border-color);
      background-color: var(--backround-color);

      label {
        padding: 5px 0;
        font-size: 12px;
      }

      img {
        padding: 5px;
        width: 50px;
        height: 50px;
        min-width: 50px;
        min-height: 50px;

        background-color: var(--activable-on);
        border-radius: 5px;
        margin-top: 5px;
      }

      &:hover {
        box-shadow: 0 0 8px 3px var(--text-color-2) inset;
        cursor: pointer;
      }
    }
  }
}

#adventurers-register {

  .item-list {
    color: $secondary-darker;

    .column {
      font-weight: bold;
    }

    .name:hover {
      cursor: pointer;
    }
  }
}