.dialog-v2 {
  font-size: 16px;
  font-family: $font-foundry;
  padding: 10px;

  .border-box {
    border-color: $primary-color;

    .box-inner {
      border-color: $primary-color;
    }

    &:before, &:after, .box-inner:before, .box-inner:after {
      color: $primary-color;
      border-color: $primary-color;
    }
  }

  // Rows
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    input, select, span {
      width: 50%;
    }

    input {
      padding: 4px;
    }

    &.ignore-symetry {
      input, select, span {
        width: auto;
      }
    }

    select, input {
      border: 2px solid $primary-darker;
      border-radius: 3px;
      color: black;
      background-color: $secondary-lighter;

      &:disabled {
        filter: contrast(0.8);
      }
    }

    span {
      font-weight: bold;
    }
  }

  .labelless-row {
    font-size: 14px;
    width: 100%;
    height: auto;

    padding: 5px;
    border: 2px solid $primary-darker;
    border-radius: 3px;
    
    font-weight: bold;
    color: black;
    background-color: $secondary-lighter;
  }

  // Title/Headers
  .header {
    font-size: 18px;
    font-weight: bold;
    padding: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-bottom: 2px solid $primary-color;
    margin-bottom: 5px;
  }

  .box-header {
    font-size: 16px;
    padding: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    border: 2px solid $primary-darker;
    background-color: $secondary-color;
    border-radius: 3px;
  }

  .formula {
    font-weight: bold;
    font-size: 12px;
  }

  // Button
  .button {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    border-radius: 3px;
    border: 2px solid $primary-darker;
    margin: 0;

    text-shadow: -1px 0 $secondary-lighter, 0 1px $secondary-lighter, 1px 0 $secondary-lighter, 0 -1px $secondary-lighter;
    color: $primary-darker;
    font-weight: bold;
    background-color: $secondary-color;
  }

  .button:disabled {
    filter: contrast(0.5);
    cursor: default;
  }

  .button-wrapper {
    display: flex;
    align-items: center;

    .button {
      margin: 0 1px;
    }
  }

  .content-wrapper {
    border: 2px solid $primary-darker;
    background-color: $secondary-color;
    border-radius: 3px;

    .header {
      font-size: 16px;
      font-weight: bold;
      padding: 8px;
      border-color: $primary-darker;
    }

    .content {
      padding: 5px;

      .button {
        text-shadow: 0;
        color: $primary-dark;
        background-color: $secondary-lighter;
      }

      .short {
        width: 50px;
        margin: 0;
        height: 27px;
      }

      .labelless-row {
        font-size: 12px;
        font-weight: normal;
      }

      .input-select {
        display: flex;
        align-items: center;
      }
    }
  }

  .activable-box {
    font-family: $dc20-font;
    padding: 6px 6px 4px 6px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;

    border: 2px solid $secondary-dark;
    background-color: $secondary-lighter;
    color: $secondary-dark;

    &.active {
      background-color: $primary-color;
      border-color: $secondary-dark;
      color: $secondary-lighter;
    }
      
    &.activable:hover {
      box-shadow: 0 0 3px 2px #fd0000bd inset;
    }
  }

  .open-compendium, .mix-ancestry {
    position: absolute;
    right: 30px;
    color: $primary-color;
    background-color: $secondary-lighter;
    border-radius: 5px;
    border: 2px solid $primary-color;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      margin-top: 2px;
    }
  }
}

#rest-dialog {

  .separated-values {
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 32px;
    font-weight: bold;
    text-shadow: -2px 0 $primary-darker, 0 2px $primary-darker, 2px 0 $primary-darker, 0 -2px $primary-darker;
    color: $secondary-lighter;
    
    .value {
      flex: 1; 
      text-align: center; 
      white-space: nowrap; 
    }
    
    .separator {
      margin: 0 5px;
    }
  }

  .exhaustion-wrapper {
    margin: 0 5px;
    margin-top: 8px;

    span {
      font-size: 14px;
      font-weight: bold;
    }

    .save-dc {
      padding: 6px 10px;
      border-radius: 3px;
      border: 2px solid $primary-darker;
      background-color: $secondary-lighter;
      font-size: 16px;
      color: $primary-darker;
    }
  }

  .activity-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5px;
    margin-top: 5px;

    .activity-switch {
      cursor: pointer;
      display: flex;
      align-items: center;
  
      .activity {
        width: 45px;
        height: 40px;
        padding: 4px;

        justify-content: center;
        display: flex;

        border: 2px solid $secondary-lighter;
        border-radius: 3px;
  
        &.selected {
          background-color: $secondary-lighter;
          border: 2px solid $primary-darker;
          color: $secondary-color;
          text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }
      }
    }

    span {
      font-size: 14px;
    }
  }
}

#advancement-dialog {
  font-family: $dc20-font;
  font-size: 12px;

  .applying-advancement-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background-color: #886fb89c;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    
    span {
      font-size: 24px;
      text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
  }

  .display-tips {
    position: absolute;
    height: 0;
    width: 0;
    right: 15px;
    top: 100px;

    .tip {
      height: 40px;
      width: 40px;
      background-color: $secondary-dark;
      border-radius: 5px;

      img {
        border: 2px solid $secondary-darker;
        border-radius: 5px;
        height: 40px;
        width: 40px;
      }
    }
  }

  .wrapper {
    padding: 15px;
    padding-bottom: 5px;
    height: 100%; 
    display: flex;
    flex-direction: column;

    .content {
      flex: 1; 
      overflow-y: auto;
      
      .row {
        font-family: $font-foundry;
      }

      .repeat-at-wrapper {
        gap: 0px;
        margin: 0;
        border: 2px solid $primary-darker;
        color: $primary-color;
        border-radius: 3px;
        background-color: $secondary-lighter;

        .rep-box {
          display: flex;
          align-items: center;
          flex-direction: column;
          text-align: center;

          border-left: 1px solid $primary-darker;

          &.disabled {
            filter: opacity(0.5);
          }

          &:nth-child(11), &:first-child {
            border-left: 0;
          }

          .repeat-at {
            background-color: transparent;
            border: 0;
            border-radius: 0;
            border-top: 1px solid $primary-darker;
            border-bottom: 1px solid $primary-darker;
          }
        }
      }

      .table {
        gap: 5px;
        margin: 0;

        .skill-mastery {
          border: 2px solid $primary-darker;
          background-color: $secondary-color;
          color: $primary-dark;
          border-radius: 3px;
          padding: 5px;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          label {
            font-size: 16px;
            font-weight: bold;
          }

          span {
            margin-top: 5px;
            font-family: $dc20-font;
            font-size: 12px;
            color: $secondary-lighter;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
          }

          &.maximum {
            filter: contrast(0.6);
          }
        }
      }

      .attr-wrapper {
        gap: 5px;
        font-family: $dc20-font;
  
        .attr {
          border: 2px solid black;
          background-color: $secondary-color;
          color: $primary-light;
          border-radius: 3px;
  
          .atr-name {
            border-bottom: 2px solid black;
            padding: 4px 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  
            label {
              font-size: 14px;
              font-weight: bold;
            }
          }
  
          .value {
            font-size: 20px;
            font-weight: bold;
            
            input {
              padding: 5px 0;
              background: transparent;
              border: 0;
              text-align: center;
              color: $primary-light;
              text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
              height: 25px;
              margin-bottom: 5px;
              width: 100%;
  
              &:disabled {
                color: $primary-light;
              }
            }
          }
  
          .buttons {
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-size: 20px;
  
            a {
              color: $primary-color;
            }
          }
        }
      }
    }
    
    .scaling-values-content {
      font-family: $font-foundry;
    }
    
    .footer {
      margin-top: auto;
    }
  }

  .item-list {
    margin-bottom: 0;

    .item-header, .item-row {
      grid-template-columns: 1fr 50px;

      .column {
        a, i {
          font-size: 1.33em;
        }
      }
    }

    &.actor-select {
      
      .item-header, .item-row {
        grid-template-columns: 1fr 50px 50px !important;
      }
    }

    &.multiple-choice {

      &.actor-select {

        .item-header, .item-row {
          grid-template-columns: 1fr 50px 50px 50px !important;
        }
      }

      .item-header, .item-row {
        grid-template-columns: 1fr 50px 50px 50px 50px;
      }
    }
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 5px;
  }

  .sub-title {
    background-color: #b3b2b2;
    border: 2px solid $primary-color;
    border-radius: 5px;
    font-size: 14px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .bellow-table {
    font-family: $font-foundry;
    background-color: $secondary-color;
    border: 2px solid $secondary-dark;
    font-size: 16px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 0;
  }
  
  .point-spend-row, .scaling-value-row {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    padding: 5px;
    border-radius: 2px;
    background-color: $secondary-color;
    border: 2px solid $dark-red;
    font-family: $font-foundry;
    
    label {
      margin-left: 4px;
      font-size: 18px;
    }

    .progress {
      display: flex;
      align-items: center;
      justify-content: end;
      
      span {
        min-width: 33px;
        font-weight: bold;
        font-size: 14px;
        padding: 3px 5px;
        margin: 0 5px;
        border-radius: 3px;
        border: 2px solid $dark-red;
        color: $dark-red;
        background-color: $secondary-lighter;
        text-align: center;
      }
    }

    .spender-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      .skill-point-converter {
        min-width: 33px;
        font-weight: bold;
        font-size: 14px;
        padding: 3px 5px;
        margin: 0 2px;
        border-radius: 3px;
        border: 2px solid $secondary-lighter;
        color: $secondary-lighter;
        background-color: $primary-dark;
        text-align: center;
      }
    }
  }

  .scaling-value-row {
    margin-top: 10px;
    border-color: $primary-darker;
    
    label {
      font-size: 22px;
      font-weight: bold;
    }

    .progress {

      .fa-circle-right {
        margin-top: 2px;
        font-size: 16px;
        color: $primary-darker;
      }
      
      span {
        font-size: 16px;
        border-color: $primary-darker;
        color: $primary-darker;
      }
    }
  }

  .talent-mastery-picker {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    span {
      font-family: $font-foundry;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 5px;
      text-align: center;
    }

    .picker {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 120px;
      width: 100%;

      .talent-mastery-selector {
        width: 100%;

        img {
          height: 120px;
          width: 100%;
          border: 2px solid $primary-color;
          object-fit: cover;
    
          &.spellcaster {
            object-position: 0 7%;
            border-radius: 0 3px 3px 0;
            border-left: 1px solid $primary-color;
          }
    
          &.martial {
            object-position: 0 0;
            border-radius: 3px 0 0 3px;
            border-right: 1px solid $primary-color;
          }
    
          &.disabled {
            filter: grayscale(1);
          }
        }
      }
    }


  }
}

#character-configuration {

  .wrapper {

    .header {
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 5px 5px 0 0;
      padding: 10px 5px 5px 5px;
      text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
      color: $primary-color;
      border: 2px solid $primary-color;
      border-bottom: 0;
      background-color: $secondary-color;
    }

    .content {
      padding: 5px;
      border-radius: 0 0 5px 5px;
      text-shadow: -1px 0 $secondary-lighter, 0 1px $secondary-lighter, 1px 0 $secondary-lighter, 0 -1px $secondary-lighter;
      color: black;
      border: 2px solid $primary-color;
      background-color: $secondary-color;

      .flat-value {
        text-align: center;
      }

      .short {
        width: 50px;
        margin: 0;
        height: 24px;
      }

      .input-select {
        display: flex;
        align-items: center;

        select {
          margin: 0;
          height: 24px;
        }
      }
    }
  }

  .defences {
    gap: 5px;
    margin: 0;
  }
}

#weapon-creator {
  width: 530px;

  .stats {
    font-family: $font-foundry;
    font-size: 16px;
    border: 2px solid $secondary-dark;
    padding: 5px 15px;
    box-shadow:  0 0 7px $primary-darker inset;
    background-color: $secondary-color;

    .range {
      text-align: end;
      color: $primary-darker;
      text-shadow: -1px 0 $secondary-lighter, 0 1px $secondary-lighter, 1px 0 $secondary-lighter, 0 -1px $secondary-lighter;
    }
  }
}

#editor-dialog {
  font-family: $font-foundry;
  font-size: 14px;
}

#roll-prompt {
  width: 500px;
  padding: 15px 7px 5px 7px;
  font-family: $dc20-font;
  font-size: 12px;

  .sub-title {
    border-radius: 3px;
    border-color: $primary-darker;
  }

  .roll-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .held-action {
      width: 10%;
      height: 34px;
      margin-left: 3px;
    }
  }

  .roll-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    margin-top: 5px;
    background-color: $secondary-color;
    border-radius: 3px;
    border: 2px solid $primary-darker;
    padding: 10px 5px;

    .sub-header {
      display: flex;
      align-items: center;
      font-size: 14px;
      margin-bottom: 5px;
    }

    .last-roll-level-check {
      color: $primary-dark;
      margin-left: -20px;
      margin-top: -10px;
      position: absolute;
      font-size: 1.65em !important;
    }

    .roll-level {

      .toggle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 3px;
  
        .toggle-numeric {
          display: flex;
          align-items: center;
          justify-content: center;
  
          padding: 4px 4px 2px 4px;
          width: 25px;
          background-color: $primary-light;
          border: 2px solid $primary-color;
          border-radius: 5px;
          color:$secondary-lighter;
          text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        }
  
        span {
          margin-top: 4px;
        }
      }
  
      .absolute-button {
        position: absolute;
        left: 145px;
        margin-top: -3px;
    
        .ap-for-adv, .ap-for-adv-disabled {
    
          .dice {
            color: $primary-light;
            font-size: 1.9em;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: $primary-color;
          }
      
          .value {
            position: relative;
            top: -16px;
      
            display: flex;
            justify-content: center;
            align-items: center;
      
            span {
              color: $secondary-lighter;
              font-size: 12px;
              text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
            }
          }
        }
      }
    }

    .help {
      margin-top: 8px;
      margin-bottom: -8px;
    }
  
    .help-dices {
      display: flex;
  
      .value {
        position: relative;
        top: -23px;
  
        display: flex;
        justify-content: center;
        align-items: center;
  
        span {
          color: $secondary-lighter;
          font-size: 16px;
          text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        }
      }
  
      .dice {
        color: $primary-light;
        font-size: 2.5em;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $primary-color;
      }
  
      .triangle {
        margin-top: 15px;
        margin-left: -3px;
  
        .value {
          top: -24px;
        }
  
        .dice {
          font-size: 3em;
        }
      }
  
      .square {
        margin-left: -2px;
      }
  
      .diamond {
        margin-top: 20px;
      }
    }
  
    .mid-column {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  
      .item-roll-options {
        margin-top: 15px;
        display: flex;
        align-items: center;
  
        i {
          color: $primary-color;

          &.fail {
            color: $fail;
          }
          &.crit {
            color: $crit;
          }
        }
      }

      .not-used {    
        color: #ff2e2e;

        box-shadow: 0 0 0 0 #da0101;
        transform: scale(1);
        animation: pulse 1.5s infinite;
      }

      @keyframes pulse {
        0% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 #da0101bd;
        }
    
        70% {
            transform: scale(1);
            box-shadow: 0 0 0 15px #da010100;
        }
    
        100% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 #da010100;
        }
      }
    }
  }

  .item-name {
    display: flex;
    align-items: center;

    background-color: $secondary-lighter;
    border-radius: 3px;
    box-shadow:  0 0 7px $primary-darker inset;
    border: 2px solid $primary-darker;

    .name-wrapper {
      display: flex;
      align-items: center;
      width: calc(100% - 5px);
      margin-right: 5px;

      img {
        object-position: 50% 0;
        object-fit: cover;
        height: 40px;
        width: 40px;
        border-radius: 3px 0 0 0;
        border: 0;
        border-right: 1px solid $primary-darker;
      }
  
      span {
        margin-top: 3px;
        font-size: 22px;
        margin-left: 7px;
      }
    }

    .action-outcome {
      display: flex;
      align-items: center;
      justify-content: end;
      margin-right: 5px;

      .description-icon {

        .description {
          position: fixed;
        }

        .letter-circle-icon {
    
          i, span {
            font-size: 16px;
            height: 30px;
            width: 30px;
          }
        }

        .description-wrapper {
          margin-left: 2px;
          margin-top: 22px;
          font-family: $font-foundry;
    
          span {
            font-size: 11px;
          }
        }
      }
    }
  }

  .measurement-templates {
    font-family: $font-foundry;
    display: flex;
    flex-direction: column;

    padding: 10px 7px 7px 7px;
    border: 2px solid $primary-darker;
    border-top: 0;
    background-color: $secondary-color;
    border-radius: 0 0 3px 3px;

    .template {
      display: flex;
      align-items: center;
      justify-content: center;

      .template-button, .template-side-button {
        text-align: center;
        font-size: 15px;
        margin-top: 3px;
  
        color: $primary-dark;
        font-weight: bold;
        background-color: $secondary-lighter;
        border: 1px solid $secondary-darker;
        border-radius: 5px;
        
        box-shadow:  0 0 10px $secondary-dark inset;
        padding: 4px;
        width: 100%;
  
        &.disabled {
          cursor: default;
          filter: saturate(0.5);
  
          &:hover {
            text-shadow: none;
          }
        }
  
        &.selected {
          color: $secondary-lighter;
          background-color: $primary-light;
        }
      }

      .template-side-button {
        width: 25px;
      }
    }
  }

  .description-icon {

    .letter-circle-icon {

      i, span {
        font-size: 12px;
        height: 23px;
        width: 23px;
        border: 2px solid $secondary-darker;
      }
    }

    .fa-droplet {
      background-color: $health-point;
    }

    .fa-gear {
      background-color: $mana;
    }

    .fa-heart {
      background-color: $health;
    }

    .description {
      position: relative;
    }

    .description-wrapper {
      margin-left: 2px;
      font-family: $font-foundry;

      span {
        font-size: 11px;
      }
    }
  }

  .costs {
    display: flex;
    align-items: center;

    .cost-icon, .cost-img {
      margin: 0 2px;
      text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }

    b {
      margin: 3px -2px 0 2px;
      font-size: 10px;
    }

    .cost-img {
      height: 15px;
      width: 15px;
      border: 0;
      border-radius: 7px
    }

    .ap {
      color: $action-point;
    }

    .sp {
      color: $stamina;
    }

    .mp {
      color: $mana;
    }

    .hp {
      color: $health;
    }

    .grit {
      color: $grit;
    }

    .rest {
      color: #00887d;
    }
  }

  .expected-cost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;

    padding: 10px 7px 7px 7px;
    border: 2px solid $primary-darker;
    border-top: 0;
    background-color: $secondary-color;
    border-radius: 0 0 3px 3px;

    .cost-label {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      width: fit-content;
      margin-right: 5px;
    }

    .costs {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-x: auto;

      .cost-img {
        height: 18px;
        width: 18px;
        border: 1px solid $primary-darker;
      }

      .cost-icon {
        font-size: 19px;
      }
    }

    .other-item {
      display: flex;
      align-items: center;
      justify-content: center;

      border: 1px solid $primary-darker;
      border-radius: 2px;
      padding: 1px;
      background-color: $secondary-lighter;

      span {
        font-family: $font-foundry;
        font-size: 14px;
      }
    }
  }

  .enhancements {
    margin-top: 5px;
    background-color: $secondary-color;
    border: 2px solid $primary-dark;
    border-bottom: 0;
    padding: 5px;
    border-radius: 3px 3px 0 0;
    overflow-y: auto;
    max-height: 250px;

    .enh-row {
      height: 30px;
      background-color: $secondary-lighter;
      grid-template-columns: 1fr 100px 100px 30px;
      display: grid;
      border: 2px solid $secondary-darker;
      border-top: 1px solid $secondary-darker;
      border-bottom: 1px solid $secondary-darker;

      &:first-child {
        border-radius: 3px 3px 0 0;
        border-top: 2px solid $secondary-darker;
      }

      &:last-child {
        border-radius: 0 0 3px 3px;
        border-bottom: 2px solid $secondary-darker;
      }

      .name {

        img {
          border-radius: 0;
          width: 27px;
          height: 27px;
          border: 0;
          border-right: 1px solid $secondary-darker;
        }

        display: flex;
        align-items: center;
      }
  
      .usage {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 28px;
        border-right: 1px solid $secondary-darker;
        border-left: 1px solid $secondary-darker;

        &.costs {
          border-left: 0;
        }
      }
  
      .enh-number {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2px;
        font-size: 16px;
        font-weight: bold;
        padding-right: 2px;
  
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 24px;
          width: 24px;
          color: $primary-color;
  
          span {
            margin-top: 2px;
            margin-left: 2px;
          }
        }
      }
    }
  }
}

#roll-request, #token-selector, #dmg-calculator {

  .selectable {
    width: auto;
    font-weight: 100;
    font-size: 14px;
  }

  .box-content {
    margin: 5px 0;
    background-color: $secondary-color;
    border: 2px solid $primary-darker;
    border-radius: 3px;

    .actor {
      margin: 3px 0;
      padding: 6px 10px 3px 10px;

      font-family: $font-foundry;
      font-size: 14px;
      font-weight: bold;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .wrapper {
        display: flex;
        justify-content: start;
        align-items: center;

        img {
          height: 30px;
          width: 30px;
          object-position: 50% 0;
          object-fit: cover;
          border: 2px solid $primary-dark;
        }

        input {
          background-color: transparent;
          font-family: $font-foundry;
          font-size: 18px;
          font-weight: bold;
          color: $primary-dark;
          margin: 0 5px 0 5px;
        }
      }
    }
  }
}

#color-settings {
  font-family: $font-foundry;
  font-size: 16px;
  min-width: 450px;
  max-height: 600px;
  overflow-y: scroll;

  .content {
    padding: 10px;

    nav {
      padding: 10px;
      margin: 5px 0;
      border: 1px solid $secondary-darker;
    }

    .live-refresh {
      border: 1px solid $secondary-darker;
      background-color: transparent;
      color: $secondary-darker;
      height: 20px;
      width: 20px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;

      &.refresh-on {
        background-color: $primary-light;
        color: $secondary-lighter;
        border-color: $primary-color;
      }
    }
  } 

  .row {

    .right-part-row {
      display: flex;
      align-items: center;
    }

    select, input {
      min-height: 25px;
      color: var(--input-text-color);
      border: 1px solid var(--input-border-color);
      background-color: var(--input-background-color);
      border-radius: 2px;
    }

    span {
      font-weight: bold;

      &.big {
        font-size: 20px;
      }
    }
  }

  button {
    margin: 0 5px;
    width: -webkit-fill-available;
  }
}

#skill-config {
  max-height: 650px;

  .box-header {
    justify-content: space-between;
    font-weight: bold;
  }
}

#simple-popup {

  .info-wrapper {
    font-size: 14px;
    padding: 4px;

    border: 2px solid $primary-darker;
    background-color: $secondary-lighter;
    border-radius: 3px;
    color: black;

    .information {
      margin: 8px 2px;
      padding-bottom: 8px;
      border-bottom: 1px solid $primary-darker;

      &:last-child {
        border: 0;
      }
    }
  }
}

#character-creation-wizard, #subclass-selector {
  font-family: $dc20-font;
  font-size: 12px;
  width: 820px;
  padding: 15px;

  .create-actor-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background-color: #886fb89c;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    
    span {
      font-size: 24px;
      text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
  }

  .half-button {
    display: flex;
    justify-content: space-between;

    .next-button {
      width: 49%;
    }
  }

  .title {
    font-size: 26px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $dc20-font;
  }

  .sub-title {
    margin-top: -7px;
    font-size: 16px;
    font-style: italic;
    font-family: $font-foundry;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .name-row {
    
    span {
      margin-top: 3px;
      font-family: $dc20-font;
    }

    input {
      font-size: 22px;
      height: 30px;
      border-radius: 0;
      border: 2px solid black;
      background-color: $secondary-color;
    }
  }

  .footer {
    margin-top: auto;

    .next-button {
      background-color: $secondary-color;
      border-radius: 0;

      button {
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        color: $primary-color;
        font-family: $dc20-font;
        border: 0;
        border-radius: 0;

        &:disabled {
          filter: grayscale(1);
          cursor: default;
        }
      }
    }
  }

  .character-data-wrapper {
    display: flex;
    height: 458px;

    .image-picker {
      cursor: pointer;
      width: 350px;
      height: 400px;
      min-width: 300px;
      min-height: 400px;
      border: 2px solid $primary-color;
      border-radius: 5px;
      object-position: 50% 0;
      object-fit: cover;
    }

    .detatils {
      margin-left: 10px;
      width: 100%;
      font-size: 22px;
      font-family: $font-foundry;

      .row {
        width: 100%;
        font-weight: bold;
        font-size: 16px;

        &.long {
          .span {
            width: 30%;
          }

          .input {
            width: 70%;
          }
        }

        .input {
          background-color: $secondary-darker;
          border-color: $secondary-darker;
          background-color: $secondary-color;
        }
      }

      .input {
        height: 40px;
      }
    }

    .attr-wrapper {
      gap: 5px;
      font-family: $dc20-font;

      .attr {
        border: 2px solid black;
        background-color: $secondary-color;
        color: $primary-light;
        border-radius: 5px;

        .atr-name {
          border-bottom: 2px solid black;
          padding: 4px 2px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

          label {
            font-size: 14px;
            font-weight: bold;
          }
        }

        .value {
          font-size: 20px;
          font-weight: bold;
          
          input {
            padding: 5px 0;
            background: transparent;
            border: 0;
            text-align: center;
            color: $primary-light;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            height: 25px;
            margin-bottom: 5px;
            width: 100%;

            &:disabled {
              color: $primary-light;
            }
          }
        }

        .buttons {
          display: flex;
          align-items: center;
          justify-content: space-around;

          a {
            color: $primary-color;
          }
        }
      }
    }
  }

  .unique-item-picker-wrapper {
    display: flex;
    height: 445px;

    .item-selector {
      height: 445px;
      width: 230px;
      overflow-y: scroll;
      padding: 10px 5px 5px 5px;
      background-color: $secondary-color;
      border: 2px solid $secondary-darker;
      border-radius: 3px;

      .item-row {
        cursor: pointer;
        height: 40px;
        border: 2px solid $secondary-darker;
        background-color: $secondary-lighter;
        border-radius: 3px;
        margin-bottom: 2px;
        display: flex;
        align-items: center;
        width: 100%;
        box-shadow:  0 0 6px $primary-color inset;

        &:hover {
          background-color: $primary-light;
          box-shadow:  0 0 6px $primary-color inset;
        }

        &.selected {
          background-color: $primary-darker;
          color: $secondary-lighter;
          text-shadow: -1px 0 $secondary-darker, 0 1px $secondary-darker, 1px 0 $secondary-darker, 0 -1px $secondary-darker;
        }

        img {
          width: 36px;
          height: 36px;
          border: 2px solid $primary-color;
          margin-right: 5px;
        }

        .item-name {
          margin-top: 4px;
          font-size: 14px;
          overflow: hidden;
        }
      }
    }

    .item-description {
      width: 562px;
      background-color: $secondary-color;
      border: 2px solid $secondary-darker;
      border-radius: 3px;
      margin-left: 10px;
      padding: 5px;

      .item-row {
        height: 50px;
        border: 2px solid $secondary-darker;
        background-color: $secondary-lighter;
        border-radius: 3px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        width: 100%;
        box-shadow:  0 0 6px $primary-color inset;

        img {
          width: 46px;
          height: 46px;
          border: 2px solid $primary-color;
          margin-right: 5px;
        }

        .item-name {
          margin-top: 4px;
          font-size: 18px;
          overflow: hidden;
        }
      }

      .description {
        font-family: $font-foundry;
        overflow-y: scroll;
        height: 380px;
        font-size: 14px;
      }
    }
  }

  .equipment-wrapper {
    gap: 5px;

    .equipment {
      height: 448px;
      background-color: $secondary-color;
      border: 2px solid $secondary-darker;
      border-radius: 3px;

      .table-header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        font-size: 16px;
        margin-bottom: 6px;
        border-bottom: 2px solid $secondary-darker;

        .fa-circle-question {
          position: absolute;

          &::before {
            position: relative;
            left: 110px;
          }
        }
      }

      .item-row {
        height: 40px;
        border: 2px solid $secondary-darker;
        background-color: $secondary-lighter;
        border-radius: 3px;
        margin: 3px;
        display: flex;
        align-items: center;
        box-shadow:  0 0 6px $primary-color inset;

        img {
          width: 36px;
          height: 36px;
          border: 2px solid $primary-color;
          margin-right: 5px;
        }

        .item-name {
          display: flex;
          justify-content: space-between;
          align-items: center;

          width: 100%;
          margin-right: 8px;
          margin-top: 4px;
          font-size: 14px;
          overflow: hidden;

          .item-controls {
            display: flex;
            align-items: center;
            justify-content: end;

            input {
              text-align: center;
              font-family: $font-foundry;
              width: 25px;
              margin-right: 3px;
              border-radius: 0;
            }
          }
        }
      }
    }
  }
}

#mix-ancestry-dialog {

  .title {
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $dc20-font;
  }

  .open-compendium {
    right: 15px;
  }

  .table-wrapper {
    height: 100px;
    background-color: $secondary-color;
    border: 2px solid $secondary-darker;
    border-radius: 3px;
    padding: 3px;

    .item-row {
      height: 40px;
      border: 2px solid $secondary-darker;
      background-color: $secondary-lighter;
      border-radius: 3px;
      margin: 3px;
      display: flex;
      align-items: center;
      box-shadow:  0 0 6px $primary-color inset;

      img {
        width: 36px;
        height: 36px;
        border: 2px solid $primary-color;
        margin-right: 5px;
      }

      .item-name {
        font-family: $dc20-font;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-right: 8px;
        margin-top: 4px;
        font-size: 14px;
        overflow: hidden;
      }
    }
  }
}

#actor-browser {
  font-family: $font-foundry;
  font-size: 12px;

  .collecting-data-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background-color: #886fb89c;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    
    span {
      font-family: $dc20-font;
      font-size: 24px;
      text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
  }

  .title {
    font-size: 26px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $dc20-font;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;

    .row-title {
      text-align: start;
      font-family: $dc20-font;
      border-bottom: 1px solid $primary-color;
      margin-bottom: 5px;
      width: 100%;
    }

    input {
      width: 100%;
    }
    
  }

  .wrapper {
    display: flex;
    align-items: start;
  }

  .actor-picker {
    cursor: pointer;
    height: 547px;
    width: 450px;
    overflow-y: scroll;
    padding: 10px 5px 5px 5px;
    background-color: $secondary-color;
    border: 2px solid $secondary-darker;
    border-radius: 3px;

    .actor-row {
      height: 50px;
      border: 2px solid $secondary-darker;
      background-color: $secondary-lighter;
      border-radius: 3px;
      margin-bottom: 2px;
      display: grid;
      grid-template-columns: 50px 1fr 60px 40px;
      align-items: center;
      width: 100%;
      box-shadow:  0 0 6px $primary-color inset;

      &:hover {
        background-color: $primary-light;
        box-shadow:  0 0 6px $primary-color inset;
      }

      img {
        width: 46px;
        height: 46px;
        border: 2px solid $primary-color;
        margin-right: 5px;
        object-position: 50% 0;
        object-fit: cover;
      }
  
      .actor-name {
        font-family: $dc20-font;
        margin-top: 4px;
        font-size: 14px;
        overflow: hidden;
      }

      .actor-level {
        text-align: center;
        font-size: 20px;
      }

      .add-actor {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .filters {
    padding: 10px;
    margin-right: 5px;
    background-color: $secondary-color;
    border: 2px solid $secondary-darker;
    border-radius: 3px;
    box-shadow: 0 0 20px 10px $secondary-lighter inset;
    width: 320px;

    .row {
      font-size: 16px;
    }

    .multi-select-wrapper {
      flex-direction: column;
      display: flex;
      width: 100%;

      .multi-select {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    .from-to-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      
      input {
        text-align: center;
      }
    }
  }
}

#compendium-browser {
  font-family: $dc20-font;
  font-size: 12px;

  .collecting-data-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background-color: #886fb89c;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    
    span {
      font-size: 24px;
      text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
  }

  .title {
    font-size: 26px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $dc20-font;
  }

  .row {
    height: 26px;
  }

  .item-picker-wrapper {
    display: flex;
    height: calc(100% - 40px);

    .item-selector {
      height: 547px;
      width: 230px;
      overflow-y: scroll;
      padding: 10px 5px 5px 5px;
      background-color: $secondary-color;
      border: 2px solid $secondary-darker;
      border-radius: 3px;

      .item-row {
        cursor: pointer;
        height: 40px;
        border: 2px solid $secondary-darker;
        background-color: $secondary-lighter;
        border-radius: 3px;
        margin-bottom: 2px;
        display: flex;
        align-items: center;
        width: 100%;
        box-shadow:  0 0 6px $primary-color inset;

        &:hover {
          background-color: $primary-light;
          box-shadow:  0 0 6px $primary-color inset;
        }

        &.selected {
          background-color: $primary-darker;
          color: $secondary-lighter;
          text-shadow: -1px 0 $secondary-darker, 0 1px $secondary-darker, 1px 0 $secondary-darker, 0 -1px $secondary-darker;
        }

        img {
          width: 36px;
          height: 36px;
          border: 2px solid $primary-color;
          margin-right: 5px;
        }

        .item-name {
          margin-top: 4px;
          font-size: 14px;
          overflow: hidden;
        }
      }
    }

    .item-info-wrapper {
      width: 591px;
      display: flex;
      flex-direction: column;
      height: 547px;
      background-color: $secondary-color;
      border: 2px solid $secondary-darker;
      padding: 5px;
      border-radius: 3px;
      margin-left: 10px;

      .filters {
        font-family: $font-foundry;
        padding: 15px;
        margin: 5px;
        background-color: $secondary-color;
        border: 2px solid $secondary-darker;
        border-radius: 3px;
        box-shadow: 0 0 20px 10px $secondary-lighter inset;

        .row {
          font-size: 16px;
        }

        .multi-select-wrapper {
          display: flex;

          .multi-select {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 3px;
          }
        }
      }
  
      .item-description {
        padding: 5px;
        overflow-y: auto;
        min-height: 100px;
  
        .item-row {
          height: 50px;
          border: 2px solid $secondary-darker;
          background-color: $secondary-lighter;
          border-radius: 3px;
          margin-bottom: 5px;
          display: flex;
          align-items: center;
          width: 100%;
          box-shadow:  0 0 6px $primary-color inset;
  
          a {
            margin-right: 15px;
            margin-left: auto;
          }

          img {
            width: 46px;
            height: 46px;
            border: 2px solid $primary-color;
            margin-right: 5px;
          }
  
          .item-name {
            margin-top: 4px;
            font-size: 18px;
            overflow: hidden;
          }
        }
  
        .description {
          font-family: $font-foundry;
          font-size: 14px;
        }
      }
    }
  }
}