.effects-table {
  margin-bottom: 10px;

  .effect-header {
    grid-template-columns: 1fr 110px 110px 100px;
    display: grid;
    font-weight: bold;
    border: 1px solid $menu-line;
    border-radius: 5px;
    background-color: $light-purple;

    .column {
      font-size: 13px;
      color: $dark-gray;
      border-right: 1px solid $menu-line;
      padding-top: 5px;
      padding-bottom: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .column:last-child {
      border: 0;
    }

    .column-name {
      padding-left: 5px;
      justify-content: left;
    }
  }

  .effect-row {
    grid-template-columns: 1fr 110px 110px 100px;
    display: grid;
    font-size: 13px;
    margin-top: 2px;
    border: 1px solid $menu-line;
    background-color: $unequipped;
    border-radius: 5px;

    .row-column {
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      border-right: 1px solid $menu-line;

      .effect-img {
        display: flex;

        img {
          height: 25px;
          width: 25px;
          margin-right: 3px;
          border-radius: 5px 0 0 5px;
        }
      }

      .effect-name {
        width: 100%;
        margin-left: 4px;
        overflow: hidden; 
        white-space: nowrap; 
        text-overflow: ellipsis;
      }
    }

    .row-column:last-child {
      border-right: 0;
    }

    .row-details {
      justify-content: left;
    }

    .row-config {

      .config, .equipment {
        display: flex;
        justify-content: center;
        width: 50px;

        a {
          margin-right: 4px;
          margin-left: 4px;
        }
      }
    }
  }
}