.effects-table {
  margin-bottom: 0;

  .effects-header {
    padding: 5px 3px 5px 10px;
    height: 25px;
    display: grid;
    grid-template-columns: 1fr 35px;
    border-radius: 5px 5px 0 0;
    background: linear-gradient(to right, #5a265f, #48034e);
    color: $secondary-lighter;
    margin-top: 5px;

    .column {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .name {
      overflow: hidden;
      justify-content: start;
    }
  }

  .effects-row {
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 35px;
    background-color: $secondary-color;
    border: 2px solid $secondary-dark;
    border-top: 0;


    .column {
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .name {
      overflow: hidden;
      justify-content: start;

      .effect-img {

        img {
          height: 28px;
          width: 28px;
          border: 0;
        }
      }

      .effect-name {
        margin-left: 3px;

      }
    } 
  }
}