.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.transparent-background {
  background: transparent;
}

.centered {
  margin: auto;
}

.gap-small {
  gap: 1px;
  margin: 3px 0;
}

.margin-right-3 {
  margin-right: 3px;
}

.margin-top-5 {
  margin-top: 5px;
}

.padding-top-5 {
  padding-top: 5px;
}

.border-top {
  border-top: 1px solid $menu-line;
}