.item-sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: grid;
  grid-template-columns: min-content 1fr;
  justify-content: flex-start;
  margin-bottom: 3px;
  margin-right: 3px;

  .left-header {
    width: 100px;

    .item-img {
      width: 100px;
      height: 100px;
    }
  }

  .right-header {
    margin: 0 0 0 10px;

    .top-row {
      display: flex;
      height: 40px;

      .item-name {
        flex: 1;
        border: 1px solid $menu-line;
        margin: 0 5px 0 0;
        
        input {
          padding: 0px;
          font-size: 28px;
          height: 100%;
          width: 100%;
          padding-left: 3px;
          border: 0;
          background-color: transparent;
        }
      }

      .item-label {
        background-color: $standard-gray;
        border-radius: 10px;
        height: 100%;
        padding: 2px 10px;

        .item-type {
          text-align: center;
          font-size: 17px;
          font-weight: bold;
        }

        .item-subtype {
          text-align: center;
          font-size: 13px;
          font-weight: bold;
        }
      }

      .fallback {
        padding: 10px;

        .item-fallback {
          text-align: center;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }

    .bottom-row {

      .border-1 {
        border: 1px solid $menu-line;
      }

      .usage {

        .action-costs {
          border: 1px solid $menu-line;
          height: 27px;
          margin: 3px 0;
          gap: 0;
          
          .ap-cost, .stamina-cost, .mana-cost, .health-cost {
            height: 25px;
            border-right: 1px solid $menu-line;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $action-point;
  
            i {
              margin: 0 3px;
            }
          }

          .stamina-cost {
            color: $stamina;
          } 
          
          .mana-cost {
            color: $mana;
          } 
          
          .health-cost {
            color: $health-point;
            border-right: 0;
          }
        }
      }
      
      .action {

        .roll-details {
          border: 1px solid $menu-line;
          min-height: 27px;
          margin: 3px 0;
          gap: 0;
  
          .roll, .dc, .formula {
            padding: 0 5px;
            display: flex;
            align-items: center; 
            flex-wrap: wrap; 
          }

          .roll, .dc {
            border-right: 1px solid $menu-line;
          }
        }
      }

      .armor {
        margin: 3px 0;
        gap: 0;
        border: 1px solid $menu-line;
        min-height: 27px;

        .phisical-defence, .damage-reduction {
          padding: 0 5px;
          display: flex;
          align-items: center; 
          flex-wrap: wrap; 
        }

        .phisical-defence {
          border-right: 1px solid $menu-line;
        }
      }
    }
  }
}

.item-sheet-body {

  .title-separator {
    border-top: 1px solid $menu-line;
    border-bottom: 1px solid $menu-line;
    padding: 5px;
    margin-bottom: 8px;

    label {
      font-size: 20px;
      font-weight: bold;
      color: $menu-label;
    }
  }

  .scaling {

    .value-container {
      border: 2px solid $dc-purple;
      border-radius: 10px;
      margin-bottom: 10px;
      
      .title {
        padding: 5px;
        border-bottom: 2px solid $dc-purple;
        border-radius: 9px 9px 0 0;
        background-color: $light-purple;

        label {
          font-size: 20px;
          font-weight: bold;
          color: white;
        }
      }

      .grid {
        gap: 0;
        padding: 0;
        margin: 0;
      }

      .scale {
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid $dc-purple;
        border-top: 1px solid $dc-purple;

        .level {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: 4px;
          padding-bottom: 4px;
          border-bottom: 1px solid $dc-purple;

          span {
            font-weight: bold;
          }
        }

        .value input {
          text-align: center;
          background-color: transparent;
          border: 0;
        }

        .level-span {
          

          span {
            font-size: 20px;
            font-weight: bold;
          }
        }
        
      }

      .scale:nth-child(11n) {
        border-right: 0;
      }

    }
  }

  .details {

    .details-header {
      display:flex;
      justify-content: space-between;

      .identified {
        padding: 2px;
        font-size: 14px;
        font-weight: bold;
        border: 2px solid $menu-line;
        border-radius: 5px;
        display: flex;
        justify-content: center; 
        align-items: center;
        width: 24%;
      }
  
      .active {
        background-color: $light-purple;
        border-radius: 5px;
      }
  
      .activable:hover {
        cursor: pointer;
        background-color: $dc-purple;
        border-radius: 5px;
      }
    }


    .sub-title {
      font-size: 15px;
      font-weight: bold;
      color: $menu-label;
      padding: 5px;
    }

    .properties {
      margin-bottom: 10px;
      
      .grid {
        gap: 5px;
      }

      .property {
        padding: 2px;
        font-size: 14px;
        font-weight: bold;
        border: 2px solid $menu-line;
        border-radius: 5px;
        display: flex;
        justify-content: center; 
        align-items: center;
      }
      
      .inline-property {
        width: 100%;
      }
  
      .active {
        background-color: $light-purple;
        border-radius: 5px;
      }
  
      .activable:hover {
        cursor: pointer;
        background-color: $dc-purple;
        border-radius: 5px;
      }
    }

    .components {
      margin-bottom: 10px;
      
      .grid {
        gap: 5px;
      }

      .component {
        padding: 2px;
        font-size: 14px;
        font-weight: bold;
        border: 2px solid $menu-line;
        border-radius: 5px;
        display: flex;
        justify-content: center; 
        align-items: center;
      }
  
      .active {
        background-color: $light-purple;
        border-radius: 5px;
      }
  
      .activable:hover {
        cursor: pointer;
        background-color: $dc-purple;
        border-radius: 5px;
      }
    }
  }

  .usage, .action, .details {
    margin-bottom: 10px;
    font-size: 14px;

    .usage-cost {
      gap: 5px;
      margin-top: 0;
      margin-bottom: 2px;

      .cost {
        display: flex;
        align-items: center;
        border: 1px solid $menu-line;
        padding: 5px;

        label {
          font-weight: bold;
          margin-right: 10px;
        }
  
        input {
          background-color: transparent;
          text-align: right;
          width: 40px;
          margin-left: auto;
        }
      }
    }

    .config-row {
      display: flex;
      align-items: center;
      padding: 3px;

      label {
        font-weight: bold;
        margin-right: 10px;
      }

      label.custom-formula {
        font-size: 12px;
        font-weight: normal;
        margin-left: 3px;
      }

      select {
        width: 50%;
        margin-left: auto;
      }

      .right-part-row {
        width: 50%;
        margin-left: auto;
        align-items: center;
        display: flex;

        span {
          font-weight: bold;
          margin: auto 5px;
          font-size: 18px;
        }

        a {
          margin-left: 3px;
        }

        .activable {
          margin-left: auto;
          margin-right: 1px;
        }
      }

      .add-formula {
        margin-left: auto;
      }

      .small-input {
        background-color: transparent;
        text-align: right;
        width: 30%;
        margin-left: auto;
      }
      
      input {
        background-color: transparent;
        text-align: right;
        width: 50%;
        margin-left: auto;
      }

      input.formula {
        font-size: 12px;
      }

      .adding-wrapper {
        margin-left: auto;

        a {
          margin-right: 2px;
        }
      }

      .formula {
        display: flex;
        align-items: center;
        margin-left: auto;
        width: 80%;
  
        input {
          width: 60%;
          padding-right: 10px;
          text-align: right;
          background-color: transparent;
          margin-right: 5px;
          margin-left: 5px;
        }

        input.large {
          width: 100%;
        }
  
        select {
          width: 40%;
          margin-right: 5px;
        }
      }

      .damage-formula {
        color: #790000;
      }
  
      .versatile-formula {
        color: #77008f;
        margin-left: 10px;
      }
  
      .healing-formula {
        color: #075307;
      }
  
      .other-formula {
        color: #002f64;
      }

      .formula-label {
        color: $menu-label;
        font-size: 16px;
      }
    }   

    .formulas {
      margin-top: 3px;
      padding-top: 3px;
      border-top: 1px solid $menu-line;
    }
  }

  .description-tab {
    height: 100%;

    .description {
      display: grid;
      grid-template-columns: 120px auto;
      gap: 5px;
      height: 100%;
  
      .details-column {
        font-size: 12px;
        width: 120px;
        height: 100%;
        border-right: 1px solid $menu-line;
        
        .item-details {

          .row {
            display: flex;
            align-items: center;
            text-align: right;
            margin-top: 1px;
            margin-right: 3px;
  
            .right-part-row {
              display: flex;
              flex: 1 1 auto;
            }
            
            span {
              margin-left: auto;
              margin-right: 3px;
            }
          }  

          label {
            font-size: 14px;
            flex: 0 0 auto;
            font-weight: bold;
          }

          select {
            background: transparent;
            border: 0;
          }

          input {
            background: transparent;
            border: 0;
          }

          select.wide-select {
            width: 116px;
            border: 1px solid $menu-line;
          }

          input.wide-input {
            width: 116px;
            border: 1px solid $menu-line;
          }
        }
        
        .item-properties, .item-spells {
          margin-top: 10px;

          label {
            font-size: 14px;
            font-weight: bold;
          }

          .property {
            font-weight: bold;
            border-radius: 5px;
            background-color: $light-purple;
            border: 1px solid $menu-line;
            text-align: center;
            margin: auto;
            margin-top: 4px;
            margin-right: 3px;
            padding: 2px;
          }
        }
      }
  
      .description-column {
        height: 100%;
        font-size: 13px;

        .flavor-text, .description-text {

          .unidentified {
            font-size: 16px;
            font-weight: bold;
          }

          .editor {
            min-height: 40px;
            width: 100%;
            margin: 3px 0;

            .tox {
              height: 200px !important;
            
              .tox-editor-container {
                border: 2px solid $menu-line;
                border-radius: 10px;
              }
            
              .tox-edit-area {
                padding: 0 8px;
              }
            }
          }

          label {
            font-size: 15px;
            font-weight: bold;
            text-decoration: underline;
          }
        }

        .flavor-text {
          
          .editor {
            font-style: italic;
          }
        }

        .extra-description {

          label {
            font-weight: bold;
          }
        }
      }
    }
  }
}
