.item-list {
  margin-bottom: 10px;

  .item-header {
    padding: 5px 0;
    height: 30px;
    display: grid;

    border-radius: 5px 5px 0 0;
    background: linear-gradient(to right, $primary-dark, $primary-darker);
    color: $secondary-lighter;

    .column {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: -1px;
      margin-right: 1px;
    }

    .reordering-buttons {
      padding: 0 3px;
      display: flex;
      justify-content: center;
      align-items: center;

      .reorder {
        margin: 0 2px;
      }
    }

    .name {
      justify-content: start;
      
      input {
        background-color: transparent;
        border: 0;
        color: white;
        height: 20px;
        
        &:disabled {
          color: $secondary-lighter;
        }
      }
    }
  }

  .item-row, .enh-row {
    display: flex;
    height: 35px;
    display: grid;
    background-color: $secondary-color;
    border: 2px solid $secondary-dark;
    border-top: 0;
    box-shadow: 0px -2px 0px 0px $secondary-dark;

    &.equipped {
      background-color: $equipped;

      .action:hover, .usage:hover {
        background-color: $equipped;
      }
    }

    &.attuned {
      background-color: $attuned;

      .action:hover, .usage:hover {
        background-color: $attuned;
      }
    }

    &.activated-effect {
      background-color: $activated-effect;

      .action:hover, .usage:hover {
        background-color: $activated-effect;
      }
    }

    .name {
      overflow: hidden;
    }

    .column {
      display: flex;
      align-items: center;
      border-right: 1px solid $menu-line;

      &:last-child {
        border-right: 0;
      }

      .item-img {
        height: 33px;
        width: 33px;
        
        img {
          min-height: 33px;
          min-width: 33px;
          border: 0;
          border-radius: 0;
          border-bottom: 2px solid $secondary-dark;
        }
      }

      .item-name {
        display: flex;
        align-items: center;
        margin-left: 5px;
        margin-right: auto;
      }

      .side-marker {
        color: $secondary-dark;
        margin-top: -2px;
        margin-right: 2px;
        padding: 3px 2px 3px 4px;
        border-radius: 15px;
        
        border: 2px solid $secondary-dark;
        background-color: white;

        &.item-multi-faceted {
          padding: 4px 3px 4px 5px;
        }
      }

      .select-other-item {
        margin-right: 2px;
        border: 2px solid $secondary-dark;
        border-radius: 10px;
        width: 100px;
        font-size: 12px;
        
        select {
          background-color: 0;
          border: 0px;
        }
      }
    }

    .pointer {
      cursor: pointer;
    }

    .action, .components {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      width: 120px;
      padding: 2px 0;
      height: 33px;

      &:hover {
        overflow: visible;
        min-width: 120px;
        width: max-content;
        z-index: 1;
        height: 33px;
        background-color: $secondary-color;
      }
      
      .description-icon {

        .letter-circle-icon {

          i, span {
            font-size: 13px;
            height: 27px;
            width: 27px;
            border: 2px solid white;
          }
        }

        .fa-droplet {
          background-color: $health-point;
        }

        .fa-gear {
          background-color: $mana;
        }

        .fa-heart {
          background-color: $health;
        }
      }
    }

    .usage {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      width: 70px;
      height: 33px;

      &:hover {
        overflow: visible;
        min-width: 70px;
        width: max-content;
        z-index: 1;
        height: 33px;
        background-color: $secondary-color;
      }

      .cost-icon, .cost-img {
        margin: 0 2px;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
      }

      b {
        margin: 3px -2px 0 2px;
        font-size: 10px;
      }

      .cost-img {
        height: 15px;
        width: 15px;
        border: 0;
        border-radius: 7px
      }

      .ap {
        color: $action-point;
      }

      .sp {
        color: $stamina;
      }

      .mp {
        color: $mana;
      }

      .hp {
        color: $health-point;
      }
    }

    .item-use {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      width: 70px;
      
      .other-item {
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;

        .cost-img {
          height: 18px;
          width: 18px;
          border: 0;
          border-radius: 7px
        }

        b {
          margin: 3px -2px 0 2px;
          font-size: 12px;
        }
      }
    }

    .charges {

      .current-charges {
        text-align: right;
        background-color: transparent;
        border: 0;
        border-radius: 0px;
        width: 23px;
      }

      .max-charges {
        margin-left: 2px;
      }
    }

    .weight {
      display: flex;
      justify-content: center;
    }

    .quantity {

      input {
        background-color: transparent;
        border: 0;
        text-align: center;
      }
    }

    .components {

    }

    .config {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      a {
        margin: 0 2px;
        font-size: 14px;
      }
      
    }
  }

  .enh-row {
    border-top: 0;
    margin: 0 10px;
    height: 30px;
    background-color: $secondary-lighter;

    .usage {
      height: 28px;

      &:hover {
        height: 28px;
        background-color: $secondary-lighter;
      }
    }

    .action {
      height: 28px;

      &:hover {
        height: 28px;
        background-color: $secondary-lighter;
      }

      .letter-circle-icon {

        i, span {
        height: 24px !important;
        width: 24px !important;
        font-size: 11px !important;
        
        &:before {
           margin-left: 0px;
           margin-bottom: 1px
        }
      }

      }
    }

    .enh-number {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2px;
      font-size: 16px;
      font-weight: bold;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 24px;
        width: 24px;
        border-radius: 20px;
        border: 2px solid $primary-color !important;
        color: $primary-color;
        background-color: white;

        span {
          margin-top: 3px;
        }
      }
    }
  }

  .roll-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
    height: 34px;
    padding-top: 1px;
    
    background-color: $secondary-lighter;
    border: 2px solid $secondary-dark;
    border-top: 0;
    margin-bottom: 10px;
    border-radius: 0 0 5px 5px;

    label {
      font-weight: bold;
      margin-top: 2px;
      margin-right: 4px;
    }

    .roll-level {
      display: flex;
      align-items: center;
      margin-left: 4px;

      .letter-circle-icon {
        border-right: 1px #646464 solid;
        padding-right: 4px;

        .roll-item {
          border: 0;
        }
      }
    }

    .help-dices, .roll-level {
      display: flex;
      align-items: center;

      .value {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0;
        top: 1px;

        span {
          color: $secondary-lighter;
          font-size: 12px;
          text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        }
      }

      .value-in-box  {
        display: flex;
        align-items: center;
      }

      .dice {
        color: $primary-light;
        font-size: 2em;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $primary-color;
        margin-left: 4px;
      }

      .triangle {
        .value {
          left: -9.5px;
        }

        .dice {
          margin-left: 5px;
          font-size: 2.3em;
        }
      }

      .roll-level-box {
        margin-top: -7px;

        .value {
          left: -9px;
          top: 11px;
          z-index: 1;

          span {
            z-index: 1;
          }

          &::after {
            content: '';
            min-width: 16px;
            background-color: $primary-light;
            border: 2px solid $primary-color;
            min-height: 10px;
            border-radius: 0 0 4px 4px;
            position: absolute;
            z-index: 0;
          }
        }

        .dice {
          align-items: start;
          font-size: 1.7em;
          z-index: 1;
        }
      }

      .square .value {
        left: -10.5px;
      }

      .diamond .value {
        left: -12px;
      }
    }

    .roll-options {
      margin-top: 2px;
      display: flex;
      align-items: center;
      margin-right: 4px;

      .toggle {
        margin-left: 1px;
        margin-right: 1px;
        display: flex;
        align-items: center;

        .fa-2x {
          font-size: 1.7em;
          color: $primary-color;
        }
      }
    }
  }
}