.sheet-tabs, .dialog-tabs {
  flex: 0;

  .item {
    flex: 1;
    font-size: 14px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }

  .active {
    box-shadow: 0 0 0 1px $menu-line;
    background-color: $standard-gray;
    text-shadow: none;
  }
}