#sidebar, #combat-popout {
  
  .combat-sidebar {
    
    .encounter-dc { 
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: $dc20-font;

      .change-dc {
        width: 50%;
        color: #ffffff;
        border-radius: 5px;
        border: 1px solid $primary-color;
        background-color: $primary-light;
      }

      span {
        text-shadow: -1px 0 $primary-color, 0 1px $primary-color, 1px 0 $primary-color, 0 -1px $primary-color;
        font-weight: bold;
        margin-left: 5px;
        font-size: 16px;
      }
    }
  }
}

#ui-right {

  #roll-request-button {
    position: absolute;
    bottom: 10px;
    right: 310px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    width: 50px;
    border-radius: 7px;
    background-color: $secondary-color;
    border: 2px solid $primary-color;
    color: $primary-color;
  }
}