.traits-table {
  margin-bottom: 0;

  .traits-header {
    padding: 5px 3px 5px 10px;
    height: 25px;
    display: grid;
    grid-template-columns: 1fr 35px 35px 45px;
    border-radius: 5px 5px 0 0;
    background: linear-gradient(to right, $table-1, $table-2);
    color: $secondary-lighter;
    margin-top: 5px;

    .column {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .name {
      overflow: hidden;
      justify-content: start;
    }
  }

  .pointer {
    cursor: pointer;
  }

  .traits-row {
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 35px 35px 45px;
    background-color: $secondary-color;
    border: 2px solid $secondary-dark;
    border-top: 0;


    .column {
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: 1px solid $secondary-dark;
    }

    .cost {

      input {
        background-color: transparent;
        border: 0;
        text-align: center;
      }
    }

    .name {
      overflow: hidden;
      justify-content: start;
      border-left: 0;

      .trait-img {

        img {
          height: 28px;
          width: 28px;
          border: 0;
          margin-top: 1px;
          border-radius: 0;
        }
      }

      .trait-name {
        margin-left: 3px;

      }
    } 
  }
}

.trait-config {
  .header {
    padding: 6px;
    display: flex;

    .trait-img {
      min-width: 80px;
      margin-right: 7px;
  
      img {
        height: 80px;
        width: 80px;
        border-radius: 10px;
        border: 3px solid $primary-color;
      }
    }
  
    .header-content {
      width: 100%;
  
      .trait-name {
        font-family: $dc20-font;
        flex-grow: 1;
        padding: 14px 6px 12px 6px;
        border: 2px solid $primary-color;
        background: $secondary-color;
        color: white;
        font-weight: bold;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        font-size: 22px;
        height: 40px;
        border-radius: 10px 0 10px 0;
        text-indent: 5px;
      }
    }
  }

  .editor {
    min-height: 240px;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 27px;
    font-size: 14px;

    input, select, span {
      width: 50%;
    }
    
    &.ignore-symetry {
      input, select, span {
        width: auto;
      }
    }

    a {
      color: black;
      margin-right: 2px;
    }

    multi-select {
      width: 50%; 

      select {
        width: 100%;
      }

      .tags {
        position: absolute;
        left: 0;
        padding: 5px;
        margin: 30px -5px 0px -5px;
        
        .tag {
          background-color: $secondary-lighter;
          border: 1px solid $secondary-dark;
          color: $secondary-dark;
          display: flex;
          justify-content: space-between;
          padding: 3px;
        }
      }
    }
    
    input {
      text-align: end;
    }
  }

  .tab {
    min-height: 240px;

    .disable-when {
      display: grid;
      grid-template-columns: 1fr 50px 110px;
      gap: 2px
    }
  }

  .traits-tab {
    
    .change-header {
      grid-template-columns: 1fr 100px 1fr 30px;
      display: grid;
      font-weight: bold;
      border: 1px solid $secondary-dark;
      border-radius: 5px;
      background-color: $primary-light;    

      .column {
        padding: 5px;
        text-align: center;
        border-left: 1px solid $secondary-dark;
      }

      .column.key {
        padding-left: 10px;
        text-align: start;
        border-left: 0;
      }
    }

    .change-body {

      .trait-change {
        grid-template-columns: 1fr 100px 1fr 30px;
        display: grid;
        font-weight: bold;
        border: 1px solid $secondary-dark;
        border-radius: 1px;
        background-color: $secondary-color;
        padding: 2px 1px;
        margin-top: 2px;

        .column {
          border-left: 1px solid $secondary-dark;

          input, select {
            border: 0;
            border-radius: 0;
          }

          textarea {
            min-height: 30px;
            height: 30px;
            border-radius: 1px;
            background-color: $secondary-color;
            border: 1px solid $secondary-dark;
          }
        }
  
        .column.key {
          border-left: 0;
          display: flex;
          align-items: center;

          select {
            width: 100%;
          }
        }
      }
    }
  }
}