.sheet-body {

  .custom-resources {
    margin-bottom: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid $menu-line;
    display: grid;
    gap: 4px;

    .resource{
      margin-top: 2px;
      border: 1px solid $menu-line;
      align-content: center;
      justify-content: center;
      display: flex;
      flex-direction: column;

      font-size: 12px;
      font-weight: bold;

      .resource-name, .resource-charges {
        display: flex;
        justify-content: space-between;
        align-items: center;

        input {
          text-align: center;
          color: black;
          font-weight: bold;

          background-color: transparent;
          border: 0;
        }

        .input-container {
          display: flex;
          align-items: center;

          .separator {
            margin: 0 5px;
          }
        }
      }
      
      .resource-name {
        border-bottom: 1px solid $menu-line;
        
        input { 
          width: 100%;
          font-size: 11px;
        }

        img {
          width: 26px;
          height: 26px;
        }

        .resource-name {
          cursor: pointer;
        }
      }
    }

    .item-resource {
      border: 1px solid $dc-purple;
      background-color: white;
    }
  }

  .core-tab, .items-tab {

    .content-border {
      font-size: 14px;
      font-weight: bold;
      border: 1px solid $dc-purple;
      border-radius: 10px;
      margin-bottom: 10px;

      .header {
        font-size: 16px;
        text-align: center;
        padding-top: 3px;
        padding-bottom: 3px;
        border-bottom: solid 1px $dc-purple;
        background-color: $light-purple;
        border-radius: 10px 10px 0 0;
        position: relative;

        .header-icons {
          position: absolute;
          top: 3px;
          right: 7px;
        }
      }

      .middle-header {
        border-radius: 0;
      }

      .row {
        border-bottom: solid 1px $dc-purple;
        padding: 2px 5px;
        display: flex;
        align-items: center;

        .skill-mastery-toggle, .language-mastery-toggle {
          width: 20px;
        }

        .variable-roll {
          padding: 0 7px;
        }

        input {
          font-weight: bold;
          background-color: transparent;
          border: 0;
          height: 15px;
          margin-left: 3px;
        }

        .remove-knowledge {
          margin-right: 3px;
        }
      }

      .row:nth-child(even) {
        background-color: $standard-gray;
      }

      .table-end:first-child {
        border-bottom: 0;
      }

      .table-end:last-child {
        border-bottom: 0;
        border-radius:  0 0 10px 10px;
      }

      .grid-row {
        font-size: 12px;
        border-right: 1px solid $dc-purple;
        padding: 4px;
        display: flex;
        flex-direction: column;
      }

      .grid-row:nth-child(4n) {
        border-right: 0;
      }

      .active-row {
        background-color: $light-prop-purple !important;
      }

      .active-row:nth-child(even) {
        background-color: $dark-prop-purple !important;
      }

      .activable-proficiency {
        font-size: 14px;
        padding: 5px;
        cursor: pointer;

        label {
          cursor: pointer;
        }
      }
      
      .footer {
        padding-bottom: 5px;
      }

      .table-header {
        font-size: 12px;
        font-weight: bold;

        display: grid;
        grid-template-columns: 1fr 50px 50px 50px 50px 50px 50px;

        border-bottom: 2px solid $dc-purple;
        border-top: 1px solid $dc-purple;
        background-color: $light-purple;
      }

      .table-row {
        font-size: 12px;
        display: grid;
        grid-template-columns: 22px 1fr 50px 50px 50px 50px 50px 50px;
        padding: 0;

        .icon {
          background-repeat: no-repeat;
          background-position: center;
          background-size: 20px;
          height: 20px;
          padding-top: 2px;
          margin-left: 2px;
          border: 0;
          background-color: white;
          border-radius: 5px;
          border: 1px solid $dc-purple;
        }

        .acid {
          background-image: url("../images/sheet/resistances/drop.svg");
        }
        .cold {
          background-image: url("../images/sheet/resistances/ice.svg");
          background-size: 24px;
        }
        .fire {
          background-image: url("../images/sheet/resistances/fire.svg");
          background-size: 22px;
        }
        .force {
          background-image: url("../images/sheet/resistances/magic.svg");
        }
        .lightning {
          background-image: url("../images/sheet/resistances/lightning.svg");
        }
        .unholy {
          background-image: url("../images/sheet/resistances/pentagram.svg");
          background-size: 25px;
        }
        .poison {
          background-image: url("../images/sheet/resistances/vial.svg");
        }
        .psychic {
          background-image: url("../images/sheet/resistances/brain.svg");
        }
        .holy {
          background-image: url("../images/sheet/resistances/cross.svg");
          background-size: 25px;
        }
        .sonic {
          background-image: url("../images/sheet/resistances/sonic.svg");
        }
        .piercing {
          background-image: url("../images/sheet/resistances/spear.svg");
        }
        .slashing {
          background-image: url("../images/sheet/resistances/blade.svg");
        }
        .bludgeoning {
          background-image: url("../images/sheet/resistances/hammer.svg");
        }
        .pdr {
          background-image: url("../images/sheet/shield.svg");
        }
        .mdr {
          background-image: url("../images/sheet/head.svg");
        }
      }

      .damage-reduction {
        font-size: 16px;
        font-weight: bold;

        grid-template-columns: 30px 1fr 200px;
        border-bottom: 1px solid $dc-purple;

        .column input {
          color: #000;
          font-size: 20px;
          font-weight: bolder;
        }

        .icon {
          background-repeat: no-repeat;
          background-position: center;
          background-size: 30px;
          height: 28px;
          padding-top: 2px;
          margin-left: 2px;
          border: 0;
          background-color: white;
          border-radius: 5px;
          border: 1px solid $dc-purple;
        }

        .column {
          height: 30px;
        }
      }

      .damage-reduction:nth-child(3) {
        background-color: $standard-gray;
      }

      .damage-type {
        justify-content: left;
      }

      .column {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px;
        height: 21px;
        border-right: 1px solid $dc-purple;

        input {
          font-size: 14px;
          border: 0;
          background-color: transparent;
          text-align: center;
        }
      }

      .column:last-child {
        border: 0;
      }
    }
  }

  .item-tab {

    .big-table {
      border-radius: 5px;
      border: 2px solid $dc-purple;
      background-color: white;
      font-weight: bold;
      columns: $dc-purple;
      height: 40px;
      margin-bottom: 10px;
    }

    .save-and-mod {
      display: flex;
      align-items: center;
      font-size: 20px;

      .value {
        flex: 1;
        padding: 8px 10px;
        border-left: 2px solid $dc-purple;
      }

      .value:first-child {
        border-left: 0;
      }

      .small {
        font-size: 14px;
        padding: 10px 5px;
      }
    }

    .class-table {
      border-radius: 5px 5px 0 0;
      display: grid;
      grid-template-columns: 1fr 150px 70px;

      .class-level, .class-config {
        border-left: 2px solid $dc-purple;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .class-level {

        a {
          margin-left: 5px;
        }
      }

      .class-name {
        display: flex;
        align-items: center;
        
        .class-img img {
          height: 36px;
          width: 36px;
          border-radius: 3px 0 0 0;
        }

        span {
          margin-left: 5px;
          font-size: 20px;
        }     
      }
    }

    .table-name {
      margin-bottom: 10px;

      .effect-header {
        grid-template-columns: 1fr 110px 110px 100px !important;
      }

      .inventory-header {
        grid-template-columns: 25px 1fr 160px 80px 50px 30px 30px 100px !important;
      }

      .spells-header {
        grid-template-columns: 25px 1fr 160px 80px 70px 50px 70px !important;
      }

      .npc-item-header {
        grid-template-columns: 25px 1fr 120px 80px 50px 70px !important;
      }

      .item-header {
        grid-template-columns: 25px 1fr 160px 80px 50px 70px;
        display: grid;
        font-weight: bold;
        border: 1px solid $menu-line;
        border-radius: 5px;
        background-color: $light-purple;

        .column {
          font-size: 13px;
          color: $dark-gray;
          border-right: 1px solid $menu-line;
          padding-top: 5px;
          padding-bottom: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
  
        .column:last-child {
          border: 0;
        }
  
        .column-name {
          padding-left: 5px;
          justify-content: left;
        }

        .reordering-buttons {
          flex-direction: column;
          align-items: center;
          padding: 0;

          a {
            margin-top: -1px;
            margin-bottom: -1px;
            max-height: 14px;
          }
        }
      }

      .effect-row {
        grid-template-columns: 1fr 110px 110px 100px !important;
      }

      .inventory-row {
        grid-template-columns: 1fr 160px 80px 50px 30px 30px 100px !important;
      }

      .spell-row {
        grid-template-columns: 1fr 160px 80px 70px 50px 70px !important;

        .row-column {
          
          span {
            font-weight: bold;
            font-size: 12px;
            margin-right: 1px;
            margin-left: 1px;
          }

          .frame {
            background-color: $light-purple;
            padding: 3px;
            border-radius: 5px;
          }
        }
      }

      .npc-item-row {
        grid-template-columns: 1fr 120px 80px 50px 70px !important;
      }

      .item-row {
        grid-template-columns: 1fr 160px 80px 50px 70px;
        display: grid;
        font-size: 13px;
        margin-top: 2px;
        border: 1px solid $menu-line;
        background-color: $unequipped;
        border-radius: 5px;
  
        .row-column {
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          border-right: 1px solid $menu-line;
  
          .item-img {
            display: flex;

            img {
              height: 25px;
              width: 25px;
              margin-right: 3px;
              border-radius: 5px 0 0 5px;
            }
          }

          .item-name {
            width: 100%;
            margin-left: 4px;
            overflow: hidden; 
            white-space: nowrap; 
            text-overflow: ellipsis;
          }
        }

        .row-column:last-child {
          border-right: 0;
        }
  
        .row-details {
          justify-content: left;

          .reaction {
            height: 100%;
            border-left: 1px solid $menu-line;
            padding: 0 5px;
            color: $reaction;

            display: flex;
            align-items: center;
          }
        }

        .row-quantity {
          text-align: center;

          input {
            background-color: transparent;
            border: 0;
          }
        }

        .row-charges {

          .current-charges {
            background-color: transparent;
            border: 0;
            width: 45%;
            text-align: right;
          }

          .separator {
            width: 10%;
          }

          .max-charges {
            margin-left: 5px;
            width: 45%;
          }
        }

        .row-config {

          .equipment {
            border-right: 1px solid $menu-line;
          }

          .config, .equipment {
            display: flex;
            justify-content: center;
            width: 50px;

            a {
              margin-right: 2px;
              margin-left: 2px;
            }
          }
        }
      }

      .equipped {
        background-color: $equipped;
      }

      .attuned {
        background-color: $attuned;
      }

      .activated-effect {
        background-color: $activated-effect;
      }

      .pointer {
        cursor: pointer;
      }

      .row-usage, .enh-cost {

        .cost {
          margin-right: 2px;
          margin-left: 2px;
          overflow: hidden; 
          white-space: nowrap; 
          text-overflow: ellipsis;
          display: flex;
          align-items: center;
          font-size: 12px;

          .cost-icon {
            margin-right: 2px;
          }

          .cost-img {
            margin-right: 2px;
            height: 15px;
            width: 15px;
            border: 0;
            border-radius: 4px
          }
        }

        .other-item {
          font-size: 14px;

          .cost-img {
            height: 22px;
            width: 22px;
          }
        }

        .ap {
          color: $action-point;
        }

        .sp {
          color: $stamina;
        }

        .mp {
          color: $mana;
        }

        .hp {
          color: $health-point;
        }
      }

      .row-enh-menu {
        margin: 0 5px;
        padding: 2px 5px;
        background-color: $white;
        border: 1px solid $dc-purple;
        border-top: 0;
        
        display: grid;
        align-items: center;

        .enh-name {
          font-weight: bold;
          font-size: 14px;
          padding-left: 5px;
          border-left: 1px solid $dc-purple;
          border-right: 1px solid $dc-purple;
          display: flex;
          justify-content: space-between;
        }

        .enh-cost {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 16px;
          border-right: 1px solid $dc-purple;
        }  
      }

      .row-enh-grid-weapon, .row-enh-grid-equipment, .row-enh-grid-consumable {
        grid-template-columns: 25px 1fr 160px 280px;
      }

      .row-enh-grid-feature, .row-enh-grid-technique {
        grid-template-columns: 25px 1fr 160px 190px;
      }

      .row-enh-grid-spell {
        grid-template-columns: 25px 1fr 160px 260px;
      }

      .toogle-item-numeric {
        padding: 2px 4px;
        width: 20px;
        background-color: $light-purple;
        border: 2px solid $dc-purple;
        border-radius: 5px;
        color:$white;
      }

      .row-roll-menu {
        font-weight: bold;
        font-size: 14px;
        padding: 5px;
        background-color: $white;
        border: 1px solid $dc-purple;
        border-top: 0;
        border-radius: 0 0 5px 5px;
        margin: 0 5px;
        margin-bottom: 5px;
        display: flex;
        align-items: right;
        justify-content: space-between;

        .roll-level, .roll-options {
          display: flex;
        }

        .toogle {
          margin: 0 4px;
        }

        .item-roll-buttons {
          border-right: 1px solid $dc-purple;
          padding-left: 1px;
          padding-right: 6px;
          color: $dc-purple;
        }
      }
    }
  }

  .item-tooltip {
    position: absolute;
    top: 300px;
    left: -250px;
    min-height: 45%;
    width: 250px;
    z-index: 100;

    background-color: white;
    border: 2px solid $dc-purple;
    border-radius: 10px 0 0 10px;
    padding: 5px;
    font-size: 12px;

    label {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .item-description {
      border-top: 1px solid $menu-line;
      border-bottom: 1px solid $menu-line;
      margin-top: 5px;
      margin-bottom: 5px;

      .outcome {
        margin-top: 2px;
        padding: 2px;
        border: 1px solid $menu-line;
        border-radius: 5px;
      }
    }

      .item-details {
        display: flex;
        flex-wrap: wrap;
  
        .detail {
          width: fit-content;
          margin-top: 2px;
          margin-left: 2px;
          padding: 2px 4px;
          border: 1px solid $menu-line;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          background-color: $standard-gray;
        }
  
        .box {
          background-color: $light-prop-purple;
        }
      }
    


  }
}