<div class="usage">
  <div class="action-costs grid grid-4col">
    <div class="ap-cost" title="Action Points Usage Cost">
      {{{costPrinter system.costs.resources.actionPoint "fa-solid fa-dice-d6 fa-lg" 4 true "fa-light fa-dice-d6 fa-lg"}}}
    </div>
    <div class="stamina-cost" title="Stamina Points Usage Cost">
      {{{costPrinter system.costs.resources.stamina "fa-solid fa-hand-fist fa-lg" 4}}}
    </div>
    <div class="mana-cost" title="Mana Points Usage Cost">
      {{{costPrinter system.costs.resources.mana "fa-solid fa-star fa-lg" 4}}}
    </div>
    <div class="health-cost" title="Health Points Usage Cost">
      {{{costPrinter system.costs.resources.health "fa-solid fa-heart fa-lg" 4}}}
    </div>
  </div>
</div>