{{!-- Top Row (Info info) --}}
<div class="top-row">
  <div class="item-name">
    <input name="name" type="text" value="{{item.name}}" title="{{localize 'DC20RPG.ItemName'}}" placeholder="{{localize 'DC20RPG.ItemName'}}"/>
  </div>
  <div class="item-type">
    {{capitalize item.type}}
  </div>
</div>