<div class="row-element actions grid-span-7">
  <div class="sector-header">
    <button class="show-actions fa-solid fa-question" title="Show Actions"></button>
    <label>{{localize 'DC20RPG.ActionPoints'}}</label>
    {{#if isNPC}}
      <input type="text" name="system.resources.ap.max" value="{{system.resources.ap.max}}" title="Max Action Points" data-dtype="Number"/>
    {{/if}}
  </div>
  <div class="action-points">
    {{{printActionPoints system.resources.ap.value system.resources.ap.max}}}
  </div>
  <div class="action-buttons grid grid-no-gap grid-no-margin">
    <button class="use-ap"> Use 1 AP </button>
    <button class="regain-ap"> Regain All </button>
  </div>
</div>