<div class="row-column row-details pointer item-activable"  data-item-id="{{_id}}" data-path="system.rollMenu.showMenu" title="Show Roll Menu">
  <a class="item-img"><img src="{{img}}"/></a>
  <div class="item-name">{{name}}</div>

  {{#if this.system.isReaction}}
  <div class="reaction" title="Reaction">
    <i class="fa-solid fa-reply fa-lg"></i>
  </div>
  {{/if}}
</div>