<div class="row-column row-charges" title="Charges">
  {{#ifCond system.charges.max '!==' null}}
  <input class="current-charges update-charges" type="text" value="{{system.charges.current}}" data-dtype="Number" data-item-id="{{_id}}"/>
  <span class="separator">/</span>
  <span class="max-charges">{{system.charges.max}}</span>
  {{/ifCond}}
</div>