<div class="row-column row-usage">
  {{#ifCond usageCosts.otherItem.amount '>' 0}}
  <div class="cost other-item" title="{{usageCosts.otherItem.name}}">
    <img src={{usageCosts.otherItem.image}} class="cost-img">
    <span class="margin-right-3"><b>({{usageCosts.otherItem.amount}})</b></span>
    {{#if usageCosts.otherItem.consumeCharge}}
      <i class="fa-solid fa-bolt fa-lg" title="Consumes Charge"></i>
    {{else}}
      <i class="fa-solid fa-boxes-stacked fa-lg" title="Consumes Quantity"></i>
    {{/if}}
  </div>
  {{/ifCond}}
</div>