<div id="tooltip-container">
  <div class="tooltip-info">
    <div>{{localize "dc20rpg.tooltip.holdAlt"}}</div>
    <div class="margin-top-1">{{localize "dc20rpg.tooltip.goBack"}}</div>
  </div>
  <div id="info-underline" class="underline"></div>
  <div class="tooltip-header"></div>

  <div id="header-underline" class="underline"></div>
  <div class="tooltip-action"></div>

  <div id="action-underline" class="underline"></div>
  <div class="tooltip-details"></div>

  <div id="details-underline" class="underline"></div>
  <div class="tooltip-description"></div>
</div>