<div class="tooltip-container">
  <div class="tooltip-info">
    <div>{{localize "dc20rpg.tooltip.holdAlt"}}</div>
    <div class="margin-top-1">{{localize "dc20rpg.tooltip.goBack"}}</div>
  </div>
  <div class="tooltip-header">

  </div>
  <div class="tooltip-details">

  </div> 
  <div class="tooltip-description">

  </div>
</div>