<div class="tooltip-container">
  <div class="tooltip-info">Hold [Alt] to interact with tooltip.</div>
  <div class="tooltip-header">

  </div>
  <div class="tooltip-details">

  </div> 
  <div class="tooltip-description">

  </div>
</div>