<div class="margin-right-3 content-border half-table">
  <div class="header">
    <span>Vision</span>
  </div>
  {{#each system.vision as |visionType key|}}
  <div class="row">
    <label class="flexlarge align-left"> {{visionType.label}}</label>
    <input {{#unless @root.isNPC}} disabled {{/unless}} class="vision-range change-actor-numeric-value" type="text" data-path="system.vision.{{key}}.range" value="{{visionType.value}}" data-dtype="Number"/>
  </div>
  {{/each}}
  <div class="footer"></div>
</div>