<div class="skill-check">
  <div class="config-row">
    <label>Skill Check </label>
    <select name="system.check.checkKey">
      {{selectOptions @root.config.checks selected=system.check.checkKey}}
    </select>
  </div>
</div>
{{#ifCond system.actionType '===' "contest"}}
<div class="contest-check">
  <div class="config-row">
    <label>Contested Skill Check </label>
    <select name="system.check.contestedKey">
      {{selectOptions @root.config.checks selected=system.check.contestedKey}}
    </select>
  </div>
</div>
<div class="config-row">
  <label>Fail Description </label>
  <input type="text" name="system.outcome.fail" value="{{system.outcome.fail}}">
</div>
<div class="config-row">
  <label>Success Description </label>
  <input type="text" name="system.outcome.success" value="{{system.outcome.success}}">
</div>
{{/ifCond}}