<div class="skill-check">
  <div class="title-separator">
    <label>Check</label>
  </div>
  <div class="config-row">
    <label>Check </label>
    <select name="system.check.checkKey">
      {{selectOptions @root.config.checks selected=system.check.checkKey}}
    </select>
  </div>
</div>
{{#ifCond system.actionType '===' "contest"}}
<div class="contest-check">
  <div class="config-row">
    <label>Contested By </label>
    <select name="system.check.contestedKey">
      {{selectOptions @root.config.contests selected=system.check.contestedKey}}
    </select>
  </div>
</div>
{{else}}
<div class="config-row">
  <label>Check Difficulty Class </label>
  <input type="text" name="system.check.checkDC" value="{{system.check.checkDC}}" data-dtype="Number" placeholder="-">
</div>
{{/ifCond}}