<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="item-sheet-header">
    <div class="left-header">
      <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    </div>
    <div class="right-header">
      {{!-- Top Row (Info info) --}}
      {{> "systems/dc20rpg/templates/item/parts/header-parts/item-header-name.hbs"}}
      
      {{!-- Item Type Specyfic info --}}
      <div class="bottom-row">
      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="item-sheet-body">

    {{!-- Description Tab --}}
    <div class="tab description-tab border-top padding-top-5">
      {{> "systems/dc20rpg/templates/item/parts/item-description.hbs"}}
    </div>
  </section>
</form>
