.attributes {
  margin: 0;
  font-family: $dc20-font;
  gap: 4px;

  .attribute {
    border: 2px solid black;
    background-color: $secondary-color;
    color: $primary-light;
    border-radius: 5px;

    &.prime-attribute {
      border-color: black;
      color: white;

      .atr-name {
        background-color: $primary-color;
        border-bottom: 2px solid black;
      }

      .value {
        input:disabled {
          color: white;
        }
      }
    }

    .atr-name {
      border-bottom: 2px solid black;
      padding: 4px 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

      label {
        font-size: 14px;
        font-weight: bold;
      }
    }

    .buttons {
      position: relative;
      top: 11px;
      height: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        background-color: $secondary-lighter;
        color: $primary-color;
        border-color: $secondary-dark;
        width: 20px;
        height: 20px;
      }

      .add-attribute-point {
        position: relative;
        right: -5px;
      }

      .subtract-attribute-point {
        position: relative;
        left: -5px
      }
    }
    
    .value {
      font-size: 20px;
      font-weight: bold;
      
      input {
        background: transparent;
        border: 0;
        text-align: center;
        color: $primary-light;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        height: 25px;
        margin-bottom: 5px;
        width: 100%;

        &:disabled {
          color: $primary-light;
        }
      }
    }

    .roll-buttons {
      display: flex;
      justify-content: center;
      align-items: center;

      .check {
        border-radius: 0 15px 0 5px;
      }

      .save {
        border-radius: 15px 0 5px 0;
      }

      .roll-button {
        font-size: 12px;
        color: $primary-color;
        padding: 5px;
        padding-top: 10px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        
        .original {
          font-size: 10px;
          margin-top: 1px;
          margin-bottom: -1px;
          display: flex;
        }

        .hovered {
          margin-top: 1px;
          margin-bottom: -1px;
          display: none;
        }
      }

      .roll-button:hover {
        color: white;
        background-color: $primary-light;
        border-color: white;

        .original {
          display: none;
        }

        .hovered {
          display: flex;
        }
      }

      .save-mastery-container {
        color: $primary-color;
        position: relative;
        top: -15px;
        left: -7px;
        height: 0;
        width: 0;
      }
    }
  }
}

.points-left {
  position: relative;
  height: 0;
  left: -10px;
  top: -15px;

  span {
    margin-top: 1px;
    text-shadow: none;
    background-color: $secondary-lighter;
    border-color: $dark-red;
    color: $dark-red;
    border-radius: 7px;
  }

  &.save-masteries {
    left: calc(100% - 15px);
  }
}