.condition-sub-header {
  background-color: $primary-light;
}

.condition-row {
  font-size: 12px;
  height: 27px;
  display: grid;
  grid-template-columns: 1fr 40px 40px;
  justify-content: center;
  align-items: center;
  padding: 0;

  .column {
    justify-content: center;
    display: flex;

    &.change-actor-numeric-value {
      border-right: 2px solid $primary-color;
      border-left: 2px solid $primary-color;
    }
  }

  input {
    text-align: center;
    background-color: transparent;
    color: black;
    border: 0;
    border-radius: 0;
    height: 26px;
    font-family: $font-foundry;
    font-size: 16px;
    font-weight: bold;

    &:disabled {
      color: black;
    }
  }

  .name {
    font-weight: 100;
    font-size: 12px;
    padding-left: 10px;
    justify-content: start;
    text-align: start;
    font-family: $dc20-font;
  }
}

.custom-condition-row {
  font-size: 12px;
  padding: 2px 5px;
  
  .custom {
    padding-top: 5px;

    span {
      padding-left: 3px;
    }

    textarea {
      min-height: 29px;
      height: 29px;
      font-family: $font-foundry;
      border: 0;
      background-color: transparent;
    }
  }
}