.dmg-reduction-header {
  
}

.dmg-reduction-row, .dmg-reduction-sub-header {
  display: grid;
  grid-template-columns: 1fr 25px 25px 25px 25px 25px;
  padding: 0;

  .column {
    border-left: 2px solid $dc-purple;
    padding: 5px 0;
    height: 100%;

    &:first-child {
      border: 0;
    }

    .input {
      color: black;
      text-align: center;

      &:disabled {
        color: black;
      }
    }
  }
}

.dmg-reduction-sub-header {
  background-color: $light-purple;
}

.dmg-reduction-row {
  
  .icon {
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid $dc-purple;

    display: flex;
    align-items: center;

    .name {
      font-size: 12px;
      margin-top: 4px;
      margin-left: 4px;
    }
  }
}