.dmg-reduction-row, .dmg-reduction-sub-header {
  display: grid;
  grid-template-columns: 30px 1fr 1fr 1fr 1fr 1fr;
  padding: 0;

  .column {
    border-left: 2px solid $primary-color;
    padding: 1px 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:first-child {
      border: 0;
    }

    input {
      color: black;
      text-align: center;
      background-color: transparent;
      border: 0;

      &:disabled {
        color: black;
      }
    }
  }
}

.dmg-reduction-sub-header {
  background-color: $primary-light;
  height: 25px;
}

.dmg-reduction-row {
  height: 30px;
  
  .icon {
    align-items: center;
    justify-content: center;
    background-color: white;

    img {
      border-radius: 0;
      background-color: white;
      height: 25px;
      width: 30px;
      border: 0;
    }
  }
}