.oneliner-header {
  padding-bottom: 3px;
  border-bottom: 2px solid $primary-color;

  span {
    margin-left: 10px;
  }
}

.oneliner-content {
  padding: 5px 2px;
  font-size: 12px;
  font-family: $font-default;

  div {
    display: flex;
    align-items: center;
  }

  .oneliner-row {
    display: flex;
    align-items: center;
  }

  img {
    border-radius: 3px;
    margin-right: 3px;
    background-color: white;
    height: 15px;
    width: 15px;
    border: 1px solid $primary-color;
  }
}