.oneliner-header {
  padding-bottom: 3px;
  border-bottom: 2px solid $primary-color;

  span {
    margin-left: 10px;
  }
}

.oneliner-content {
  padding: 5px 2px;
  font-size: 12px;
  font-family: $font-foundry;

  img {
    margin-bottom: -3px;
    border-radius: 5px;
    background-color: white;
    height: 15px;
    width: 15px;
    border: 1px solid $primary-color;
  }
}