.roll-menu {

  .column {
    height: 70px;
  }

  .first-column {

    .roll-level {

      .toggle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 3px;

        .toggle-actor-numeric {
          display: flex;
          align-items: center;
          justify-content: center;

          padding: 4px 4px 2px 4px;
          width: 25px;
          background-color: $primary-light;
          border: 2px solid $primary-color;
          border-radius: 5px;
          color:$secondary-lighter;
          text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        }

        span {
          margin-top: 4px;
        }
      }
    }
  }

  .middle-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 15px;
    margin-right: 15px;

    .initiative-toggle {
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        padding: 6px 5px 5px 5px;
        font-size: 14px;
        border: 2px solid $secondary-dark;
        background-color: $secondary-lighter;
        color: $secondary-dark;
        border-radius: 5px;
      }

      span:hover {
        box-shadow: 0 0 5px 3px #fd0000bd inset;
      }
    } 

    .initiative-toggle.active span {
      background-color: $primary-color;
      border-color: white;
      color: white;
    }

    .special-rolls {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon-wrapper {
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 0 3px;

        .icon {
          font-size: 1.5em;
          color: $primary-color;
        }
      }
    }
  }

  .last-column {

    .help-dices {
      display: flex;

      .value {
        position: relative;
        top: -24px;
        left: 0.5px;

        display: flex;
        justify-content: center;
        align-items: center;

        span {
          color: $secondary-lighter;
          font-size: 16px;
          text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        }
      }

      .dice {
        color: $primary-light;
        font-size: 2.5em;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $primary-color;
      }

      .triangle {
        margin-top: 15px;
        margin-left: -3px;

        .value {
          top: -26px;
        }

        .dice {
          font-size: 3em;
        }
      }

      .square {
        margin-left: -2px;
      }

      .diamond {
        margin-top: 20px;
      }
    }
  }
}